Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

fix: announcements bar "new" badge color
  src/components/ui/announcement.tsx
Labels: none

fix: tweaks
  .gitignore
  scripts/submit-indexnow.ts
  src/components/features/content/collection-card.tsx
  src/components/features/content/config-card.tsx
  src/hooks/use-local-storage.ts
  src/lib/seo/metadata-registry.ts
  src/lib/utils/content.utils.ts
  src/middleware.ts
  tests/e2e/seo/robots.spec.ts
  tests/unit/components/error-boundary.a11y.test.tsx
  tests/unit/hooks/use-local-storage.test.tsx
  tests/utils/storage-helpers.ts
Labels: security

feat: add comprehensive tech debt system
  .gitignore
  config/tools/lefthook.yml
  config/tools/tech-debt/README.md
  config/tools/tech-debt/tracker.sh
  package.json
Labels: dependencies

fix: cleanup tech-debt
  package.json
  tests/tsconfig.json
  tests/unit/lib/structured-data/schema-builder.test.ts
  tsconfig.json
Labels: dependencies

fix: tech-debt
  tests/factories/__tests__/factories.test.ts
  tests/factories/user/bookmark.factory.ts
  tests/tsconfig.json
  tests/unit/lib/structured-data/schema-builder.test.ts
Labels: none

Fix: Improve type guard, regex escaping, and storage event simulation
  package.json
  src/lib/llms-txt/content-builder.ts
  tests/e2e/seo/robots.spec.ts
  tests/unit/hooks/use-local-storage.test.tsx
Labels: dependencies

feat: Add dynamic sitemap entries for jobs and users
  src/lib/build/url-generator.ts
Labels: none

Refactor: Update static file exclusion regex
  src/middleware.ts
Labels: security

Fix: Exclude assets/ from regex exclusion
  src/middleware.ts
Labels: security

Fix: Use correct date format for job lastmod
  src/lib/build/url-generator.ts
Labels: none

Address codeql warnings and workflow exclusion (#93)
  package.json
  src/lib/build/url-generator.ts
  src/lib/llms-txt/content-builder.ts
  src/middleware.ts
  tests/e2e/seo/robots.spec.ts
  tests/unit/hooks/use-local-storage.test.tsx
Labels: security, dependencies

Refactor: Improve type guard and remove unnecessary StorageEvent options
  package-lock.json
  src/lib/llms-txt/content-builder.ts
  tests/unit/hooks/use-local-storage.test.tsx
Labels: dependencies

feat: Add Vercel Speed Insights and remove WebVitals
  next.config.mjs
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/shared/web-vitals.tsx
Labels: dependencies

Refactor: Use UI constants for consistent styling
  src/components/layout/navigation-command-menu.tsx
  src/lib/ui-constants.ts
Labels: none

Refactor: Use UI_CLASSES constants for Tailwind CSS classes
  src/app/account/library/page.tsx
  src/components/features/profile/activity-timeline.tsx
  src/components/library/collection-item-manager.tsx
  src/components/submit/submit-form-client.tsx
  src/components/tools/recommender/results-display.tsx
Labels: none

Checkpoint before follow-up message
  src/components/layout/announcement-banner.tsx
  src/components/library/collection-form.tsx
  src/components/shared/inline-email-cta.tsx
  src/components/unified-detail-page/collection-detail-view.tsx
Labels: none

Checkpoint before follow-up message
  src/app/account/submissions/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/components/layout/navigation.tsx
  src/components/submit/examples-array-input.tsx
Labels: none

Checkpoint before follow-up message
  src/app/account/library/[slug]/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/page.tsx
Labels: none

fix: Remove duplicate JSX closing tags in navigation.tsx
  src/app/account/library/[slug]/page.tsx
  src/components/layout/navigation.tsx
Labels: none

refactor: Continue flex pattern consolidation across components
  src/components/layout/announcement-banner.tsx
  src/components/layout/navigation-command-menu.tsx
  src/components/library/collection-item-manager.tsx
  src/components/shared/inline-email-cta.tsx
Labels: none

Checkpoint before follow-up message
  src/components/shared/inline-email-cta.tsx
Labels: none

Refactor: Use UI_CLASSES for consistent styling
  src/app/account/layout.tsx
  src/app/account/library/[slug]/page.tsx
  src/app/account/library/page.tsx
  src/app/account/settings/page.tsx
  src/app/api-docs/layout.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/loading.tsx
  src/app/changelog/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/content/info-box.tsx
  src/components/features/content/collection-card.tsx
  src/components/interactive/expert-quote.tsx
  src/components/layout/navigation-command-menu.tsx
  src/components/layout/navigation.tsx
  src/components/layout/theme-toggle.tsx
  src/components/library/collection-form.tsx
  src/components/shared/error-boundary.tsx
  src/components/shared/footer-newsletter-bar.tsx
  src/components/shared/inline-email-cta.tsx
  src/components/shared/job-card.tsx
  src/components/shared/production-code-block.tsx
  src/components/submit/examples-array-input.tsx
  src/components/submit/template-selector.tsx
  src/components/template/step-guide.tsx
  src/components/tools/recommender/quiz-form.tsx
  src/components/tools/recommender/quiz-progress.tsx
  src/components/tools/recommender/share-results.tsx
  src/components/troubleshooting/diagnostic-flow.tsx
  src/components/ui/command.tsx
  templates/seo/collection-template.mdx
Labels: none

Refactor: Import UI_CLASSES from ui-constants
  src/app/api-docs/layout.tsx
  src/components/ui/command.tsx
  templates/seo/collection-template.mdx
Labels: none

Refactor: Use UI_CLASSES constants for Tailwind CSS classes
  src/app/account/jobs/page.tsx
  src/app/account/sponsorships/page.tsx
  src/app/api-docs/layout.tsx
  src/app/auth/auth-code-error/page.tsx
  src/app/board/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/page.tsx
  src/app/submit/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/features/profile/profile-edit-form.tsx
  src/components/features/reviews/review-section.tsx
  src/components/shared/newsletter-form.tsx
  src/components/tools/recommender/results-display.tsx
  src/components/ui/loading-skeleton.tsx
  src/components/ui/magic/rolling-text.tsx
Labels: none

feat: Add profile privacy and refresh functionality
  src/app/account/settings/page.tsx
  src/components/features/profile/profile-edit-form.tsx
Labels: none

Refactor API routes to use createApiRoute factory
  src/app/api/[contentType]/route.ts
  src/app/api/all-configurations.json/route.ts
  src/app/api/cache/warm/route.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/api/emails/preview/route.ts
  src/app/api/guides/trending/route.ts
  src/lib/error-handler.ts
Labels: none

feat: Add cron task executor with dependency resolution
  src/lib/utils/batch.utils.ts
Labels: none

Refactor: Implement API caching for trending guides
  package-lock.json
  package.json
  src/app/api/guides/trending/route.ts
  src/lib/cache.ts
Labels: dependencies

Update typescript dependency
  package.json
Labels: dependencies

Refactor: Use UI_CONFIG for pagination limits
  src/app/api/all-configurations.json/route.ts
  src/app/api/cache/warm/route.ts
  src/app/api/guides/trending/route.ts
  src/components/content-search-client.tsx
  src/components/features/home/index.tsx
  src/lib/cache.ts
  src/lib/repositories/badge.repository.ts
  src/lib/repositories/bookmark.repository.ts
  src/lib/repositories/collection.repository.ts
  src/lib/repositories/comment.repository.ts
  src/lib/repositories/company.repository.ts
  src/lib/repositories/content-similarity.repository.ts
  src/lib/repositories/follower.repository.ts
  src/lib/repositories/job.repository.ts
  src/lib/repositories/post.repository.ts
  src/lib/repositories/review.repository.ts
  src/lib/repositories/sponsored-content.repository.ts
  src/lib/repositories/submission.repository.ts
  src/lib/repositories/user-affinity.repository.ts
  src/lib/repositories/user-badge.repository.ts
  src/lib/repositories/user-interaction.repository.ts
  src/lib/repositories/user.repository.ts
  src/lib/repositories/vote.repository.ts
  src/lib/schemas/primitives/cursor-pagination.schema.ts
  src/lib/search-adapters/fuzzysort-adapter.ts
Labels: none

Test: Align pagination config with UI_CONFIG
  tests/unit/config/pagination-config.test.ts
Labels: none

Refactor: Unify API response handling and error management
  src/app/api/og/route.ts
  src/lib/error-handler.ts
Labels: none

Refactor API responses to use apiResponse utility
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/api/emails/preview/route.ts
  src/app/api/og/route.ts
  src/app/api/webhooks/resend/route.ts
Labels: none

Refactor: Use apiResponse for consistent response handling
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/rss.xml/route.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/lib/middleware/cron-auth.ts
  src/lib/rate-limiter.ts
Labels: none

Checkpoint before follow-up message
  src/app/account/settings/page.tsx
  src/app/api/[contentType]/route.ts
  src/app/api/all-configurations.json/route.ts
  src/app/api/cache/warm/route.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/api/emails/preview/route.ts
  src/app/api/guides/trending/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/llms.txt/route.ts
  src/lib/rate-limiter.ts
Labels: none

Refactor: Improve SpeedInsights import and error handling
  src/app/layout.tsx
  src/components/ui/command.tsx
  src/components/ui/magic/rolling-text.tsx
  src/components/unified-detail-page/collection-detail-view.tsx
  src/lib/cache.ts
  src/lib/error-handler.ts
  src/lib/rate-limiter.ts
Labels: none

Fix: Use template literal for long path test
  tests/unit/security/rate-limit-rules.test.ts
Labels: none

Refactor: Improve test utility exports and path handling
  tests/unit/security/rate-limit-rules.test.ts
  tests/utils/test-utils.tsx
Labels: none

fix: dependencies
  package-lock.json
Labels: dependencies

feat: Add skills content type and integration
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/api/[contentType]/route.ts
  src/app/llms.txt/route.ts
  src/app/trending/page.tsx
  src/config/navigation.ts
  src/lib/config/build-category-config.ts
  src/lib/config/category-config.ts
  src/lib/config/content-type-configs.tsx
  src/lib/constants.ts
  src/lib/content/content-loaders.ts
  src/lib/schemas/api/static-api-response.schema.ts
  src/lib/schemas/component.schema.ts
  src/lib/schemas/components/content-item.schema.ts
  src/lib/schemas/content/content-item-union.schema.ts
  src/lib/schemas/content/skill.schema.ts
  src/lib/schemas/shared.schema.ts
  src/lib/seo/metadata-registry.ts
  src/lib/seo/schema-metadata-adapter.ts
  src/lib/services/digest.service.ts
  src/lib/structured-data/schema-types.ts
  src/lib/trending/calculator.ts
  templates/content/skills-template.json
Labels: content-submission

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
