Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

fix: revert to working state
  src/app/guides/page.tsx
  src/lib/utils/content.utils.ts
Labels: none

feat: Synchronous metadata generation for optimal Next.js 15 performance
  src/app/api/og/route.ts
  src/lib/config/rate-limits.config.ts
  src/lib/seo/metadata-generator.ts
  src/lib/seo/metadata-registry.ts
Labels: none

fix: using revalidation constants
  src/app/[category]/page.tsx
  src/app/account/activity/page.tsx
  src/app/account/bookmarks/page.tsx
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/library/[slug]/edit/page.tsx
  src/app/account/library/[slug]/page.tsx
  src/app/account/library/new/page.tsx
  src/app/account/library/page.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/account/sponsorships/page.tsx
  src/app/account/submissions/page.tsx
  src/app/auth/auth-code-error/page.tsx
  src/app/board/new/page.tsx
  src/app/board/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/page.tsx
  src/app/community/page.tsx
  src/app/companies/page.tsx
  src/app/for-you/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/partner/page.tsx
  src/app/sitemap.ts
  src/app/submit/layout.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/trending/page.tsx
Labels: none

fix: revalidation
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/api-docs/llms.txt/route.ts
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/app/tools/config-recommender/llms.txt/route.ts
Labels: none

fix: reverted changes
  src/app/account/jobs/[id]/edit/page.tsx
  src/components/features/profile/profile-edit-form.tsx
  src/components/jobs/job-form.tsx
  src/lib/actions/business.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/schemas/content/job.schema.ts
  src/lib/schemas/profile.schema.ts
Labels: security

fix: revalidation issues
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/board/page.tsx
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/page.tsx
  src/app/llms.txt/route.ts
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/trending/page.tsx
  src/lib/config/rate-limits.config.ts
  src/lib/schemas/env.schema.ts
Labels: none

fix: build issues
  next.config.mjs
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/board/page.tsx
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/page.tsx
  src/app/llms.txt/route.ts
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/trending/page.tsx
  src/components/layout/sidebar/unified-sidebar.tsx
  src/lib/error-handler.ts
Labels: none

fix: package updates
  package-lock.json
Labels: dependencies

chore: fix broken changelog entry
  CHANGELOG.md
Labels: none

fix: client + server optimizations
  src/hooks/use-search.ts
Labels: none

chore: Extract client-safe error handling to eliminate server/client boundary violation
  src/components/shared/error-boundary.tsx
  src/lib/error-handler.ts
  src/lib/error-handler/client.ts
Labels: none

fix: toast call migration
  src/components/auth/auth-buttons.tsx
  src/components/features/profile/profile-edit-form.tsx
  src/components/features/reviews/review-form.tsx
  src/components/features/reviews/review-section.tsx
  src/components/layout/user-menu.tsx
  src/components/shared/production-code-block.tsx
  src/components/submit/submit-form-client.tsx
  src/components/tools/recommender/quiz-form.tsx
  src/components/tools/recommender/results-display.tsx
  src/components/tools/recommender/share-results.tsx
  src/lib/utils/toast.utils.ts
Labels: none

fix: toasts migration
  src/components/jobs/job-actions.tsx
  src/components/jobs/job-form.tsx
  src/components/library/collection-form.tsx
  src/components/library/collection-item-manager.tsx
  src/components/shared/base-action-button.tsx
  src/components/shared/bookmark-button.tsx
  src/components/shared/card-copy-action.tsx
  src/components/shared/post-copy-email-modal.tsx
  src/components/unified-detail-page/detail-header-actions.tsx
  src/hooks/use-newsletter.ts
  src/lib/client/browser-utils.ts
  src/lib/config/content-type-configs.tsx
Labels: none

feat: Dynamic category system architecture
  CHANGELOG.md
  src/app/page.tsx
  src/components/features/home/index.tsx
  src/components/shared/lazy-content-loaders.tsx
  src/lib/config/category-config.ts
  src/lib/schemas/components/page-props.schema.ts
  src/lib/utils/content.utils.ts
Labels: none

refactor: cleanup events system
  package.json
  scripts/generate-events.ts
  src/lib/analytics/event-mapper.ts
  src/lib/analytics/event-payloads.types.ts
  src/lib/analytics/events.config.ts
  src/lib/analytics/events.constants.ts
  src/lib/analytics/events/related-content.ts
  src/lib/analytics/tracker.ts
Labels: dependencies

fix: events consolidation/optizationss #2
  scripts/generate-events.ts
  src/components/personalization/for-you-feed-client.tsx
  src/components/shared/post-copy-email-modal.tsx
  src/hooks/use-newsletter.ts
  src/lib/analytics/event-mapper.ts
  src/lib/analytics/event-payloads.types.ts
  src/lib/analytics/events.config.ts
  src/lib/analytics/events.constants.ts
  src/lib/analytics/events/related-content.ts
  src/lib/analytics/tracker.ts
  src/lib/services/email-orchestration.server.ts
Labels: none

fix: content-type configs refactor
  src/lib/analytics/events.constants.ts
  src/lib/config/content-type-configs.tsx
  src/lib/config/factories/action-factories.tsx
  src/lib/config/factories/generator-factories.ts
Labels: none

fix: switch/case to config lookups
  src/lib/analytics/events.constants.ts
  src/lib/github/content-manager.ts
  src/lib/llms-txt/content-builder.ts
  src/lib/utils/content.utils.ts
  src/lib/validation/content-validator.ts
Labels: none

fix: merge issues
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/board/page.tsx
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/page.tsx
  src/app/changelog/rss.xml/route.ts
  src/app/companies/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/lib/actions/business.actions.ts
  src/lib/analytics/events.constants.ts
Labels: security

chore: technical debt
  src/app/api/[contentType]/route.ts
  src/app/api/all-configurations.json/route.ts
  src/app/api/cache/warm/route.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/api/emails/preview/route.ts
  src/app/api/guides/trending/route.ts
  src/components/content-search-client.tsx
  src/components/features/home/index.tsx
  src/components/features/profile/profile-edit-form.tsx
  src/components/features/reviews/review-section.tsx
  src/lib/config/content-type-configs.tsx
  src/lib/config/factories/action-factories.tsx
  src/lib/error-handler.ts
  src/lib/error-handler/client.ts
  src/lib/middleware/cron-auth.server.ts
  src/lib/rate-limiter.server.ts
Labels: none

fix: outstanding bugs/optimizations
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/webhooks/resend/route.ts
  src/app/auth/callback/route.ts
  src/components/auth/auth-buttons.tsx
  src/components/content-search-client.tsx
  src/components/features/home/index.tsx
  src/components/features/home/search-section.tsx
  src/components/features/home/tabs-section.tsx
  src/components/shared/infinite-scroll-container.tsx
  src/components/shared/virtualized-grid.tsx
  src/hooks/use-infinite-scroll.ts
  src/hooks/use-local-storage.ts
  src/lib/actions/safe-action.ts
  src/lib/analytics/events.constants.ts
  src/lib/github/content-manager.ts
  src/lib/github/pr-template.ts
  src/lib/schemas/form.schema.ts
  src/lib/services/digest.server.ts
  src/lib/services/featured.server.ts
  src/lib/supabase/server.ts
  src/lib/utils/integration.utils.ts
  src/middleware.ts
Labels: security, dependencies

fix: Critical Performance Optimizations (2/9)
  src/app/[category]/[slug]/page.tsx
  src/components/content-search-client.tsx
  src/lib/analytics/events.constants.ts
  src/lib/build/category-processor.server.ts
  src/lib/schemas/components/content-item.schema.ts
  src/lib/schemas/content/base-content.schema.ts
Labels: none

fix: additional issues
  next.config.mjs
  src/app/layout.tsx
  src/app/page.tsx
  src/components/content-search-client.tsx
  src/components/features/home/search-section.tsx
  src/components/features/home/tabs-section.tsx
  src/components/shared/virtualized-grid.tsx
  src/lib/analytics/events.constants.ts
  src/lib/utils/content.utils.ts
Labels: none

fix: architectural issues
  src/app/page.tsx
  src/lib/analytics/events.constants.ts
Labels: none

fix: various enhancements
  build-output.txt
  package.json
  public/.well-known/security.txt
  scripts/generate-service-worker.ts
  scripts/warm-cache.ts
  src/app/api/guides/trending/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/shared/lazy-content-loaders.tsx
  src/components/shared/virtualized-grid.tsx
  src/lib/actions/analytics.actions.ts
  src/lib/actions/safe-action.ts
  src/lib/analytics/events.constants.ts
  src/lib/cache.server.ts
  src/lib/config/rate-limits.config.ts
  src/lib/constants.ts
  src/lib/constants/security.ts
  src/lib/rate-limiter.server.ts
  src/lib/security/security-monitor.server.ts
Labels: security, dependencies

fix: linting + formatting
  tests/factories/index.ts
  tests/setup.tsx
  tests/unit/components/error-boundary.a11y.test.tsx
Labels: none

fix: JSON.parse + other optimizations
  scripts/generate-og-images.ts
  scripts/generate-service-worker.ts
  scripts/migrate-examples-schema.ts
  scripts/optimize-titles.ts
  scripts/validate-content.ts
  scripts/validate-seo.ts
  src/app/(seo)/compare/[slug]/page.tsx
  src/components/shared/virtualized-grid.tsx
  src/components/submit/submit-form-client.tsx
  src/components/submit/template-selector.tsx
  src/hooks/use-announcement-dismissal.ts
  src/hooks/use-local-storage.ts
  src/lib/build/category-processor.server.ts
  src/lib/cache.server.ts
  src/lib/content/language-detection.ts
  src/lib/content/mdx-config.ts
  src/lib/github/content-manager.ts
  src/lib/schemas/form.schema.ts
  src/lib/schemas/primitives/cursor-pagination.schema.ts
  src/lib/schemas/recommender.schema.ts
  src/lib/services/email-sequence.server.ts
  src/lib/utils/data.utils.ts
  tests/e2e/seo/comprehensive-sitemap-coverage.spec.ts
  tests/e2e/seo/metadata-quality.spec.ts
  tests/e2e/seo/metadata.spec.ts
  tests/unit/hooks/use-announcement-dismissal.test.ts
  tests/unit/lib/schemas/content/agent.schema.test.ts
  tests/unit/lib/schemas/content/schema-test-generator.ts
Labels: none

fix: optimizations
  src/lib/cache.server.ts
  src/lib/services/email-sequence.server.ts
Labels: none

fix: final consolidations
  scripts/migrate-examples-schema.ts
  scripts/validate-content-loader.ts
  scripts/validate-h1-tags.ts
  scripts/validate-sitemap-coverage.ts
  src/components/layout/user-menu.tsx
  src/components/ui/button.tsx
  src/components/unified-detail-page/sidebar/detail-sidebar.tsx
Labels: none

fix: broken virtualizer
  src/components/shared/virtualized-grid.tsx
Labels: none

fix: card display
  src/components/shared/virtualized-grid.tsx
Labels: none

feat: new content + re-add infinite scroll
  CHANGELOG.md
  content/agents/ai-code-review-security-agent.json
  content/agents/ai-devops-automation-engineer-agent.json
  content/agents/cloud-infrastructure-architect-agent.json
  content/agents/data-pipeline-engineering-agent.json
  content/agents/full-stack-ai-development-agent.json
  content/agents/product-management-ai-agent.json
  content/rules/ai-prompt-engineering-expert.json
  content/rules/graphql-federation-specialist.json
  content/rules/kubernetes-devsecops-engineer.json
  content/rules/nextjs-15-performance-architect.json
  content/rules/react-server-components-expert.json
  content/rules/terraform-infrastructure-architect.json
  content/rules/wcag-accessibility-auditor.json
  content/skills/cloudflare-workers-ai-edge.json
  content/skills/playwright-e2e-testing.json
  content/skills/postgresql-query-optimization.json
  content/skills/supabase-realtime-database.json
  content/skills/trpc-type-safe-api.json
  content/skills/webassembly-module-development.json
  content/skills/zod-schema-validator.json
  package-lock.json
  package.json
  src/components/content-search-client.tsx
  src/components/features/home/search-section.tsx
  src/components/features/home/tabs-section.tsx
  src/components/shared/infinite-scroll-grid.tsx
  src/components/shared/virtualized-grid.tsx
  src/hooks/use-infinite-scroll.ts
Labels: content-submission, dependencies

chore: fix old changelog formatting
  CHANGELOG.md
Labels: none

feat: add 20 AI-native development content pieces (agents, statuslines, rules, commands, skills)
  CHANGELOG.md
  content/agents/autogen-conversation-agent-builder.json
  content/agents/domain-specialist-ai-agents.json
  content/agents/multi-agent-orchestration-specialist.json
  content/agents/semantic-kernel-enterprise-agent.json
  content/commands/autogen-workflow.json
  content/commands/cursor-rules.json
  content/commands/mintlify-docs.json
  content/commands/v0-generate.json
  content/rules/react-19-concurrent-features-specialist.json
  content/rules/security-first-react-components.json
  content/rules/typescript-5x-strict-mode-expert.json
  content/rules/windsurf-ai-native-ide-patterns.json
  content/skills/github-actions-ai-cicd.json
  content/skills/mintlify-documentation-automation.json
  content/skills/v0-rapid-prototyping.json
  content/skills/windsurf-collaborative-development.json
  content/statuslines/mcp-server-status-monitor.json
  content/statuslines/multi-provider-token-counter.json
  content/statuslines/real-time-cost-tracker.json
  content/statuslines/starship-powerline-theme.json
Labels: content-submission

fix: support skills category in validation workflow and expand language enum for code examples
  .github/workflows/content-validation.yml
  src/lib/schemas/content/base-content.schema.ts
Labels: github-actions

chore: optimize github actions workflows
  .github/actions/setup-node-deps/action.yml
  .github/actions/validate-content/action.yml
  .github/workflows/build-reusable.yml
  .github/workflows/bundle-analysis.yml
  .github/workflows/ci.yml
  .github/workflows/content-validation.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/security.yml
  .github/workflows/seo-validation.yml
  scripts/check-quality-gates.sh
Labels: security, github-actions

chore: cleanup scripts dir, update paths, ignored build step
  .github/actions/validate-content/action.yml
  package.json
  scripts/build/build-content.ts
  scripts/build/generate-events.ts
  scripts/build/generate-fumadocs-api.ts
  scripts/build/generate-og-images.ts
  scripts/build/generate-openapi.ts
  scripts/build/generate-service-worker.ts
  scripts/build/generate-static-apis.ts
  scripts/github-actions/check-quality-gates.sh
  scripts/utilities/submit-indexnow.ts
  scripts/utilities/warm-cache.ts
  scripts/validation/optimize-titles.ts
  scripts/validation/validate-content.ts
  scripts/validation/validate-llmstxt.ts
  scripts/validation/validate-seo.ts
  scripts/validation/verify-titles.ts
  vercel.json
Labels: dependencies, github-actions

feat: add BetterStack heartbeat monitoring for cron jobs
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/lib/schemas/env.schema.ts
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: none

chore: fix PWA config, add events
  next.config.mjs
  public/scripts/service-worker-init.js
  scripts/build/generate-events.ts
  src/app/layout.tsx
  src/components/shared/pwa-install-tracker.tsx
  src/lib/analytics/events.constants.ts
  src/middleware.ts
Labels: security
