Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

feat: enrich MCP content (batch 1)
  content/mcp/airtable-mcp-server.json
  content/mcp/asana-mcp-server.json
  content/mcp/aws-services-mcp-server.json
Labels: content-submission

feat(content): enrich 36 MCP servers with verified FAQ troubleshooting
  content/mcp/box-mcp-server.json
  content/mcp/canva-mcp-server.json
  content/mcp/clickup-mcp-server.json
  content/mcp/cloudflare-mcp-server.json
  content/mcp/cloudinary-mcp-server.json
  content/mcp/daloopa-mcp-server.json
  content/mcp/discord-mcp-server.json
  content/mcp/docker-mcp-server.json
  content/mcp/figma-mcp-server.json
  content/mcp/filesystem-mcp-server.json
  content/mcp/fireflies-mcp-server.json
  content/mcp/git-mcp-server.json
  content/mcp/github-mcp-server.json
  content/mcp/hubspot-mcp-server.json
  content/mcp/hugging-face-mcp-server.json
  content/mcp/intercom-mcp-server.json
  content/mcp/invideo-mcp-server.json
  content/mcp/jam-mcp-server.json
  content/mcp/jira-mcp-server.json
  content/mcp/kubernetes-mcp-server.json
  content/mcp/linear-mcp-server.json
  content/mcp/monday-mcp-server.json
  content/mcp/netlify-mcp-server.json
  content/mcp/notion-mcp-server.json
  content/mcp/paypal-mcp-server.json
  content/mcp/plaid-mcp-server.json
  content/mcp/postgresql-mcp-server.json
  content/mcp/redis-mcp-server.json
  content/mcp/sentry-mcp-server.json
  content/mcp/socket-mcp-server.json
  content/mcp/square-mcp-server.json
  content/mcp/stripe-mcp-server.json
  content/mcp/stytch-mcp-server.json
  content/mcp/vercel-mcp-server.json
  content/mcp/workato-mcp-server.json
  content/mcp/zapier-mcp-server.json
Labels: content-submission

perf: complete performance optimization sprint and fix guides view tracking
  package-lock.json
  package.json
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/[slug]/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/page.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/trending/page.tsx
  src/components/content-list-server.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/domain/unified-card-grid.tsx
  src/components/features/home/featured-sections.tsx
  src/components/features/home/index.tsx
  src/components/infra/lazy-section.tsx
  src/components/layout/navigation.tsx
  src/components/shared/trending-content.tsx
  src/components/shared/umami-script.tsx
  src/lib/actions/content.actions.ts
  src/lib/cache.server.ts
  src/lib/content/markdown-utils.ts
  src/lib/llms-txt/generator.ts
  src/lib/llms-txt/markdown-to-plain.ts
  src/lib/repositories/collection.repository.ts
  src/lib/schemas/content/collection.schema.ts
  src/lib/security/html-sanitizer.ts
  src/lib/security/validators.ts
  src/lib/structured-data/schema-types.ts
  src/middleware.ts
Labels: security, dependencies

feat: content generation system
  config/content/category-config.ts
  config/content/discovery/run-discovery.ts
  config/content/discovery/trend-detection.ts
  config/content/generation-rules.ts
  config/content/quality/seo-standards.ts
  config/content/validation/category-validators.ts
  config/content/validation/generic-validator.ts
  config/content/workflow-helpers.ts
  config/seo/enrichment/category-rules.ts
  package-lock.json
  package.json
  src/lib/seo/metadata-templates.ts
  src/lib/seo/validation-schemas.ts
  tests/unit/config/content-validation.test.ts
Labels: dependencies

feat: troubleshooting enrichment
  content/hooks/environment-cleanup-handler.json
  content/hooks/final-bundle-size-reporter.json
  content/hooks/git-branch-protection.json
  content/hooks/github-actions-workflow-validator.json
  content/hooks/go-module-tidy.json
  content/hooks/jest-snapshot-auto-updater.json
  content/hooks/markdown-link-checker.json
  content/hooks/performance-monitor.json
  content/hooks/playwright-test-runner.json
  content/hooks/python-import-optimizer.json
  content/hooks/react-component-test-generator.json
  content/hooks/real-time-activity-tracker.json
  content/hooks/rust-cargo-check.json
  content/hooks/security-scanner-hook.json
  content/hooks/sensitive-data-alert-scanner.json
  content/hooks/session-metrics-collector.json
  content/hooks/test-coverage-final-report.json
  content/hooks/typescript-compilation-checker.json
  content/hooks/workflow-completion-report.json
Labels: content-submission

fix: middleware optimizations
  src/app/account/layout.tsx
  src/app/globals.css
  src/lib/schemas/middleware.schema.ts
  src/middleware.ts
Labels: security

fix: middleware optimizations
  src/middleware.ts
Labels: security

chore: linting + formatting
  config/content/category-config.ts
  config/content/quality/seo-standards.ts
  config/content/validation/category-validators.ts
  config/content/validation/generic-validator.ts
  scripts/build/generate-category-artifacts.ts
  scripts/build/generate-db-types.ts
  scripts/build/generate-routes.ts
  scripts/changelog/generate-entry.ts
  scripts/testing/track-coverage.ts
  scripts/validation/validate.ts
  src/components/content/unified-content-block.stories.tsx
  src/components/domain/swipeable-card-wrapper.stories.tsx
  src/components/domain/unified-card-grid.stories.tsx
  src/components/domain/unified-content-box.stories.tsx
  src/components/features/analytics/metrics-display.stories.tsx
  src/components/features/badges/badge-grid.stories.tsx
  src/components/features/changelog/changelog-list-client.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/features/reputation/activity-timeline.stories.tsx
  src/components/features/reputation/reputation-breakdown.stories.tsx
  src/lib/rate-limiter.server.ts
  tests/unit/lib/seo/route-classifier.test.ts
Labels: none

fix: vercel build errors
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/features/search/search-filter-panel.stories.tsx
  src/components/forms/job-form.stories.tsx
  src/components/infra/error-boundary.stories.tsx
  src/components/layout/footer.stories.tsx
  src/components/layout/navigation.stories.tsx
  src/components/layout/sidebar/unified-sidebar.stories.tsx
  src/lib/content/markdown-utils.ts
  src/lib/llms-txt/generator.ts
  src/lib/llms-txt/markdown-to-plain.ts
  src/lib/security/html-sanitizer.ts
  src/lib/security/validators.ts
  tests/unit/config/content-validation.test.ts
  tests/unit/lib/seo/metadata-templates.test.ts
Labels: security

fix: server component issues
  src/app/api/emails/preview/route.ts
  src/components/content/unified-content-section.stories.tsx
  src/components/content/unified-content-section.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/features/search/search-filter-panel.stories.tsx
  src/components/features/search/unified-search.stories.tsx
  src/components/layout/sidebar/unified-sidebar.stories.tsx
Labels: none

fix: minor design tweaks
  src/components/content/unified-content-section.stories.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/features/home/index.tsx
  src/components/features/search/search-filter-panel.stories.tsx
  src/components/features/search/unified-search.stories.tsx
  src/components/forms/examples-array-input.stories.tsx
  src/components/forms/job-form.stories.tsx
  src/components/forms/new-post-form.stories.tsx
  src/components/forms/profile-edit-form.stories.tsx
  src/components/forms/utilities/list-item-manager.tsx
  src/components/layout/announcement-banner.tsx
  src/components/layout/footer.stories.tsx
  src/components/layout/navigation.stories.tsx
  src/components/layout/sidebar/unified-sidebar.stories.tsx
  src/lib/actions/badges.actions.mock.ts
  src/lib/analytics/events/related-content.mock.ts
  src/lib/analytics/tracker.mock.ts
Labels: security

fix: remove meteors effect, reduce counters spacing
  src/app/page.tsx
  src/components/features/home/index.tsx
Labels: none

fix: broken hook content formatting + update changelog build
  content/hooks/dead-code-eliminator.json
  scripts/build/build-content.ts
Labels: content-submission

fix: sitemap generator updates, linting + formatting
  config/content/generation-rules.ts
  scripts/build/generate-category-artifacts.ts
  scripts/build/generate-events.ts
  src/app/sitemap.ts
  src/lib/build/url-generator.server.ts
  src/lib/cache.server.mock.ts
  src/lib/content/lazy-content-loaders.ts
  src/lib/error-handler.ts
  src/lib/security/html-sanitizer.ts
  src/lib/seo/validation-schemas.ts
  tests/unit/lib/config/category-registry.test.ts
Labels: security

fix: announcement bar display issues
  src/components/layout/announcement-banner.tsx
Labels: none

chore: linting + formatting, rectify workflow issues
  .github/workflows/dead-code-detection.yml
  config/content/generation-rules.ts
  scripts/changelog/generate-entry.ts
  scripts/validation/validate.ts
  src/components/domain/config-card.tsx
  src/components/domain/unified-badge.tsx
  src/components/domain/unified-card-grid.tsx
  src/components/features/changelog/changelog-list-client.tsx
  src/lib/related-content/service.mock.ts
  src/lib/schemas/shared.schema.ts
  src/lib/security/validators-sync.ts
  src/lib/seo/metadata-templates.ts
  src/lib/seo/route-scanner.ts
  src/lib/supabase/client.mock.ts
  src/lib/ui-constants.ts
  src/lib/utils/cli-reporter.ts
  src/lib/utils/view-transitions.utils.ts
  tests/unit/config/content-validation.test.ts
Labels: security, github-actions

fix: github action workflows cleanup, upstash redis optimizations
  .github/workflows/bundle-analysis.yml
  .github/workflows/content-validation.yml
  .github/workflows/dead-code-detection.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/seo-validation.yml
  .github/workflows/validation.yml
  config/tools/knip.json
  config/tools/playwright.config.ts
  package-lock.json
  package.json
  src/lib/rate-limiter.server.ts
  src/lib/services/webhook.server.ts
Labels: dependencies, github-actions

Refactor: Optimize rate limiting and cache TTLs
  src/lib/actions/safe-action.ts
  src/lib/cache.server.ts
  src/lib/content/content-loaders.ts
Labels: security

Refactor: Optimize trending and popular content calculation
  src/app/api/guides/trending/route.ts
  src/lib/actions/analytics.actions.ts
  src/lib/cache.server.ts
Labels: security

feat: Optimize analytics and rate limiting
  src/lib/actions/safe-action.ts
  src/lib/actions/track-view.ts
  src/lib/cache.server.ts
  src/lib/rate-limiter.server.ts
  src/lib/services/analytics-queue.server.ts
Labels: security

Checkpoint before follow-up message
  src/lib/actions/analytics.actions.ts
  src/lib/cache.server.ts
  src/lib/services/analytics-queue.server.ts
Labels: security

Optimize upstash redis command usage (#120)
  src/app/api/guides/trending/route.ts
  src/lib/actions/analytics.actions.ts
  src/lib/actions/safe-action.ts
  src/lib/actions/track-view.ts
  src/lib/cache.server.ts
  src/lib/content/content-loaders.ts
  src/lib/rate-limiter.server.ts
  src/lib/services/analytics-queue.server.ts
Labels: security

chore: linting + formatting
  src/app/api/guides/trending/route.ts
  src/lib/actions/safe-action.ts
  src/lib/cache.server.ts
  src/lib/services/analytics-queue.server.ts
Labels: security

feat: optimize Redis cache usage (#121)
  .github/workflows/bundle-analysis.yml
  .github/workflows/content-validation.yml
  .github/workflows/dead-code-detection.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/seo-validation.yml
  .github/workflows/validation.yml
  config/tools/knip.json
  config/tools/playwright.config.ts
  package-lock.json
  package.json
  src/app/api/guides/trending/route.ts
  src/lib/actions/analytics.actions.ts
  src/lib/actions/safe-action.ts
  src/lib/actions/track-view.ts
  src/lib/cache.server.ts
  src/lib/content/content-loaders.ts
  src/lib/rate-limiter.server.ts
  src/lib/services/analytics-queue.server.ts
  src/lib/services/webhook.server.ts
Labels: security, dependencies, github-actions

Refactor: Change console.error to console.warn for validation
  src/components/primitives/button.tsx
  src/lib/seo/validation-schemas.ts
Labels: none

Refactor: Change error logs to warnings in production
  src/components/primitives/button.tsx
  src/lib/seo/validation-schemas.ts
Labels: none

Refactor: Use structured logger for SEO validation warnings
  src/lib/seo/validation-schemas.ts
Labels: none

Optimize performance by reducing Redis commands
  src/app/[category]/page.tsx
  src/app/api/cron/trending/route.ts
  src/app/api/stats/view-counts/route.ts
  src/app/board/page.tsx
  src/app/guides/page.tsx
  src/app/page.tsx
  src/app/trending/page.tsx
  src/components/stats/view-count-badge.tsx
  src/lib/cache.server.ts
  src/lib/rate-limiter.server.ts
  src/lib/services/analytics-queue.server.ts
  src/middleware.ts
  vercel.json
Labels: security

Checkpoint before follow-up message
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/trending/route.ts
  vercel.json
Labels: none

Checkpoint before follow-up message
  src/app/api/cron/daily-maintenance/route.ts
  vercel.json
Labels: none

Refactor trending data loading to use Redis view counts
  src/app/trending/page.tsx
Labels: none

Remove unused statsRedis import
  src/app/[category]/page.tsx
  src/app/guides/page.tsx
  src/app/page.tsx
Labels: none

Refactor cache and analytics, adjust revalidation times
  src/app/page.tsx
  src/app/trending/page.tsx
  src/lib/cache.server.ts
  src/lib/services/analytics-queue.server.ts
Labels: none

Checkpoint before follow-up message
  src/lib/cache.server.ts
Labels: none

Fix: Normalize pipeline exec results and fallback return
  src/lib/cache.server.ts
Labels: none

Remove unused statsRedis import from trending page
  src/app/trending/page.tsx
Labels: none

feat: Skip middleware for static assets
  src/middleware.ts
Labels: security

Refactor: Improve middleware static asset check
  src/middleware.ts
Labels: security

Increase changelog cache TTL to 6 hours
  src/lib/changelog/loader.ts
Labels: none

Remove static asset optimization from middleware
  src/middleware.ts
Labels: security
