Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

Fix: Improve type guard for installation object
  src/lib/llms-txt/content-builder.ts
Labels: none

Fix: Improve type guard for installation object
  src/lib/llms-txt/content-builder.ts
Labels: none

feat: Add email templates and dev command
  package.json
  src/emails/examples.ts
  src/emails/templates/README.md
  src/emails/templates/job-posted-confirmation.tsx
  src/emails/templates/payment-receipt.tsx
Labels: dependencies

feat: Add email templates and dev command
  package.json
  src/emails/examples.ts
  src/emails/templates/README.md
  src/emails/templates/job-posted-confirmation.tsx
  src/emails/templates/payment-receipt.tsx
Labels: dependencies

Remove example email implementations and documentation
  src/emails/examples.ts
  src/emails/templates/README.md
Labels: none

Remove example email implementations and documentation
  src/emails/examples.ts
  src/emails/templates/README.md
Labels: none

Refactor email templates and improve item key generation
  src/emails/templates/job-posted-confirmation.tsx
  src/emails/templates/payment-receipt.tsx
Labels: none

Refactor email templates and improve item key generation
  src/emails/templates/job-posted-confirmation.tsx
  src/emails/templates/payment-receipt.tsx
Labels: none

feat: Implement user authentication and account features
  package.json
  src/app/account/bookmarks/page.tsx
  src/app/account/layout.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/app/auth/auth-code-error/page.tsx
  src/app/auth/callback/route.ts
  src/app/login/page.tsx
  src/components/auth/auth-buttons.tsx
  src/components/features/content/config-card.tsx
  src/components/shared/bookmark-button.tsx
  src/lib/actions/bookmark-actions.ts
  src/lib/schemas/env.schema.ts
  src/lib/supabase/admin-client.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
  src/middleware.ts
  supabase-schema.sql
Labels: security, dependencies

feat: Implement user authentication and account features
  package.json
  src/app/account/bookmarks/page.tsx
  src/app/account/layout.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/app/auth/auth-code-error/page.tsx
  src/app/auth/callback/route.ts
  src/app/login/page.tsx
  src/components/auth/auth-buttons.tsx
  src/components/features/content/config-card.tsx
  src/components/shared/bookmark-button.tsx
  src/lib/actions/bookmark-actions.ts
  src/lib/schemas/env.schema.ts
  src/lib/supabase/admin-client.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
  src/middleware.ts
  supabase-schema.sql
Labels: security, dependencies

Checkpoint before follow-up message
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/layout.tsx
  src/app/account/sponsorships/page.tsx
  src/app/board/new/page.tsx
  src/app/board/page.tsx
  src/app/companies/page.tsx
  src/app/jobs/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/jobs/job-form.tsx
  src/components/ui/sponsored-badge.tsx
  src/lib/actions/company-actions.ts
  src/lib/actions/follow-actions.ts
  src/lib/actions/job-actions.ts
  src/lib/actions/post-actions.ts
  src/lib/actions/sponsored-actions.ts
  src/lib/data/jobs.ts
  src/lib/schemas/content/job.schema.ts
  src/lib/trending/calculator.ts
Labels: security

Checkpoint before follow-up message
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/layout.tsx
  src/app/account/sponsorships/page.tsx
  src/app/board/new/page.tsx
  src/app/board/page.tsx
  src/app/companies/page.tsx
  src/app/jobs/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/jobs/job-form.tsx
  src/components/ui/sponsored-badge.tsx
  src/lib/actions/company-actions.ts
  src/lib/actions/follow-actions.ts
  src/lib/actions/job-actions.ts
  src/lib/actions/post-actions.ts
  src/lib/actions/sponsored-actions.ts
  src/lib/data/jobs.ts
  src/lib/schemas/content/job.schema.ts
  src/lib/trending/calculator.ts
Labels: security

feat: Add sponsorship analytics page
  src/app/account/sponsorships/[id]/analytics/page.tsx
Labels: none

feat: Add sponsorship analytics page
  src/app/account/sponsorships/[id]/analytics/page.tsx
Labels: none

Checkpoint before follow-up message
  package-lock.json
  package.json
  src/app/submit/page.tsx
  src/lib/actions/submission-actions.ts
  src/lib/github/client.ts
  src/lib/github/content-manager.ts
  src/lib/github/duplicate-detection.ts
  src/lib/github/pr-template.ts
  src/lib/schemas/env.schema.ts
  supabase-submissions-schema.sql
Labels: security, dependencies

Checkpoint before follow-up message
  package-lock.json
  package.json
  src/app/submit/page.tsx
  src/lib/actions/submission-actions.ts
  src/lib/github/client.ts
  src/lib/github/content-manager.ts
  src/lib/github/duplicate-detection.ts
  src/lib/github/pr-template.ts
  src/lib/schemas/env.schema.ts
  supabase-submissions-schema.sql
Labels: security, dependencies

feat: Add automated submission system and tracking
  SUBMISSION-SETUP.md
  src/app/account/layout.tsx
  src/app/account/submissions/page.tsx
  src/lib/icons.tsx
  supabase-submissions-schema.sql
Labels: none

feat: Add automated submission system and tracking
  SUBMISSION-SETUP.md
  src/app/account/layout.tsx
  src/app/account/submissions/page.tsx
  src/lib/icons.tsx
  supabase-submissions-schema.sql
Labels: none

Checkpoint before follow-up message
  src/app/account/bookmarks/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/account/sponsorships/page.tsx
  src/app/account/submissions/page.tsx
  src/app/board/page.tsx
  src/app/submit/page.tsx
  src/app/u/[slug]/page.tsx
  src/lib/icons.tsx
Labels: none

Checkpoint before follow-up message
  src/app/account/bookmarks/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/account/sponsorships/page.tsx
  src/app/account/submissions/page.tsx
  src/app/board/page.tsx
  src/app/submit/page.tsx
  src/app/u/[slug]/page.tsx
  src/lib/icons.tsx
Labels: none

Checkpoint before follow-up message
  src/app/account/layout.tsx
  src/app/login/page.tsx
  src/app/submit/page.tsx
Labels: none

Checkpoint before follow-up message
  src/app/account/layout.tsx
  src/app/login/page.tsx
  src/app/submit/page.tsx
Labels: none

Checkpoint before follow-up message
  src/app/jobs/page.tsx
  src/app/submit/page.tsx
  src/app/u/[slug]/page.tsx
  src/lib/actions/company-actions.ts
  src/lib/actions/follow-actions.ts
  src/lib/actions/job-actions.ts
Labels: security

Checkpoint before follow-up message
  src/app/jobs/page.tsx
  src/app/submit/page.tsx
  src/app/u/[slug]/page.tsx
  src/lib/actions/company-actions.ts
  src/lib/actions/follow-actions.ts
  src/lib/actions/job-actions.ts
Labels: security

Checkpoint before follow-up message
  SUBMISSION-SETUP.md
  supabase-schema.sql
Labels: none

Checkpoint before follow-up message
  SUBMISSION-SETUP.md
  supabase-schema.sql
Labels: none

Add indexes to submissions table
  supabase-schema.sql
Labels: none

Add indexes to submissions table
  supabase-schema.sql
Labels: none

Checkpoint before follow-up message
  src/lib/schemas/form.schema.ts
Labels: none

Checkpoint before follow-up message
  src/lib/schemas/form.schema.ts
Labels: none

Refactor: Simplify submission form and content formatting
  src/app/login/page.tsx
  src/app/submit/page.tsx
  src/components/shared/bookmark-button.tsx
  src/lib/actions/job-actions.ts
  src/lib/actions/post-actions.ts
  src/lib/actions/submission-actions.ts
  src/lib/github/client.ts
  src/lib/github/content-manager.ts
  src/lib/github/pr-template.ts
  src/lib/schemas/content/job.schema.ts
  src/lib/schemas/form.schema.ts
  src/lib/utils/github-issue-url.ts
Labels: security

Refactor: Simplify submission form and content formatting
  src/app/login/page.tsx
  src/app/submit/page.tsx
  src/components/shared/bookmark-button.tsx
  src/lib/actions/job-actions.ts
  src/lib/actions/post-actions.ts
  src/lib/actions/submission-actions.ts
  src/lib/github/client.ts
  src/lib/github/content-manager.ts
  src/lib/github/pr-template.ts
  src/lib/schemas/content/job.schema.ts
  src/lib/schemas/form.schema.ts
  src/lib/utils/github-issue-url.ts
Labels: security

Refactor: Add explicit types to improve code safety
  src/app/collections/[slug]/llms.txt/route.ts
  src/app/collections/[slug]/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
Labels: none

Refactor: Add explicit types to improve code safety
  src/app/collections/[slug]/llms.txt/route.ts
  src/app/collections/[slug]/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
Labels: none

Checkpoint before follow-up message
  src/app/layout.tsx
Labels: none

Checkpoint before follow-up message
  src/app/layout.tsx
Labels: none

feat: Add sidebar components and submission stats actions
  src/components/submit/duplicate-warning.tsx
  src/components/submit/sidebar/recent-submissions-card.tsx
  src/components/submit/sidebar/submit-stats-card.tsx
  src/components/submit/sidebar/tips-card.tsx
  src/components/submit/sidebar/top-contributors-card.tsx
  src/components/submit/template-selector.tsx
  src/lib/actions/submission-stats-actions.ts
  src/lib/schemas/submission-stats.schema.ts
Labels: security

feat: Add sidebar components and submission stats actions
  src/components/submit/duplicate-warning.tsx
  src/components/submit/sidebar/recent-submissions-card.tsx
  src/components/submit/sidebar/submit-stats-card.tsx
  src/components/submit/sidebar/tips-card.tsx
  src/components/submit/sidebar/top-contributors-card.tsx
  src/components/submit/template-selector.tsx
  src/lib/actions/submission-stats-actions.ts
  src/lib/schemas/submission-stats.schema.ts
Labels: security

Checkpoint before follow-up message
  src/app/submit/page.tsx
  src/components/submit/sidebar/recent-submissions-card.tsx
  src/components/submit/sidebar/submit-stats-card.tsx
  src/components/submit/submit-form-client.tsx
  src/lib/actions/submission-stats-actions.ts
  src/lib/icons.tsx
Labels: security

Checkpoint before follow-up message
  src/app/submit/page.tsx
  src/components/submit/sidebar/recent-submissions-card.tsx
  src/components/submit/sidebar/submit-stats-card.tsx
  src/components/submit/submit-form-client.tsx
  src/lib/actions/submission-stats-actions.ts
  src/lib/icons.tsx
Labels: security

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
