Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

refactor: cleanups + ISR -> 6hrs for homepage
  next-env.d.ts
  src/app/page.tsx
  src/components/infra/providers/post-copy-email-provider.mock.tsx
  src/components/ui/shadcn-io/apple-hello-effect/index.tsx
  src/hooks/use-exit-intent.ts
  src/hooks/use-intersection-observer.ts
  src/hooks/use-search-primitives.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
  supabase/functions/content-paginated/index.ts
Labels: none

refactor: zod unwind
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/submissions/page.tsx
  src/app/submit/page.tsx
  src/components/domain/unified-button.tsx
  src/components/features/sponsored/sponsored-tracker.tsx
  src/components/forms/submit-form-client.tsx
  src/lib/actions/business.actions.ts
  src/lib/database-error-parser.ts
  src/lib/schemas/personalization.schema.ts
Labels: security

chore: updates
  package.json
  pnpm-lock.yaml
Labels: dependencies

refactor: additional cleanups/consolidations
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  public/assets/images/og-image-builders.png
  public/assets/images/og-image.png
  src/app/account/activity/page.tsx
  src/app/api/emails/preview/route.ts
  src/components/content/production-code-block.tsx
  src/components/content/smart-related-content/related-content-client.tsx
  src/components/content/unified-detail-page/collection-detail-view.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/domain/base-card.tsx
  src/emails/layouts/base-layout.tsx
  src/emails/templates/newsletter-welcome.tsx
  src/emails/templates/onboarding-community.tsx
  src/emails/templates/onboarding-getting-started.tsx
  src/emails/templates/onboarding-power-tips.tsx
  src/emails/templates/onboarding-stay-engaged.tsx
  src/emails/templates/product-hunt/ph-launch-day.tsx
  src/emails/templates/product-hunt/ph-mid-day-reminder.tsx
  src/emails/templates/product-hunt/ph-pre-launch.tsx
  src/emails/templates/weekly-digest.tsx
  src/emails/utils/common-styles.ts
  src/emails/utils/render.ts
  src/emails/utils/theme.ts
  src/hooks/use-search-shortcut.ts
  src/lib/actions/content.actions.ts
  src/lib/analytics/events/related-content.ts
  src/lib/analytics/tracker.ts
  src/lib/analytics/umami.ts
  src/lib/data/jobs.ts
  src/lib/personalization/types.ts
  src/lib/utils/batch.utils.ts
  src/lib/utils/skeleton-keys.ts
  src/lib/utils/utm-templates.ts
  src/lib/utils/view-transitions.utils.ts
Labels: security, dependencies

feat: user profiles consolidation & connected accounts management
  next-env.d.ts
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/account/connected-accounts/page.tsx
  src/app/account/layout.tsx
  src/app/account/settings/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/content/unified-detail-page/collection-detail-view.tsx
  src/components/features/account/connected-accounts-client.tsx
  src/components/forms/profile-edit-form.tsx
  src/lib/actions/user.actions.ts
  src/lib/utils/batch.utils.ts
  src/types/database.types.ts
  supabase/functions/llms-txt/index.ts
Labels: security

refactor: migrate LLMs.txt from routes -> supabase edge function
  .gitignore
  config/tools/components.json
  lefthook.yml
  next.config.mjs
  package.json
  scripts/validation/README.md
  scripts/validation/validate.ts
  scripts/validation/validators/content-validator.ts
  scripts/validation/validators/metadata-validator.ts
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/lib/llms-txt/content-builder.ts
  src/lib/llms-txt/content-sanitizer.ts
  src/lib/llms-txt/generator.ts
  src/lib/llms-txt/markdown-to-plain.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database.types.ts
  supabase/functions/content-paginated/index.ts
  supabase/functions/discord-content-announcement/index.ts
  supabase/functions/discord-submission-notification/index.ts
  supabase/functions/gallery/index.ts
  supabase/functions/llms-txt/index.ts
  supabase/functions/resend-webhook/index.ts
Labels: dependencies

perf: migrate sitemap.xml to supabase edge function with postgresql xml generation
  .gitignore
  next-env.d.ts
  next.config.mjs
  src/app/sitemap.ts
  src/lib/build/url-generator.server.ts
  src/lib/constants.ts
  supabase/config.toml
  supabase/functions/sitemap/index.ts
Labels: none

feat: unified rss/atom feed architecture with context-aware discovery
  next-env.d.ts
  next.config.mjs
  public/robots.txt
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/rss.xml/route.ts
  src/components/layout/footer.tsx
  src/lib/changelog/utils.ts
  src/lib/icons.tsx
  supabase/config.toml
  supabase/functions/feeds/index.ts
Labels: none

fix: convert back to SSG
  next.config.mjs
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/api/json/[category]/[slug]/route.ts
  src/app/board/page.tsx
  src/app/community/directory/page.tsx
  src/app/community/page.tsx
  src/app/companies/page.tsx
  src/app/consulting/page.tsx
  src/app/contact/page.tsx
  src/app/embed/[category]/[slug]/page.tsx
  src/app/gallery/[category]/page.tsx
  src/app/gallery/page.tsx
  src/app/help/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
  src/app/partner/page.tsx
  src/app/search/page.tsx
  src/app/submit/page.tsx
  src/app/trending/page.tsx
  src/app/u/[slug]/page.tsx
  src/lib/supabase/server-anon.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/json-api/index.ts
Labels: none

fix: switch homepage back to 24hr ISR
  src/app/page.tsx
Labels: none

chore: package updates
  .pnpmrc
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat: migrate markdown copy -> supabase edge function + optimizations
  lefthook.yml
  next.config.mjs
  public/robots.txt
  src/app/account/connected-accounts/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/page.tsx
  src/app/account/submissions/page.tsx
  src/app/companies/page.tsx
  src/app/consulting/page.tsx
  src/app/submit/page.tsx
  src/app/trending/page.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/domain/unified-button.tsx
  src/components/features/account/connected-accounts-client.tsx
  src/components/features/personalization/for-you-feed-client.tsx
  src/components/features/user-activity/activity-timeline.tsx
  src/components/forms/profile-edit-form.tsx
  src/components/forms/submit-form-client.tsx
  src/lib/actions/markdown-actions.ts
  src/lib/config/factories/action-factories.tsx
  supabase/config.toml
  supabase/functions/analytics/index.ts
  supabase/functions/markdown-export/index.ts
Labels: security

fix: coderabbit suggestions
  next-env.d.ts
  src/app/gallery/[category]/page.tsx
  src/app/gallery/page.tsx
Labels: none

fix: coderabbit fixes + nitpicks
  lefthook.yml
  src/app/account/connected-accounts/page.tsx
  src/app/account/jobs/page.tsx
  src/app/companies/page.tsx
  src/app/submit/page.tsx
  src/components/domain/unified-button.tsx
  src/components/forms/submit-form-client.tsx
Labels: none

fix: coderabbit gripes
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/settings/page.tsx
  src/app/account/submissions/page.tsx
  src/components/domain/unified-button.tsx
  src/components/features/sponsored/sponsored-tracker.tsx
  src/components/layout/footer.tsx
Labels: none

feat: major metadata migration (codebase -> edge function)
  config/content/quality/seo-standards.ts
  config/seo/enrichment/category-rules.ts
  src/app/account/activity/page.tsx
  src/app/account/connected-accounts/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/submissions/page.tsx
  src/app/manifest.ts
  src/app/submit/page.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/domain/unified-button.tsx
  src/components/shared/structured-data.tsx
  src/lib/actions/content.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/config/seo-config.ts
  src/lib/constants.ts
  src/lib/seo/metadata-generator.ts
  src/lib/seo/metadata-registry.ts
  src/lib/seo/metadata-templates.ts
  src/lib/seo/pattern-matcher.ts
  src/lib/seo/route-classifier.ts
  src/lib/seo/validation-schemas.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database.types.ts
  supabase/functions/content-paginated/index.ts
  supabase/functions/feeds/index.ts
  supabase/functions/gallery/index.ts
  supabase/functions/json-api/index.ts
  supabase/functions/llms-txt/index.ts
  supabase/functions/markdown-export/index.ts
  supabase/functions/metadata-api/index.ts
  supabase/functions/sitemap/index.ts
  supabase/functions/status/index.ts
  vercel.json
Labels: security

feat: automated changelog generation on deployment
  supabase/config.toml
  supabase/functions/changelog-auto-sync/index.ts
Labels: none

feat: major metadata migration (codebase -> edge function) (#160)
  config/content/quality/seo-standards.ts
  config/seo/enrichment/category-rules.ts
  src/app/account/activity/page.tsx
  src/app/account/connected-accounts/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/submissions/page.tsx
  src/app/manifest.ts
  src/app/submit/page.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/domain/unified-button.tsx
  src/components/shared/structured-data.tsx
  src/lib/actions/content.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/config/seo-config.ts
  src/lib/constants.ts
  src/lib/seo/metadata-generator.ts
  src/lib/seo/metadata-registry.ts
  src/lib/seo/metadata-templates.ts
  src/lib/seo/pattern-matcher.ts
  src/lib/seo/route-classifier.ts
  src/lib/seo/validation-schemas.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database.types.ts
  supabase/functions/changelog-auto-sync/index.ts
  supabase/functions/content-paginated/index.ts
  supabase/functions/feeds/index.ts
  supabase/functions/gallery/index.ts
  supabase/functions/json-api/index.ts
  supabase/functions/llms-txt/index.ts
  supabase/functions/markdown-export/index.ts
  supabase/functions/metadata-api/index.ts
  supabase/functions/sitemap/index.ts
  supabase/functions/status/index.ts
  vercel.json
Labels: security

refactor: remove dead features and Product Hunt campaign infrastructure
  .gitignore
  next-env.d.ts
  next.config.mjs
  src/app/board/loading.tsx
  src/app/board/new/page.tsx
  src/app/board/page.tsx
  src/app/for-you/loading.tsx
  src/app/for-you/page.tsx
  src/app/ph-bundle/page.tsx
  src/app/ph-waitlist/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/domain/unified-card-grid.tsx
  src/components/features/board/board-list-client.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/features/personalization/for-you-feed-client.tsx
  src/components/forms/new-post-form.tsx
  src/components/layout/navigation.tsx
  src/config/navigation.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/constants/routes.ts
  src/lib/edge/client.ts
  src/lib/utils/utm-templates.ts
  src/types/database-overrides.ts
  src/types/database.types.ts
  supabase/functions/_shared/templates/product-hunt/ph-launch-day.tsx
  supabase/functions/_shared/templates/product-hunt/ph-mid-day-reminder.tsx
  supabase/functions/_shared/templates/product-hunt/ph-pre-launch.tsx
  supabase/functions/_shared/utils/utm-templates.ts
  supabase/functions/analytics/index.ts
  supabase/functions/changelog-auto-sync/index.ts
Labels: security

refactor: major SEO optimization/consolidation (codebase -> db / edge function)
  src/app/[category]/[slug]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/page.tsx
  src/app/jobs/[slug]/page.tsx
  src/app/layout.tsx
  src/components/infra/structured-data.tsx
  src/components/infra/structured-data/breadcrumb-schema.tsx
  src/components/infra/structured-data/changelog-structured-data.tsx
  src/components/infra/structured-data/organization-schema.tsx
  src/components/infra/structured-data/unified-structured-data.tsx
  src/lib/changelog/structured-data.ts
  src/lib/seo/client.ts
  src/lib/seo/metadata-generator.ts
  src/lib/structured-data/schema-builder.ts
  src/lib/structured-data/schema-types.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database.types.ts
  supabase/functions/seo-api/index.ts
Labels: none

refactor: cleanup consulting page
  package.json
  pnpm-lock.yaml
  src/app/consulting/page.tsx
  src/components/shared/structured-data.tsx
  src/components/ui/shadcn-io/terminal/index.tsx
  src/types/database.types.ts
Labels: dependencies

feat(consulting): redesigned consulting page with animated terminal and Cal.com booking
  src/app/consulting/page.tsx
  src/components/features/consulting/consulting-client.tsx
  src/types/database.types.ts
  supabase/functions/feeds/index.ts
  supabase/functions/json-api/index.ts
  supabase/functions/llms-txt/index.ts
  supabase/functions/markdown-export/index.ts
  supabase/functions/seo-api/index.ts
  supabase/functions/sitemap/index.ts
Labels: none

refactor: webhook-router edge function
  src/components/domain/unified-content-box.tsx
  src/lib/schemas/app.schema.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database.types.ts
  supabase/functions/changelog-auto-sync/index.ts
  supabase/functions/resend-webhook/index.ts
  supabase/functions/webhook-router/index.ts
Labels: none

fix(seo): refine XSS protection to allow educational content and code examples
  src/lib/utils/jsonld.utils.ts
Labels: none

refactor(analytics): migrate from Umami events to database-first tracking
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/scripts/service-worker-init.js
  src/app/accessibility/page.tsx
  src/app/consulting/page.tsx
  src/app/contact/page.tsx
  src/app/cookies/page.tsx
  src/app/embed/[category]/[slug]/page.tsx
  src/app/embed/layout.tsx
  src/app/error.tsx
  src/app/gallery/[category]/page.tsx
  src/app/gallery/page.tsx
  src/app/help/page.tsx
  src/app/not-found.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  src/components/content/production-code-block.tsx
  src/components/domain/config-card.tsx
  src/components/domain/unified-button.tsx
  src/components/features/consulting/consulting-client.tsx
  src/components/features/gallery/gallery-card.tsx
  src/components/features/gallery/gallery-masonry-grid.tsx
  src/components/features/gallery/trending-carousel.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/infra/error-boundary.tsx
  src/components/infra/pwa-install-tracker.tsx
  src/components/infra/unified-tracker.tsx
  src/config/navigation.ts
  src/hooks/use-newsletter.ts
  src/lib/analytics/tracker.ts
  src/lib/edge/client.ts
  src/lib/utils/embed.utils.ts
  src/lib/utils/toast.utils.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/analytics/index.ts
  supabase/functions/gallery/index.ts
Labels: dependencies

feat(companies): company management system with logo upload and database security fixes
  next.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/build/sync-database-schema.ts
  src/app/account/companies/[id]/edit/page.tsx
  src/app/account/companies/new/page.tsx
  src/app/account/companies/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/companies/[slug]/page.tsx
  src/app/globals.css
  src/app/jobs/page.tsx
  src/app/layout.tsx
  src/app/sugar-high.css
  src/components/content/unified-detail-page/sidebar/detail-sidebar.tsx
  src/components/domain/job-card.tsx
  src/components/domain/jobs-promo.tsx
  src/components/forms/company-form.tsx
  src/components/forms/company-selector.tsx
  src/components/forms/job-form.tsx
  src/components/primitives/popover.tsx
  src/lib/ui-constants.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database.types.ts
  supabase/functions/_shared/templates/job-approved.tsx
  supabase/functions/_shared/templates/job-expired.tsx
  supabase/functions/_shared/templates/job-expiring.tsx
  supabase/functions/_shared/templates/job-payment-confirmed.tsx
  supabase/functions/_shared/templates/job-rejected.tsx
  supabase/functions/_shared/templates/job-submitted.tsx
  supabase/functions/_shared/utils/polar.ts
  supabase/functions/_shared/utils/storage.ts
  supabase/functions/companies-handler/index.ts
  supabase/functions/email-handler/index.ts
  supabase/functions/jobs-handler/index.ts
  supabase/functions/webhook-router/index.ts
Labels: dependencies

fix(build): update service worker script import after constants consolidation
  scripts/build/generate-service-worker.ts
Labels: none

refactor(types): eliminate manual RPC casting with centralized type definitions
  src/app/account/jobs/page.tsx
  src/app/account/settings/page.tsx
  src/app/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/content-list-server.tsx
  src/components/features/home/featured-sections.tsx
  src/components/features/home/index.tsx
  src/lib/changelog/loader.ts
  src/lib/content/supabase-content-loader.ts
  src/lib/search/server-search.ts
  src/lib/types/component.types.ts
  src/lib/types/page-props.types.ts
  src/types/database-overrides.ts
  src/types/database.types.ts
  supabase/functions/_shared/database.types.ts
  supabase/functions/trending/index.ts
Labels: none

perf: local font optimizations + unified-search edge function
  .gitignore
  next.config.mjs
  scripts/utils/submit-indexnow.ts
  src/app/layout.tsx
  src/components/content/content-list-server.tsx
  src/components/content/content-search-client.tsx
  src/components/features/home/index.tsx
  src/fonts/GeistMonoVF.woff2
  src/fonts/GeistVF.woff2
  src/fonts/Inter-Variable.woff2
  src/lib/edge/search-client.ts
  src/lib/search/server-search.ts
  src/lib/types/component.types.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database.types.ts
  supabase/functions/unified-search/index.ts
Labels: none

refactor: optimize category config and improve UX patterns
  src/app/page.tsx
  src/components/core/domain/config-card.tsx
  src/components/core/domain/jobs-promo.tsx
  src/components/core/infra/providers/post-copy-email-provider.tsx
  src/components/core/layout/user-menu.tsx
  src/components/core/magic/border-beam.tsx
  src/lib/config/category-config.ts
Labels: none

feat(ui): redesign /submit page with animations and enhanced UX
  package.json
  pnpm-lock.yaml
  src/app/submit/page.tsx
  src/components/core/domain/jobs-promo.tsx
  src/components/core/forms/form-section-card.tsx
  src/components/core/forms/sidebar-activity-card.tsx
  src/components/core/forms/submit-form-client.tsx
  src/components/core/forms/submit-page-hero.tsx
  src/types/database-overrides.ts
Labels: dependencies

feat: integrate Statsig feature flags with Vercel Edge Config
  src/app/test-flags/page.tsx
  src/lib/flags.ts
Labels: none

feat: integrate Statsig feature flags with Vercel Edge Config
  src/app/test-flags/page.tsx
  src/lib/flags.ts
Labels: none

chore: add Statsig feature flag dependencies
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat: add confetti animations for key user actions (#24)
  package.json
  pnpm-lock.yaml
  src/components/core/domain/unified-button.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/hooks/use-confetti.ts
Labels: dependencies

feat: add stagger animations to all skeleton components
  src/components/primitives/loading-skeleton.tsx
Labels: none

refactor: consolidate 12 duplicate loading.tsx files
  src/app/agents/loading.tsx
  src/app/collections/loading.tsx
  src/app/commands/loading.tsx
  src/app/community/loading.tsx
  src/app/companies/loading.tsx
  src/app/hooks/loading.tsx
  src/app/mcp/loading.tsx
  src/app/partner/loading.tsx
  src/app/rules/loading.tsx
  src/app/search/loading.tsx
  src/app/skills/loading.tsx
  src/app/statuslines/loading.tsx
Labels: none

refactor: split navigation by breakpoint + fix Statsig types
  src/components/core/layout/navigation-desktop.tsx
  src/components/core/layout/navigation-mobile.tsx
  src/components/core/layout/navigation-tablet.tsx
  src/components/core/layout/navigation.tsx
  src/lib/flags.ts
Labels: none

feat: add recently viewed sidebar with performance optimizations
  src/app/[category]/[slug]/page.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/features/navigation/recently-viewed-sidebar.tsx
  src/components/features/navigation/recently-viewed-tracker.tsx
  src/hooks/use-recently-viewed.ts
Labels: none

feat: consolidate loading patterns (partial - #7)
  src/app/page.tsx
  src/lib/components/loading-factory.tsx
Labels: none
