Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

refactor(flags): implement server/middleware-only pattern for feature flags
  next.config.mjs
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/test-flags/page.tsx
  src/lib/actions/feature-flags.actions.ts
  src/lib/data/config/cache-config.ts
  src/lib/flags-runtime.ts
  src/lib/flags.ts
  src/lib/utils/build-time.ts
Labels: security

refactor(actions): update schema API and improve type safety
  .zed/README.md
  biome.json
  src/app/account/companies/[id]/edit/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/account/sponsorships/page.tsx
  src/app/terms/page.tsx
  src/app/test-flags/page.tsx
  src/components/content/interactive-code-block.tsx
  src/components/core/forms/wizard/wizard-layout.tsx
  src/components/providers/notifications-provider.tsx
  src/hooks/use-confetti.ts
  src/hooks/use-recently-viewed.ts
  src/lib/actions/action-helpers.ts
  src/lib/actions/companies.actions.ts
  src/lib/actions/contact-form.actions.ts
  src/lib/actions/contact.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/feature-flags.actions.ts
  src/lib/actions/jobs.actions.ts
  src/lib/actions/newsletter.actions.ts
  src/lib/actions/notifications.actions.ts
  src/lib/actions/pulse.actions.ts
  src/lib/actions/quiz.actions.ts
  src/lib/actions/user.actions.ts
  src/types/database.types.ts
  supabase/functions/_shared/utils/integrations/http-client.ts
Labels: security

refactor(types): migrate to generated database types
  config/content/category-config.ts
  config/content/generation-rules.ts
  scripts/build/backup-database.ts
  scripts/build/generate-category-config.ts
  scripts/build/modernize-type-imports.ts
  src/app/[category]/page.tsx
  src/app/submit/wizard/page.tsx
  src/components/core/forms/content-submission-form.tsx
  src/components/core/forms/template-selector.tsx
  src/components/core/forms/wizard/template-gallery.tsx
  src/components/features/tools/recommender/quiz-form.tsx
  src/hooks/use-template-application.ts
  src/lib/actions/quiz.actions.ts
  src/lib/data/config/constants.ts
  src/lib/data/content/index.ts
  src/lib/data/content/templates.ts
  src/lib/data/forms/submission-form-fields.ts
  src/lib/data/helpers.ts
  src/lib/data/quiz.ts
  src/types/database-overrides.ts
  src/types/database.types.ts
  supabase/functions/_shared/database-overrides.ts
  supabase/functions/_shared/database.types.ts
  supabase/functions/_shared/edge-types.manifest.json
  supabase/functions/_shared/utils/email/sequence-helpers.ts
  supabase/functions/data-api/routes/status.ts
  supabase/functions/email-handler/index.ts
  turbo.json
Labels: security

docs(codebase-analysis): add comprehensive codebase analysis for optimization, enhancement, and feature enrichment
  docs/CODEBASE_ANALYSIS.md
Labels: none

feat: database mmigrations
  scripts/build/generate-edge-types.ts
  src/app/[category]/page.tsx
  src/app/account/bookmarks/page.tsx
  src/app/account/companies/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/library/[slug]/page.tsx
  src/app/account/page.tsx
  src/app/changelog/page.tsx
  src/app/jobs/[slug]/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/components/content/content-search.tsx
  src/components/content/detail-page/content-detail-view.tsx
  src/components/core/forms/company-form.tsx
  src/components/features/account/connected-accounts-client.tsx
  src/lib/actions/companies.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/jobs.actions.ts
  src/lib/actions/pulse.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/data/jobs.ts
  src/lib/data/seo/client.ts
  src/lib/seo/metadata-generator.ts
  src/types/database-overrides.ts
  src/types/database.types.ts
  supabase/functions/_shared/changelog/readme-builder.ts
  supabase/functions/_shared/clients/supabase.ts
  supabase/functions/_shared/database-overrides.ts
  supabase/functions/_shared/database.types.ts
  supabase/functions/_shared/edge-types.manifest.json
  supabase/functions/_shared/utils/integrations/resend.ts
  supabase/functions/data-api/routes/content-generate/index.ts
  supabase/functions/data-api/routes/content-record.ts
  supabase/functions/data-api/routes/content.ts
  supabase/functions/data-api/routes/seo.ts
  supabase/functions/email-handler/index.ts
  supabase/functions/flux-station/routes/pulse.ts
  supabase/functions/unified-search/index.ts
Labels: security

refactor: consolidate components and remove unused code
  .zed/debug.json
  config/content/validation/category-validators.ts
  config/content/validation/generic-validator.ts
  config/content/workflow-helpers.ts
  package.json
  pnpm-lock.yaml
  scripts/build/generate-category-config.ts
  scripts/lint/filter-unused-types.ts
  src/app/[category]/[slug]/page.tsx
  src/app/account/companies/page.tsx
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/components/content/detail-page/content-detail-view.tsx
  src/components/core/buttons/shared/async-action-button.tsx
  src/components/core/domain/cards/config-card-enhancements.tsx
  src/components/core/forms/review-form.tsx
  src/components/core/layout/page-container.tsx
  src/components/core/layout/sidebar/get-sidebar-data.ts
  src/components/core/layout/sidebar/sidebar-layout.tsx
  src/components/core/shared/server-code-block.tsx
  src/components/features/fab/speed-dial-item.tsx
  src/hooks/use-recent-searches.ts
  src/lib/actions/user.actions.ts
  src/lib/config/factories/action-factories.tsx
  src/lib/types/component.types.ts
Labels: security, dependencies

refactor: update manual types -> ENUMs
  src/components/core/domain/badges/category-badge.tsx
  supabase/functions/flux-station/routes/notifications/create.ts
Labels: none

refactor(types): resolve all TypeScript errors and improve code quality
  .github/workflows/security.yml
  apps/edge/functions/flux-station/index.ts
  apps/edge/functions/flux-station/routes/embedding/index.ts
  apps/edge/functions/flux-station/routes/notifications/create.ts
  apps/edge/functions/flux-station/routes/queue-processor.ts
  apps/edge/functions/public-api/index.ts
  apps/edge/functions/public-api/routes/content-generate/generators/mcp.ts
  apps/edge/functions/public-api/routes/content-generate/queue-worker.ts
  apps/edge/functions/public-api/routes/og/index.ts
  apps/edge/functions/public-api/routes/search/index.ts
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/app/[category]/[slug]/page.tsx
  apps/web/src/app/[category]/page.tsx
  apps/web/src/app/account/companies/[id]/edit/page.tsx
  apps/web/src/app/account/jobs/[id]/analytics/page.tsx
  apps/web/src/app/account/jobs/[id]/edit/page.tsx
  apps/web/src/app/account/jobs/new/page.tsx
  apps/web/src/app/account/layout.tsx
  apps/web/src/app/account/page.tsx
  apps/web/src/app/account/submissions/page.tsx
  apps/web/src/app/api/og/route.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/search/page.tsx
  apps/web/src/components/content/content-search.tsx
  apps/web/src/components/content/detail-page/detail-header-actions.tsx
  apps/web/src/components/features/account/recently-saved-grid.tsx
  apps/web/src/components/features/home/recently-viewed-rail.tsx
  apps/web/src/components/features/search/search.tsx
  apps/web/src/hooks/use-saved-search-presets.ts
  packages/data-layer/src/services/search.ts
  packages/generators/src/commands/generate-readme.ts
  packages/shared-runtime/src/webhook/crypto.ts
  packages/web-runtime/src/edge/search-client.ts
  packages/web-runtime/src/entries/data-server.ts
  packages/web-runtime/src/types/component.types.ts
Labels: security, github-actions

feat(design): changelog updates, general enhancements + QOL improvements
  apps/edge/functions/flux-station/routes/embedding/index.ts
  apps/edge/functions/public-api/routes/content-process.ts
  apps/edge/functions/public-api/routes/og/index.ts
  apps/web/next.config.mjs
  apps/web/src/app/account/layout.tsx
  apps/web/src/app/account/submissions/page.tsx
  apps/web/src/app/api/og/route.tsx
  apps/web/src/app/jobs/page.tsx
  apps/web/src/components/content/detail-page/content-detail-view.tsx
  apps/web/src/components/content/detail-page/detail-quick-actions-bar.tsx
  apps/web/src/components/content/detail-page/detail-toc.tsx
  apps/web/src/components/content/detail-page/sidebar/navigation-sidebar.tsx
  apps/web/src/components/content/detail-page/use-detail-quick-actions.ts
  apps/web/src/components/core/domain/jobs/job-alerts-card.tsx
  apps/web/src/components/core/forms/job-form.tsx
  apps/web/src/components/features/changelog/changelog-list-client.tsx
  apps/web/src/components/features/changelog/changelog-sticky-entry.tsx
  packages/edge-runtime/src/utils/storage/client.ts
  packages/generators/src/commands/backup-database.ts
  packages/generators/src/commands/changelog.ts
  packages/generators/src/commands/generate-category-config.ts
  packages/generators/src/commands/generate-mcpb-packages.ts
  packages/generators/src/commands/generate-readme.ts
  packages/generators/src/commands/sync-db.ts
  packages/generators/src/toolkit/introspection.ts
  packages/shared-runtime/src/sanitize-text.ts
  packages/web-runtime/src/cache/fetch-cached.ts
  packages/web-runtime/src/data/jobs.ts
  packages/web-runtime/src/edge/transform.ts
  packages/web-runtime/src/icons.tsx
  packages/web-runtime/src/logger.ts
  packages/web-runtime/src/types/component.types.ts
Labels: none

chore: package updates
  config/tools/knip.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

refactor(submissions): extract components and improve code quality
  apps/edge/functions/flux-station/routes/embedding/index.ts
  apps/edge/functions/public-api/routes/content-process.ts
  apps/edge/functions/public-api/routes/og/index.ts
  apps/web/src/app/account/submissions/page.tsx
  apps/web/src/app/api/og/route.tsx
  apps/web/src/components/core/domain/submissions/submission-card.tsx
  apps/web/src/components/core/domain/submissions/submission-link-buttons.tsx
  config/tools/knip.json
  package.json
  packages/generators/src/commands/generate-readme.ts
  packages/shared-runtime/src/index.ts
  packages/shared-runtime/src/og-constants.ts
  pnpm-lock.yaml
  reports/knip/README.md
Labels: dependencies

fix: build issues
  apps/edge/functions/flux-station/routes/embedding/index.ts
  apps/edge/functions/public-api/routes/og/index.ts
  apps/web/src/app/account/page.tsx
  apps/web/src/app/account/submissions/page.tsx
  apps/web/src/app/page.tsx
Labels: none

refactor(seo): eliminate HTTP loopback calls in OG image generation
  apps/edge/functions/public-api/index.ts
  apps/edge/functions/public-api/lib/seo.ts
  apps/edge/functions/public-api/routes/og/index.ts
  apps/edge/functions/public-api/routes/seo.ts
  apps/web/src/app/account/page.tsx
  apps/web/src/app/api/og/route.tsx
  docs/frontend-blueprint.md
  docs/web-route-architecture.md
Labels: none

fix: homepage server <> client issues
  .gitignore
  apps/edge/functions/public-api/index.ts
  apps/edge/functions/public-api/lib/seo.ts
  apps/edge/functions/public-api/routes/og/index.ts
  apps/web/src/app/account/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/core/domain/cards/config-card.tsx
  apps/web/src/components/providers/component-config-context.tsx
  apps/web/src/components/providers/component-config-provider.tsx
  docs/flux-station/resilience-audit.md
  docs/flux-station/runbook.md
  docs/flux-station/subscribe-soak.md
  docs/flux-station/validation-matrix.md
  docs/frontend-blueprint.md
  docs/integrations/resend-segment-batching.md
  docs/web-route-architecture.md
  packages/generators/src/commands/generate-edge-routes.ts
  packages/shared-runtime/src/schemas/env.ts
  packages/web-runtime/src/feature-flags/middleware-evaluator.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
