Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

Refactor to static generation and optimize middleware
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/app/layout.tsx
  src/components/infra/unified-tracker.tsx
  src/middleware.ts
Labels: security

Refactor: Optimize build and remove unnecessary async calls
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/infra/structured-data/organization-schema.tsx
  src/components/shared/structured-data.tsx
  src/components/shared/umami-script.tsx
Labels: dependencies

fix: add missing glob dependency for build scripts
  package.json
Labels: dependencies

chore: update package-lock.json for glob dependency
  package-lock.json
Labels: dependencies

fix: remove unused statsRedis imports from detail pages
  src/app/[category]/[slug]/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
Labels: none

fix: remove unused Suspense import from layout
  src/app/layout.tsx
Labels: none

fix: remove unused APP_CONFIG import from root llms.txt route
  src/app/llms.txt/route.ts
Labels: none

feat: next.js canary upgrade
  .npmrc
  generated/guides-full.ts
  next-env.d.ts
  next.config.mjs
  package-lock.json
  package.json
  src/lib/actions/content.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/analytics/events.constants.ts
  src/lib/schemas/middleware.schema.ts
  src/middleware.old.ts
  src/middleware.ts
Labels: security, dependencies

chore: linting + formatting
  src/app/[category]/[slug]/loading.tsx
  src/app/agents/loading.tsx
  src/app/board/loading.tsx
  src/app/changelog/[slug]/loading.tsx
  src/app/collections/loading.tsx
  src/app/commands/loading.tsx
  src/app/community/loading.tsx
  src/app/companies/loading.tsx
  src/app/for-you/loading.tsx
  src/app/guides/[category]/[slug]/loading.tsx
  src/app/guides/[category]/loading.tsx
  src/app/guides/loading.tsx
  src/app/hooks/loading.tsx
  src/app/jobs/loading.tsx
  src/app/loading.tsx
  src/app/mcp/loading.tsx
  src/app/partner/loading.tsx
  src/app/rules/loading.tsx
  src/app/search/loading.tsx
  src/app/skills/loading.tsx
  src/app/statuslines/loading.tsx
  src/app/trending/loading.tsx
  src/components/content/json-content-renderer.tsx
  src/components/content/read-progress.stories.tsx
  src/components/domain/unified-badge.tsx
  src/components/layout/navigation.tsx
  src/hooks/use-scroll-animation.ts
  src/hooks/use-view-counts.ts
  src/lib/actions/safe-action.ts
  src/lib/changelog/json-parser.ts
  src/lib/components/loading-factory.tsx
  src/lib/content/syntax-highlighting.ts
  src/lib/supabase/admin-client.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
  src/lib/utils/use-lazy-motion.tsx
  src/middleware.old.ts
  src/middleware.ts
  tests/integration/build/env-vars-optional.test.ts
Labels: security

feat: build optimizations + enhancements
  .gitignore
  .vercelignore
  generated/agents-full.ts
  generated/agents-metadata.ts
  generated/collections-full.ts
  generated/collections-metadata.ts
  generated/commands-full.ts
  generated/commands-metadata.ts
  generated/content.ts
  generated/hooks-full.ts
  generated/hooks-metadata.ts
  generated/mcp-full.ts
  generated/mcp-metadata.ts
  generated/rules-full.ts
  generated/rules-metadata.ts
  generated/skills-full.ts
  generated/skills-metadata.ts
  generated/statuslines-full.ts
  generated/statuslines-metadata.ts
  package.json
  scripts/build/generate-category-artifacts.ts
  scripts/build/generate-events.ts
  scripts/build/generate-fumadocs-api.ts
  scripts/build/generate-openapi.ts
  scripts/build/generate-static-api-conditional.ts
  scripts/build/generate-static-api.ts
  src/app/[category]/[slug]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/lib/analytics/events.constants.ts
  src/lib/build/category-processor.server.ts
Labels: dependencies

fix: additional optimizations
  .github/CONTRIBUTING.md
  .github/actions/setup-node-deps/action.yml
  .github/workflows/build-reusable.yml
  .github/workflows/ci.yml
  .pnpmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/build/generate-fumadocs-api.ts
  scripts/build/generate-openapi.ts
  src/lib/analytics/events.constants.ts
  vercel.json
Labels: dependencies, github-actions

fix: vercel build requiring pnpm
  .vercelignore
  next-env.d.ts
  src/lib/analytics/events.constants.ts
  vercel.json
Labels: none

fix: npm -> pnpm
  package.json
Labels: dependencies

fix: final pnpm migrations, package issues
  .github/workflows/changelog-automation.yml
  .github/workflows/dead-code-detection.yml
  .github/workflows/validation.yml
  config/tools/lefthook.yml
  package.json
  pnpm-lock.yaml
Labels: dependencies, github-actions

fix: remove api-docs
  .gitignore
  next-env.d.ts
  package.json
  public/.well-known/api-catalog
  public/robots.txt
  scripts/build/generate-fumadocs-api.ts
  scripts/test-llmstxt-migration.ts
  src/app/api-docs/layout.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/api-docs/page.tsx
  src/app/tools/config-recommender/llms.txt/route.ts
  src/components/layout/footer.stories.tsx
  src/components/layout/footer.tsx
  src/lib/analytics/events.constants.ts
  src/lib/build/url-generator.server.ts
  src/lib/constants/routes.ts
  src/lib/seo/metadata-templates.ts
  tests/e2e/helpers/content-loader.ts
  tests/e2e/seo/internal-links.spec.ts
  tests/e2e/seo/metadata-quality.spec.ts
  tests/e2e/seo/metadata.spec.ts
  tests/e2e/seo/robots.spec.ts
  tests/unit/lib/og/url-generator.test.ts
  tests/unit/lib/seo/metadata-generator.test.ts
  tests/unit/lib/seo/metadata-templates.test.ts
Labels: dependencies

fix: guides issues + other changes
  .pnpmrc
  biome.json
  content/guides/comparisons/claude-vs-codewhisperer-gemini.json
  content/guides/comparisons/claude-vs-copilot-python.json
  content/guides/comparisons/claude-vs-cursor-codeium.json
  content/guides/troubleshooting/fix-environment-variables.json
  content/guides/troubleshooting/fix-installation-errors.json
  content/guides/troubleshooting/fix-mcp-connection-errors.json
  content/guides/troubleshooting/fix-memory-leak-performance.json
  content/guides/tutorials/build-mcp-server.json
  content/guides/tutorials/claude-4-extended-thinking-tutorial.json
  content/guides/tutorials/claude-agent-development-framework.json
  content/guides/tutorials/claude-mcp-server-setup-guide.json
  content/guides/tutorials/claude-rate-limits-fix.json
  content/guides/tutorials/desktop-mcp-setup.json
  content/guides/tutorials/multi-directory-setup.json
  content/guides/tutorials/wsl-setup-guide.json
  content/guides/use-cases/business-process-automation.json
  content/guides/use-cases/financial-services-guide.json
  content/guides/use-cases/healthcare-hipaa-guide.json
  content/guides/workflows/chatgpt-migration-guide.json
  content/guides/workflows/migration-workflow-guide.json
  generated/guides-full.ts
  next-env.d.ts
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/page.tsx
  src/components/features/home/hero-section.tsx
  src/components/features/home/index.tsx
  src/components/layout/navigation.tsx
  src/components/layout/sidebar/unified-sidebar.tsx
  src/lib/config/category-config.ts
  src/lib/schemas/app.schema.ts
  src/lib/schemas/shared.schema.ts
  tests/unit/security/sql-injection-prevention.test.ts
Labels: content-submission, dependencies

perf: optimize codebase performance with parallel execution and materialized views
  content/guides/comparisons/claude-vs-codewhisperer-gemini.mdx
  content/guides/comparisons/claude-vs-copilot-python.mdx
  content/guides/comparisons/claude-vs-cursor-codeium.mdx
  content/guides/troubleshooting/fix-environment-variables.mdx
  content/guides/troubleshooting/fix-installation-errors.mdx
  content/guides/troubleshooting/fix-mcp-connection-errors.mdx
  content/guides/troubleshooting/fix-memory-leak-performance.mdx
  content/guides/tutorials/build-mcp-server.mdx
  content/guides/tutorials/claude-4-extended-thinking-tutorial.mdx
  content/guides/tutorials/claude-agent-development-framework.mdx
  content/guides/tutorials/claude-mcp-server-setup-guide.mdx
  content/guides/tutorials/claude-rate-limits-fix.mdx
  content/guides/tutorials/desktop-mcp-setup.mdx
  content/guides/tutorials/multi-directory-setup.mdx
  content/guides/tutorials/wsl-setup-guide.mdx
  content/guides/use-cases/business-process-automation.mdx
  content/guides/use-cases/financial-services-guide.mdx
  content/guides/use-cases/healthcare-hipaa-guide.mdx
  content/guides/workflows/chatgpt-migration-guide.mdx
  content/guides/workflows/migration-workflow-guide.mdx
  package.json
  pnpm-lock.yaml
  scripts/build/generate-service-worker.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/components/features/home/index.tsx
  src/components/features/home/lazy-homepage-sections.tsx
  src/components/features/search/unified-search.tsx
  src/lib/services/featured.server.ts
  src/lib/trending/calculator.server.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: dependencies

perf: upgrade from npm -> pnpm
  .github/actions/setup-node-deps/action.yml
  .github/workflows/build-reusable.yml
  .github/workflows/changelog-automation.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/validation.yml
  config/tools/lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  vercel.json
Labels: security, dependencies, github-actions

fix: allowing pnpm scripts
  .pnpmrc
Labels: none

fix: vercel build issue
  vercel.json
Labels: none

fix: vercel pnpm version
  vercel.json
Labels: none

refactor: cleanup API endpoints
  package.json
  pnpm-lock.yaml
  public/.well-known/api-catalog
  public/openapi.json
  public/robots.txt
  scripts/build/generate-fumadocs-api.ts
  scripts/build/generate-openapi.ts
  src/app/api-docs/layout.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/api-docs/page.tsx
  src/app/api/[contentType]/route.ts
  src/app/api/all-configurations.json/route.ts
  src/app/api/guides/trending/route.ts
  src/app/layout.tsx
  src/lib/analytics/events.constants.ts
  src/lib/constants.ts
  src/lib/middleware/rate-limit-rules.ts
  src/lib/openapi/registry.ts
  src/lib/openapi/spec.ts
  vercel.json
Labels: dependencies

fix: vercel <> pnpm build issues
  vercel.json
Labels: none

chore: final api cleanup
  .vercelignore
  src/components/infra/performance-optimizer.tsx
  src/components/layout/footer.tsx
  src/lib/constants/routes.ts
  tests/integration/api/content-api.test.ts
  tests/mocks/handlers/content-handlers.ts
  tests/mocks/handlers/index.ts
  tests/unit/security/rate-limit-rules.test.ts
Labels: none

fix: optimize vercel builds
  .github/workflows/dead-code-detection.yml
  .github/workflows/security.yml
  .npmrc
  .vercelignore
  src/lib/analytics/events.constants.ts
  tests/unit/security/rate-limit-rules.test.ts
  vercel.json
Labels: security, github-actions

feat: events system refactoring
  package.json
  src/components/content/production-code-block.tsx
  src/components/content/smart-related-content/related-content-client.tsx
  src/components/domain/unified-button.tsx
  src/components/features/search/unified-search.tsx
  src/components/infra/unified-tracker.tsx
  src/lib/analytics/event-mapper.mock.js
  src/lib/analytics/event-mapper.ts
  src/lib/analytics/events.constants.mock.ts
  src/lib/analytics/events.constants.ts
  src/lib/analytics/events/related-content.ts
  src/lib/analytics/tracker.ts
Labels: dependencies

fix: cleanup
  package.json
  pnpm-lock.yaml
  scripts/build/generate-events.ts
  src/app/guides/page.tsx
  src/app/layout.tsx
Labels: dependencies

fix: alt tags
  src/app/account/layout.tsx
  src/app/account/settings/page.tsx
  src/app/u/[slug]/page.tsx
Labels: none

chore: cache consolidation
  src/app/api/cache/warm/route.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/webhooks/resend/route.ts
  src/lib/actions/analytics.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/email-capture.ts
  src/lib/actions/markdown-actions.ts
  src/lib/actions/newsletter-signup.ts
  src/lib/actions/reputation.actions.ts
  src/lib/actions/safe-action.ts
  src/lib/actions/user.actions.ts
  src/lib/cache.server.ts
  src/lib/config/rate-limits.config.ts
  src/lib/error-handler.ts
  src/lib/middleware/rate-limit-rules.ts
  src/lib/rate-limiter.server.ts
  src/middleware.ts
Labels: security

feat: Add 5 new statuslines and improve validation error logging
  content/statuslines/accessibility-first-statusline.json
  content/statuslines/ai-model-performance-dashboard.json
  content/statuslines/block-timer-tracker.json
  content/statuslines/catppuccin-mocha-theme.json
  content/statuslines/oh-my-zsh-robbyrussell.json
  src/app/guides/[category]/[slug]/page.tsx
  src/lib/build/category-processor.server.ts
Labels: content-submission

feat: major guide content refactor
  content/guides/comparisons/claude-vs-codewhisperer-gemini.json
  content/guides/comparisons/claude-vs-copilot-python.json
  content/guides/comparisons/claude-vs-cursor-codeium.json
  content/guides/troubleshooting/fix-environment-variables.json
  content/guides/troubleshooting/fix-installation-errors.json
  content/guides/troubleshooting/fix-mcp-connection-errors.json
  content/guides/troubleshooting/fix-memory-leak-performance.json
  content/guides/tutorials/build-mcp-server.json
  content/guides/tutorials/claude-4-extended-thinking-tutorial.json
  content/guides/tutorials/claude-agent-development-framework.json
  content/guides/tutorials/claude-mcp-server-setup-guide.json
  content/guides/tutorials/claude-rate-limits-fix.json
  content/guides/tutorials/desktop-mcp-setup.json
  content/guides/tutorials/multi-directory-setup.json
  content/guides/tutorials/wsl-setup-guide.json
  content/guides/use-cases/business-process-automation.json
  content/guides/use-cases/financial-services-guide.json
  content/guides/use-cases/healthcare-hipaa-guide.json
  content/guides/workflows/chatgpt-migration-guide.json
  content/guides/workflows/migration-workflow-guide.json
  src/app/guides/[category]/[slug]/page.tsx
  src/components/content/json-section-renderer.tsx
  src/lib/schemas/app.schema.ts
  src/lib/schemas/content/guide-json.schema.ts
Labels: content-submission

feat(content): add 6 Claude Code agent content items for October 2025 features
  content/agents/claude-haiku-45-speed-optimizer-agent.json
  content/agents/claude-mcp-skills-integration-agent.json
  content/agents/claude-md-knowledge-manager-agent.json
  content/agents/context-window-optimizer-agent.json
  content/agents/slash-command-orchestrator-agent.json
  content/agents/subagent-factory-agent.json
Labels: content-submission

fix: guides migration cleanups
  content/guides/comparisons/claude-vs-codewhisperer-gemini.mdx
  content/guides/comparisons/claude-vs-copilot-python.mdx
  content/guides/comparisons/claude-vs-cursor-codeium.mdx
  content/guides/troubleshooting/fix-environment-variables.mdx
  content/guides/troubleshooting/fix-installation-errors.mdx
  content/guides/troubleshooting/fix-mcp-connection-errors.mdx
  content/guides/troubleshooting/fix-memory-leak-performance.mdx
  content/guides/tutorials/build-mcp-server.mdx
  content/guides/tutorials/claude-4-extended-thinking-tutorial.mdx
  content/guides/tutorials/claude-agent-development-framework.mdx
  content/guides/tutorials/claude-mcp-server-setup-guide.mdx
  content/guides/tutorials/claude-rate-limits-fix.mdx
  content/guides/tutorials/desktop-mcp-setup.mdx
  content/guides/tutorials/multi-directory-setup.mdx
  content/guides/tutorials/wsl-setup-guide.mdx
  content/guides/use-cases/business-process-automation.mdx
  content/guides/use-cases/financial-services-guide.mdx
  content/guides/use-cases/healthcare-hipaa-guide.mdx
  content/guides/workflows/chatgpt-migration-guide.mdx
  content/guides/workflows/migration-workflow-guide.mdx
  next.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/build/build-content.ts
  src/app/(seo)/compare/[slug]/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/page.tsx
  src/components/content/json-section-renderer.tsx
  src/components/content/mdx-components.tsx
  src/components/content/mdx-renderer.tsx
  src/components/features/changelog/changelog-content.tsx
  src/components/infra/providers/mdx-content-provider.tsx
  src/lib/build/category-processor.server.ts
  src/lib/content/mdx-config.ts
  src/lib/schemas/content/guide-json.schema.ts
  src/lib/schemas/content/guide.schema.ts
  src/lib/schemas/content/guide.schema.ts.backup
  src/lib/utils/content.utils.ts
Labels: dependencies

chore: MDX leftover cleanups
  .storybook/main.ts
  scripts/build/build-content.ts
  scripts/validation/optimize-titles.ts
  src/app/changelog/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/components/content/mdx-components.stories.tsx
  src/components/content/mdx-components.tsx
  src/components/features/changelog/changelog-content.tsx
  src/lib/schemas/content/guide.schema.ts
  src/lib/schemas/content/guide.schema.ts.backup
  src/lib/schemas/shared.schema.ts
  src/lib/seo/pattern-matcher.ts
  templates/seo/category-template.mdx
  templates/seo/collection-template.mdx
  templates/seo/comparison-template.mdx
  templates/seo/troubleshooting-template.mdx
  templates/seo/tutorial-template.mdx
  templates/seo/use-case-template.mdx
  templates/seo/workflow-template.mdx
Labels: none

feat: Claude Desktop Skills packaging system with dual-storage architecture
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/build/generate-skill-packages.ts
  src/lib/config/factories/action-factories.tsx
  src/lib/transformers/skill-to-md.ts
Labels: dependencies

feat: add 21 Claude Desktop skill ZIP packages to content directory
  .gitignore
  content/skills/audio-transcription-summarization.zip
  content/skills/cli-data-viz-quickstart.zip
  content/skills/cloudflare-workers-ai-edge.zip
  content/skills/csv-excel-data-wrangler.zip
  content/skills/docx-report-generator.zip
  content/skills/github-actions-ai-cicd.zip
  content/skills/image-ocr-table-extraction.zip
  content/skills/json-schema-validation-transformation.zip
  content/skills/log-parsing-incident-timeline.zip
  content/skills/markdown-knowledge-base-composer.zip
  content/skills/mintlify-documentation-automation.zip
  content/skills/playwright-e2e-testing.zip
  content/skills/postgresql-query-optimization.zip
  content/skills/rest-api-client-harness.zip
  content/skills/supabase-realtime-database.zip
  content/skills/trpc-type-safe-api.zip
  content/skills/v0-rapid-prototyping.zip
  content/skills/webassembly-module-development.zip
  content/skills/website-crawler-summarizer.zip
  content/skills/windsurf-collaborative-development.zip
  content/skills/zod-schema-validator.zip
Labels: none

feat: add 5 Claude Desktop skills for modern JS/Python tooling + remove dead code
  content/skills/bun-runtime-modern-javascript.json
  content/skills/bun-runtime-modern-javascript.zip
  content/skills/cursor-windsurf-ai-ide-setup.json
  content/skills/cursor-windsurf-ai-ide-setup.zip
  content/skills/fastapi-python-backend.json
  content/skills/fastapi-python-backend.zip
  content/skills/svelte-sveltekit-fullstack.json
  content/skills/svelte-sveltekit-fullstack.zip
  content/skills/vite-build-optimization.json
  content/skills/vite-build-optimization.zip
  scripts/build/generate-skill-packages.ts
  scripts/utilities/warm-cache.ts
  tests/unit/security/rate-limit-rules.test.ts
Labels: content-submission

perf: optimize build system with Turborepo task caching and incremental contentStats
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/build/build-content.ts
  turbo.json
Labels: dependencies

feat: complete Next.js 16.0.0 upgrade with Cache Components migration and TypeScript fixes
  next.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build/build-content.ts
  src/app/(seo)/compare/[slug]/page.tsx
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/api/emails/preview/route.ts
  src/app/api/webhooks/resend/route.ts
  src/app/board/page.tsx
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/page.tsx
  src/app/changelog/rss.xml/route.ts
  src/app/companies/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/page.tsx
  src/app/llms.txt/route.ts
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/tools/config-recommender/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/trending/page.tsx
  src/lib/actions/content.actions.ts
  src/lib/actions/user.actions.ts
  turbo.json
Labels: security, dependencies

fix: remaining force-dynamic routes
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/api/emails/preview/route.ts
  src/app/tools/config-recommender/page.tsx
Labels: none

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
