Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

feat: complete loading pattern consolidation (#7) - 100% coverage
  src/components/core/domain/unified-card-grid.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/features/tools/recommender/quiz-form.tsx
Labels: none

refactor: remove legacy FAB components, keep feature flag control
  src/components/core/layout/floating-mobile-search.tsx
  src/components/core/layout/layout-content.tsx
  src/components/core/shared/back-to-top-button.tsx
  src/components/features/notifications/notification-fab.tsx
Labels: none

feat: unified Floating Action Bar with feature flag (#26)
  src/app/layout.tsx
  src/components/core/layout/layout-content.tsx
  src/components/core/layout/navigation.tsx
  src/components/features/fab/fab-config.ts
  src/components/features/fab/fab.types.ts
  src/components/features/fab/floating-action-bar.tsx
  src/components/features/fab/speed-dial-item.tsx
  src/components/features/fab/use-scroll-direction.ts
  src/lib/flags.ts
Labels: none

fix(lint): resolve 22 linting errors and enable Rules content sections
  src/app/[category]/[slug]/page.tsx
  src/app/layout.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/core/layout/navigation-desktop.tsx
  src/components/core/layout/navigation-mobile.tsx
  src/components/core/layout/navigation.tsx
  src/components/features/fab/fab-config.ts
  src/components/features/fab/floating-action-bar.tsx
  src/components/features/fab/speed-dial-item.tsx
  src/components/features/fab/use-scroll-direction.ts
  src/components/features/navigation/recently-viewed-sidebar.tsx
  src/components/features/navigation/recently-viewed-tracker.tsx
  src/components/features/tools/recommender/quiz-form.tsx
  src/hooks/use-confetti.ts
  src/hooks/use-recently-viewed.ts
  src/lib/components/loading-factory.tsx
  src/lib/config/category-config.generated.ts
  src/lib/flags.ts
Labels: none

fix(badges): consolidate inline badges to UnifiedBadge in recently-viewed-sidebar
  src/components/features/navigation/recently-viewed-sidebar.tsx
Labels: none

refactor(edge-functions): consolidate content APIs into unified content-api
  .github/COVERAGE.md
  next.config.mjs
  scripts/utils/generate-readme.ts
  scripts/utils/submit-indexnow.ts
  src/app/companies/[slug]/page.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/core/domain/profile-card.tsx
  src/components/features/account/connected-accounts-client.tsx
  src/lib/actions/user.actions.ts
  src/lib/ui-constants.ts
  src/types/database-overrides.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database.types.ts
  supabase/functions/_shared/templates/collection-shared.tsx
  supabase/functions/_shared/templates/job-posted.tsx
  supabase/functions/_shared/utils/storage-proxy.ts
  supabase/functions/content-api/index.ts
  supabase/functions/email-handler/index.ts
  supabase/functions/json-api/index.ts
  supabase/functions/llms-txt/index.ts
  supabase/functions/markdown-export/index.ts
  supabase/functions/readme-generator/index.ts
  supabase/functions/sitemap/index.ts
Labels: security

refactor: reduce verbose comments per CLAUDE.md rules (-154 LOC)
  src/components/core/domain/unified-badge.tsx
  src/components/features/fab/fab-config.ts
  src/components/features/fab/floating-action-bar.tsx
  src/hooks/use-recently-viewed.ts
  src/lib/changelog/loader.ts
  src/lib/config/category-config.ts
  src/lib/logger.ts
  src/lib/schemas/env.schema.ts
  src/middleware.ts
Labels: security

refactor(ci): migrate to trunk-based development workflow
  .github/SECURITY.md
  vercel.json
Labels: none

fix: codeQL gripes
  src/components/core/forms/company-form.tsx
Labels: none

fix: remove unnecessary ignorebuildsteps
  vercel.json
Labels: none

fix(ui): resolve jobs promo redirect loop and add missing FAB submit action
  package.json
  pnpm-lock.yaml
  src/components/core/domain/jobs-promo.tsx
  src/components/core/layout/footer.tsx
  src/components/features/fab/fab-config.ts
  src/components/features/fab/floating-action-bar.tsx
Labels: dependencies

feat(home): display dynamic featured jobs from database
  src/app/page.tsx
  src/components/features/home/featured-sections.tsx
  src/components/features/home/index.tsx
  src/lib/types/page-props.types.ts
  src/types/database-overrides.ts
Labels: none

fix(ui): improve homepage jobs display and navigation
  src/components/core/domain/jobs-promo.tsx
  src/components/core/layout/user-menu.tsx
  src/components/features/home/featured-sections.tsx
Labels: none

fix: edge function bugs/improvements
  supabase/functions/changelog-auto-sync/index.ts
  supabase/functions/webhook-router/index.ts
Labels: none

fix: google page redirect issues
  next.config.mjs
  public/robots.txt
Labels: none

refactor: split unified-button into tree-shakeable components
  src/components/buttons/auth/auth-signin-button.tsx
  src/components/buttons/auth/auth-signout-button.tsx
  src/components/buttons/content/copy-llms-button.tsx
  src/components/buttons/content/copy-markdown-button.tsx
  src/components/buttons/content/download-markdown-button.tsx
  src/components/buttons/external/github-stars-button.tsx
  src/components/buttons/interaction/bookmark-button.tsx
  src/components/buttons/interaction/card-copy-button.tsx
  src/components/buttons/jobs/job-delete-button.tsx
  src/components/buttons/jobs/job-toggle-button.tsx
  src/components/buttons/navigation/back-button.tsx
  src/components/buttons/navigation/link-button.tsx
  src/components/buttons/shared/async-action-button.tsx
  src/components/buttons/shared/button-types.ts
Labels: none

refactor: update all imports to use split button components
  src/app/account/jobs/page.tsx
  src/app/account/layout.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/core/domain/config-card.tsx
  src/components/core/layout/navigation.tsx
  src/components/features/tools/recommender/results-display.tsx
Labels: none

chore: update dependencies to latest versions
  package.json
  pnpm-lock.yaml
Labels: dependencies

refactor: remove unified-button.tsx and fix linting issues
  biome.json
  src/app/account/jobs/page.tsx
  src/components/buttons/content/copy-llms-button.tsx
  src/components/buttons/shared/async-action-button.tsx
  src/components/core/domain/config-card.tsx
  src/components/core/domain/unified-button.tsx
  src/components/core/layout/layout-content.tsx
  src/components/core/layout/navigation.tsx
Labels: none

refactor: split content-review-card into focused components for tree-shaking
  src/components/core/domain/reviews/content-review-card.tsx
  src/components/core/domain/reviews/review-list-section.tsx
  src/components/core/domain/reviews/review-rating-histogram.tsx
  src/components/core/domain/reviews/review-rating-interactive.tsx
  src/components/core/domain/reviews/shared/review-types.ts
  src/components/core/domain/reviews/shared/star-display.tsx
  src/components/core/forms/review-form.tsx
  src/components/primitives/feedback/review-rating-compact.tsx
Labels: none

refactor: remove backward compatibility dispatcher, use direct imports
  src/components/content/detail-page/content-detail-view.tsx
  src/components/core/domain/cards/config-card.tsx
  src/components/core/domain/reviews/content-review-card.tsx
Labels: none

feat: add Resend helpers for contact properties and topic assignment
  supabase/functions/_shared/utils/resend-helpers.ts
Labels: none

feat: integrate Resend contact properties and topics in newsletter subscription flow
  supabase/functions/email-handler/index.ts
Labels: none

chore: remove test suite commands from lefthook config
  lefthook.yml
Labels: none

feat(lefthook): comprehensive v3.0.0 upgrade with tech debt tracking
  lefthook.yml
Labels: none

refactor(ci): aggressive GitHub Actions optimization - 185 lines removed
  .github/actions/validate-content/action.yml
  .github/workflows/changes-filter.yml
  .github/workflows/security.yml
Labels: security, github-actions

feat: update email-handler edge function + biome config
  biome.json
  src/types/database.types.ts
  supabase/functions/_shared/database.types.ts
  supabase/functions/email-handler/index.ts
Labels: none

fix: add deno.json
  supabase/functions/deno.json
Labels: none

feat: add Resend segment assignment and begin newsletter component split
  src/components/features/growth/newsletter/newsletter-form.tsx
  src/components/features/growth/newsletter/newsletter-utils.ts
  supabase/functions/_shared/utils/segment-manager.ts
  supabase/functions/email-handler/index.ts
Labels: none

feat: split newsletter component into focused, tree-shakeable modules
  src/app/changelog/page.tsx
  src/app/community/page.tsx
  src/app/companies/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/page.tsx
  src/app/trending/page.tsx
  src/components/content/content-grid-list.tsx
  src/components/content/detail-page/content-detail-view.tsx
  src/components/content/detail-page/detail-header-actions.tsx
  src/components/core/infra/providers/email-capture-modal-provider.tsx
  src/components/core/layout/root-layout-wrapper.tsx
  src/components/features/growth/newsletter-capture.tsx
  src/components/features/growth/newsletter/index.tsx
  src/components/features/growth/newsletter/newsletter-cta-variants.tsx
  src/components/features/growth/newsletter/newsletter-footer-bar.tsx
  src/components/features/growth/newsletter/newsletter-modal.tsx
  src/hooks/use-copy-with-email-capture.ts
  src/types/database-overrides.ts
Labels: none

feat: comprehensive newsletter CTA optimization with A/B testing
  src/components/core/infra/providers/email-capture-modal-provider.tsx
  src/components/core/layout/root-layout-wrapper.tsx
  src/components/features/growth/newsletter/index.tsx
  src/components/features/growth/newsletter/newsletter-cta-variants.tsx
  src/components/features/growth/newsletter/newsletter-form.tsx
  src/components/features/growth/newsletter/newsletter-scroll-trigger.tsx
  src/components/features/growth/newsletter/newsletter-utils.ts
  src/hooks/use-newsletter-count.ts
  src/lib/flags.ts
  supabase/functions/_shared/utils/segment-manager.ts
Labels: none

feat: newsletter analytics, retry logic, and performance optimizations
  src/components/features/growth/newsletter/newsletter-cta-variants.tsx
  src/hooks/use-newsletter-count.ts
  src/hooks/use-newsletter.ts
  src/lib/edge/client.ts
  supabase/functions/analytics/index.ts
Labels: none

feat: implement content detail tabs system with feature flag
  src/app/[category]/[slug]/page.tsx
  src/components/content/detail-page/content-detail-view.tsx
  src/components/content/detail-tabs/tab-section-renderer.tsx
  src/components/content/detail-tabs/tabbed-detail-layout.tsx
  src/lib/config/category-config.ts
  src/lib/config/category-config.types.ts
  src/lib/config/default-tab-configs.ts
  src/lib/types/detail-tabs.types.ts
Labels: none

feat: extract section components for optimal code splitting
  src/components/content/detail-tabs/tab-section-renderer.tsx
  src/components/content/sections/features-section.tsx
  src/components/content/sections/requirements-section.tsx
  src/components/content/sections/security-section.tsx
  src/components/content/sections/troubleshooting-section.tsx
  src/components/content/sections/use-cases-section.tsx
Labels: none

feat: complete section component extraction for optimal code splitting
  src/components/content/detail-page/content-detail-view.tsx
  src/components/content/detail-section-variants.tsx
  src/components/content/detail-tabs/tab-section-renderer.tsx
  src/components/content/detail-tabs/tabbed-detail-layout.tsx
  src/components/content/sections/configuration-section.tsx
  src/components/content/sections/content-section.tsx
  src/components/content/sections/examples-section.tsx
  src/components/content/sections/features-section.tsx
  src/components/content/sections/installation-section.tsx
  src/components/content/sections/requirements-section.tsx
  src/components/content/sections/security-section.tsx
  src/components/content/sections/use-cases-section.tsx
  src/hooks/use-newsletter-count.ts
  src/lib/config/category-config.ts
  src/lib/types/detail-tabs.types.ts
Labels: none

feat: add tab animations and mobile swipe gestures (Phase 6)
  src/app/globals.css
  src/components/content/detail-tabs/tabbed-detail-layout.tsx
  src/styles/tabs.css
Labels: none

refactor: consolidate button components for improved maintainability
  src/app/account/library/[slug]/page.tsx
  src/components/content/detail-page/detail-header-actions.tsx
  src/components/core/buttons/auth/auth-signin-button.tsx
  src/components/core/buttons/content/copy-llms-button.tsx
  src/components/core/buttons/content/copy-markdown-button.tsx
  src/components/core/buttons/content/download-markdown-button.tsx
  src/components/core/buttons/interaction/card-copy-button.tsx
  src/components/core/buttons/navigation/back-button.tsx
  src/components/core/buttons/navigation/link-button.tsx
  src/components/core/buttons/shared/content-action-button.tsx
  src/components/core/buttons/shared/simple-copy-button.tsx
  src/components/core/domain/cards/config-card.tsx
  src/components/features/tools/recommender/share-results.tsx
Labels: none

refactor: consolidate 9 section components into unified-section.tsx
  src/components/content/detail-page/content-detail-view.tsx
  src/components/content/detail-tabs/tab-section-renderer.tsx
  src/components/content/sections/configuration-section.tsx
  src/components/content/sections/content-section.tsx
  src/components/content/sections/examples-section.tsx
  src/components/content/sections/features-section.tsx
  src/components/content/sections/installation-section.tsx
  src/components/content/sections/requirements-section.tsx
  src/components/content/sections/security-section.tsx
  src/components/content/sections/troubleshooting-section.tsx
  src/components/content/sections/unified-section.tsx
  src/components/content/sections/use-cases-section.tsx
Labels: none

refactor: hyper-optimize unified-section to 171 LOC (was 715 LOC)
  src/components/content/sections/unified-section.tsx
  src/components/content/sections/unified-section.types.ts
Labels: none

chore: typescript errors/linting + formatting
  src/app/account/library/[slug]/page.tsx
  src/app/layout.tsx
  src/components/content/detail-page/detail-header-actions.tsx
  src/components/content/sections/unified-section.tsx
  src/components/content/sections/unified-section.types.ts
  src/components/core/buttons/auth/auth-signout-button.tsx
  src/components/core/buttons/external/github-stars-button.tsx
  src/components/core/buttons/interaction/bookmark-button.tsx
  src/components/core/buttons/jobs/job-delete-button.tsx
  src/components/core/buttons/jobs/job-toggle-button.tsx
  src/components/core/buttons/shared/async-action-button.tsx
  src/components/core/buttons/shared/button-types.ts
  src/components/core/buttons/shared/content-action-button.tsx
  src/components/core/buttons/shared/simple-copy-button.tsx
  src/components/core/layout/root-layout-wrapper.tsx
  src/components/features/growth/newsletter/newsletter-cta-variants.tsx
  src/components/features/tools/recommender/share-results.tsx
Labels: none

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
