Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

Checkpoint before follow-up message
  src/lib/schemas/activity.schema.ts
Labels: none

feat: Implement reputation and badge system
  CHANGELOG.md
  src/app/account/activity/page.tsx
  src/app/account/layout.tsx
  src/app/account/page.tsx
  src/components/features/profile/activity-timeline.tsx
  src/hooks/use-badge-notifications.ts
  src/lib/actions/activity-actions.ts
  src/lib/actions/badge-actions.ts
  src/lib/actions/reputation-actions.ts
  src/lib/schemas/activity.schema.ts
  supabase/migrations/2025-10-07-badge-awarding-system.sql
  supabase/migrations/2025-10-07-reputation-system.sql
  supabase/schema.sql
Labels: security

feat: Add reputation system and user profile features
  public/sitemap.xml
  src/app/account/activity/page.tsx
  src/components/features/profile/activity-timeline.tsx
  src/lib/actions/activity-actions.ts
  src/lib/actions/badge-actions.ts
  src/lib/actions/profile-actions.ts
  src/lib/icons.tsx
Labels: security

Checkpoint before follow-up message
  src/app/account/activity/page.tsx
  src/app/account/layout.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/components/features/profile/activity-timeline.tsx
  src/components/features/profile/badge-display.tsx
  src/components/features/profile/profile-edit-form.tsx
  src/lib/actions/activity-actions.ts
  src/lib/actions/badge-actions.ts
  src/lib/actions/reputation-actions.ts
  src/lib/icons.tsx
  src/lib/schemas/badge.schema.ts
  src/lib/schemas/profile.schema.ts
Labels: security

Refactor activity timeline and improve badge notification error handling
  src/components/features/profile/activity-timeline.tsx
  src/hooks/use-badge-notifications.ts
Labels: none

Checkpoint before follow-up message
  src/components/changelog/changelog-list-client.tsx
Labels: none

Refactor: Improve image handling and UI components
  src/app/account/settings/page.tsx
  src/app/guides/page.tsx
  src/components/changelog/category-filter.tsx
  src/components/changelog/changelog-list-client.tsx
  src/lib/actions/activity-actions.ts
  src/lib/actions/badge-actions.ts
Labels: security

Refactor: Use ContentListServer for unified guides page
  src/app/guides/page.tsx
Labels: none

Checkpoint before follow-up message
  src/components/features/content/collection-card.tsx
Labels: none

Refactor: Rename bookmarks to library and add collections
  src/app/account/bookmarks/page.tsx
  src/app/account/layout.tsx
  src/app/account/library/[slug]/edit/page.tsx
  src/app/account/library/[slug]/page.tsx
  src/app/account/library/new/page.tsx
  src/app/account/library/page.tsx
  src/app/account/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/library/collection-form.tsx
  src/components/library/collection-item-manager.tsx
  src/lib/actions/bookmark-actions.ts
  src/lib/actions/collection-actions.ts
  supabase/migrations/2025-10-07-user-collections.sql
  supabase/schema.sql
Labels: security

Refactor: Improve collection management and tracking
  src/app/account/library/[slug]/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/components/library/collection-form.tsx
  src/components/library/collection-item-manager.tsx
  src/lib/actions/collection-actions.ts
  src/lib/icons.tsx
Labels: security

Refactor: Improve collection management and UI components
  src/app/account/library/[slug]/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/library/collection-form.tsx
  src/components/library/collection-item-manager.tsx
  src/lib/actions/collection-actions.ts
Labels: security

feat: Add user collections and library page
  CHANGELOG.md
Labels: none

feat: Add configuration recommender tool
  src/app/tools/config-recommender/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/components/tools/recommender/question-card.tsx
  src/components/tools/recommender/quiz-form.tsx
  src/components/tools/recommender/quiz-progress.tsx
  src/components/tools/recommender/recommendation-card.tsx
  src/components/tools/recommender/results-display.tsx
  src/components/tools/recommender/share-results.tsx
  src/lib/actions/recommender-actions.ts
  src/lib/recommender/algorithm.ts
  src/lib/recommender/scoring.ts
  src/lib/recommender/weights.ts
  src/lib/schemas/recommender.schema.ts
  src/lib/seo/metadata-registry.ts
Labels: security

feat: Add dialog component and icons, update recommender schema
  src/components/tools/recommender/question-card.tsx
  src/components/ui/dialog.tsx
  src/lib/icons.tsx
  src/lib/schemas/recommender.schema.ts
Labels: none

feat: Add configuration recommender tool
  public/robots.txt
  public/sitemap.xml
  scripts/generate-sitemap.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/tools/config-recommender/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/components/tools/recommender/question-card.tsx
  src/components/tools/recommender/quiz-form.tsx
  src/components/tools/recommender/quiz-progress.tsx
  src/components/tools/recommender/recommendation-card.tsx
  src/components/tools/recommender/results-display.tsx
  src/components/tools/recommender/share-results.tsx
  src/lib/actions/recommender-actions.ts
  src/lib/recommender/algorithm.ts
  src/lib/recommender/scoring.ts
  src/lib/schemas/recommender.schema.ts
  src/lib/seo/metadata-registry.ts
Labels: security

Checkpoint before follow-up message
  src/components/tools/recommender/share-results.tsx
  src/lib/schemas/recommender.schema.ts
Labels: none

feat: Add Configuration Recommender Tool
  CHANGELOG.md
  public/sitemap.xml
Labels: none

Checkpoint before follow-up message
  src/lib/personalization/types.ts
  src/lib/schemas/personalization.schema.ts
  supabase/migrations/20250108000000_personalization_engine.sql
Labels: none

feat: Implement personalization engine
  PERSONALIZATION_ENGINE_IMPLEMENTATION.md
  PERSONALIZATION_QUICKSTART.md
  src/app/api/cron/calculate-affinities/route.ts
  src/app/api/cron/calculate-similarities/route.ts
  src/app/for-you/loading.tsx
  src/app/for-you/page.tsx
  src/components/personalization/for-you-feed-client.tsx
  src/components/personalization/similar-configs-section.tsx
  src/lib/actions/affinity-actions.ts
  src/lib/actions/bookmark-actions.ts
  src/lib/actions/interaction-actions.ts
  src/lib/actions/personalization-actions.ts
  src/lib/actions/track-view.ts
  src/lib/analytics/events.config.ts
  src/lib/personalization/affinity-scorer.ts
  src/lib/personalization/collaborative-filter.ts
  src/lib/personalization/for-you-feed.ts
  src/lib/personalization/similar-configs.ts
  src/lib/personalization/usage-based-recommender.ts
Labels: security

feat: Implement personalized recommendation engine
  CHANGELOG.md
  PERSONALIZATION_ENGINE_IMPLEMENTATION.md
  PERSONALIZATION_QUICKSTART.md
Labels: none

Refactor: Improve type safety and runtime config
  src/app/api/cron/calculate-affinities/route.ts
  src/app/api/cron/calculate-similarities/route.ts
  src/lib/actions/affinity-actions.ts
  src/lib/actions/bookmark-actions.ts
  src/lib/actions/interaction-actions.ts
  src/lib/actions/personalization-actions.ts
  src/lib/actions/track-view.ts
  src/lib/personalization/for-you-feed.ts
Labels: security

Checkpoint before follow-up message
  public/sitemap.xml
Labels: none

Refactor personalization logic and components
  src/app/api/cron/calculate-similarities/route.ts
  src/components/personalization/for-you-feed-client.tsx
  src/components/personalization/similar-configs-section.tsx
  src/lib/actions/affinity-actions.ts
  src/lib/actions/personalization-actions.ts
  src/lib/personalization/collaborative-filter.ts
  src/lib/personalization/for-you-feed.ts
  src/lib/personalization/similar-configs.ts
  src/lib/personalization/usage-based-recommender.ts
  src/lib/schemas/personalization.schema.ts
Labels: security

Refactor personalization logic and UI components
  src/app/api/cron/calculate-affinities/route.ts
  src/app/api/cron/calculate-similarities/route.ts
  src/app/for-you/loading.tsx
  src/app/for-you/page.tsx
  src/components/personalization/for-you-feed-client.tsx
  src/components/personalization/similar-configs-section.tsx
  src/lib/actions/bookmark-actions.ts
  src/lib/actions/interaction-actions.ts
  src/lib/actions/personalization-actions.ts
  src/lib/personalization/affinity-scorer.ts
  src/lib/personalization/collaborative-filter.ts
  src/lib/personalization/for-you-feed.ts
  src/lib/personalization/similar-configs.ts
  src/lib/personalization/types.ts
  src/lib/personalization/usage-based-recommender.ts
  src/lib/schemas/personalization.schema.ts
Labels: security

Refactor: Use ConfigGridSkeleton for ForYou loading
  src/app/for-you/loading.tsx
Labels: none

feat: Add IndexNow URL submission script
  package.json
  public/863ad0a5c1124f59a060aa77f0861518.txt
  scripts/submit-indexnow.ts
Labels: dependencies

Checkpoint before follow-up message
  CHANGELOG.md
  scripts/submit-indexnow.ts
  src/app/tools/config-recommender/results/[id]/opengraph-image.tsx
  src/components/tools/recommender/recommendation-card.tsx
  src/components/tools/recommender/results-display.tsx
  src/emails/templates/weekly-digest.tsx
  src/lib/actions/bookmark-actions.ts
  src/lib/actions/recommender-actions.ts
  src/lib/services/digest.service.ts
Labels: security

feat: Database optimization - 2-8x performance improvement
  src/app/api/cron/calculate-affinities/route.ts
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/lib/actions/bookmark-actions.ts
  supabase/README.md
  supabase/archive/supabase-function-fixes.sql
  supabase/archive/supabase-schema.sql
  supabase/archive/supabase-sponsored-increment.sql
  supabase/migrations/2025-10-07-badge-awarding-system.sql
  supabase/migrations/2025-10-07-reputation-system.sql
  supabase/migrations/2025-10-07-user-collections.sql
  supabase/migrations/20250108000000_personalization_engine.sql
  supabase/schema.sql
Labels: security

feat(seo): complete SEO optimization - breadcrumbs, metadata, and llms.txt enhancements
  src/app/[category]/[slug]/opengraph-image.tsx
  src/app/[category]/[slug]/page.tsx
  src/app/changelog/[slug]/opengraph-image.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/jobs/[slug]/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/results/[id]/opengraph-image.tsx
  src/components/structured-data/breadcrumb-schema.tsx
  src/lib/llms-txt/generator.ts
  src/lib/seo/metadata-generator.ts
Labels: none

fix: package updates
  next.config.mjs
  package-lock.json
  package.json
  public/sitemap.xml
Labels: dependencies

fix: screenshot image sizes
  public/assets/images/og-screenshot.avif
  public/assets/images/og-screenshot.png
  public/assets/images/og-screenshot.webp
  public/assets/images/screenshot-desktop.png
  public/assets/images/screenshot-desktop.webp
  public/assets/images/screenshot-mobile.png
Labels: none

fix: remove junk files.
  public/assets/images/og-screenshot.avif
  public/assets/images/og-screenshot.webp
  public/assets/images/screenshot-desktop.webp
Labels: none

fix: broken PWA middleware matcher
  src/middleware.ts
Labels: security

refactor: extract shared component logic to reduce duplication
  CHANGELOG.md
  src/components/features/content/collection-card.tsx
  src/components/features/content/config-card.tsx
  src/components/shared/base-card.tsx
  src/components/shared/copy-llms-button.tsx
  src/components/shared/newsletter-form.tsx
  src/hooks/use-newsletter.ts
Labels: none

refactor(ui): migrate shadcn/ui components to React 19 ref-as-prop pattern
  CHANGELOG.md
  package-lock.json
  package.json
  public/sitemap.xml
  src/app/board/page.tsx
  src/app/changelog/[slug]/loading.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/components/interactive/expert-quote.tsx
  src/components/layout/theme-toggle.tsx
  src/components/library/collection-form.tsx
  src/components/library/collection-item-manager.tsx
  src/components/personalization/similar-configs-section.tsx
  src/components/tools/recommender/quiz-form.tsx
  src/components/tools/recommender/recommendation-card.tsx
  src/components/tools/recommender/results-display.tsx
  src/components/ui/avatar.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/command.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/separator.tsx
  src/components/ui/switch.tsx
Labels: dependencies

perf: optimize Supabase auth and RLS performance for production
  src/middleware.ts
  supabase/schema.sql
Labels: security

refactor: remove static-api directory and optimize build process
  biome.json
  package.json
  public/api/openapi.json
  public/assets/seo/80a6d72a5f3f44c5a1ceba7fbcf8efe9.txt
  public/seo/llms.txt
  public/seo/robots.txt
  public/seo/sitemap.xml
  public/sitemap.xml
  scripts/verify-all-titles.ts
  scripts/verify-seo-titles.ts
  src/middleware.ts
Labels: security, dependencies

fix: build issue w/ packages
  package-lock.json
  package.json
  public/sitemap.xml
Labels: dependencies

fix: improve card spacing consistency and infinite scroll reliability
  CHANGELOG.md
  src/app/guides/page.tsx
  src/components/content-search-client.tsx
  src/components/features/content/config-card.tsx
  src/components/features/home/index.tsx
  src/components/features/home/search-section.tsx
  src/components/features/home/tabs-section.tsx
  src/components/shared/infinite-scroll-container.tsx
  src/components/shared/structured-data.tsx
  src/components/smart-related-content/carousel.tsx
  src/components/structured-data/unified-structured-data.tsx
  src/components/tools/recommender/recommendation-card.tsx
  src/components/unified-detail-page/sidebar/detail-sidebar.tsx
  src/components/unified-detail-page/sidebar/sidebar-related-items-card.tsx
  src/hooks/use-infinite-scroll.ts
  src/lib/actions/personalization-actions.ts
  src/lib/related-content/service.ts
  src/lib/ui-constants.ts
  src/lib/utils/url-helpers.ts
  src/middleware.ts
Labels: security
