Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: community-mcp, community-hooks, community-agents, community-commands, community-rules, community-statuslines, community-collections, security, performance, content, dependencies, github-actions, documentation, middleware, api, ui, config, build, seo, testing

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files

# ========================================
# COMMUNITY CONTRIBUTION LABELS
# ========================================

# Community MCP Server Contributions
community-mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/mcp/*.json'
      - 'templates/content/mcp-template*.json'

# Community Hook Contributions
community-hooks:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/hooks/*.json'
      - 'templates/content/hooks-template*.json'

# Community Agent Contributions
community-agents:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/agents/*.json'
      - 'templates/content/agents-template*.json'

# Community Command Contributions
community-commands:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/commands/*.json'
      - 'templates/content/commands-template*.json'

# Community Rule Contributions
community-rules:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/rules/*.json'
      - 'templates/content/rules-template*.json'

# Community Statusline Contributions
community-statuslines:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/statuslines/*.json'
      - 'templates/content/statuslines-template*.json'

# Community Collection Contributions
community-collections:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/collections/*.json'
      - 'templates/content/collections-template*.json'

# ========================================
# TECHNICAL LABELS
# ========================================

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - '.github/workflows/security.yml'
      - 'config/security/**'

# Performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/shared/performance-optimizer.tsx'
      - 'src/lib/performance/**'
      - 'next.config.mjs'
      - 'config/tools/lighthouserc.json'
      - '.github/workflows/bundle-analysis.yml'
      - '.github/workflows/lighthouse.yml'

# General content changes (non-community)
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/guides/**/*.mdx'
      - 'src/lib/content/**'
      - 'scripts/generate-*.ts'

# Dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# GitHub Actions workflows
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'CHANGELOG.md'
      - 'README.md'
      - 'templates/**'

# Middleware changes
middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/middleware/**'

# API routes
api:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/api/**'
      - 'src/lib/api/**'

# UI components
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*.tsx'
      - 'src/lib/ui-constants.ts'
      - 'src/app/**/page.tsx'
      - 'src/app/**/layout.tsx'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**'
      - 'tsconfig.json'
      - 'biome.json'
      - 'tailwind.config.ts'

# Build system
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'next.config.mjs'
      - 'turbo.json'
      - 'scripts/build-*.ts'

# SEO and metadata
seo:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/**/opengraph-image.tsx'
      - 'src/app/**/twitter-image.tsx'
      - 'src/components/structured-data/**'
      - 'src/components/shared/structured-data.tsx'
      - 'public/robots.txt'
      - 'public/sitemap.xml'
      - 'scripts/generate-sitemap.ts'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/*.spec.tsx'
      - 'tests/**'
      - '__tests__/**'

fix: resolve CSP violations and update Umami analytics configuration
  next.config.mjs
  src/app/layout.tsx
  src/components/shared/umami-script.tsx
Labels: performance, ui, build

fix: correct headers import path in layout.tsx
  src/app/layout.tsx
Labels: ui

refactor: migrate to next-safe-action v8 and eliminate GitHub API dependency
  CHANGELOG.md
  package-lock.json
  package.json
  public/service-worker.js
  src/app/(seo)/guides/[...slug]/page.tsx
  src/app/actions/submit-config.ts
  src/app/collections/[slug]/page.tsx
  src/app/layout.tsx
  src/app/submit/page.tsx
  src/components/shared/card-copy-action.tsx
  src/components/shared/view-tracker.tsx
  src/lib/actions/safe-action.ts
  src/lib/actions/track-view.ts
  src/lib/analytics/tracker.ts
  src/lib/constants.ts
  src/lib/schemas/content/command.schema.ts
  src/lib/schemas/content/rule.schema.ts
  src/lib/schemas/env.schema.ts
  src/lib/schemas/form.schema.ts
  src/lib/schemas/logger.schema.ts
  src/lib/security/html-sanitizer.ts
  src/lib/security/patterns.ts
  src/lib/security/validators.ts
  src/lib/services/github.service.ts
  src/lib/utils/github-issue-url.ts
Labels: security, dependencies, documentation, ui

fix: replace vulnerable regex-based HTML sanitization with DOMPurify
  package-lock.json
  package.json
  src/lib/schemas/logger.schema.ts
  src/lib/security/html-sanitizer.ts
  src/lib/security/validators.ts
Labels: security, dependencies

fix: resolve CSP violations and update Umami analytics configuration (#40)
  CHANGELOG.md
  next.config.mjs
  package-lock.json
  package.json
  public/service-worker.js
  src/app/(seo)/guides/[...slug]/page.tsx
  src/app/actions/submit-config.ts
  src/app/collections/[slug]/page.tsx
  src/app/layout.tsx
  src/app/submit/page.tsx
  src/components/shared/card-copy-action.tsx
  src/components/shared/umami-script.tsx
  src/components/shared/view-tracker.tsx
  src/lib/actions/safe-action.ts
  src/lib/actions/track-view.ts
  src/lib/analytics/tracker.ts
  src/lib/constants.ts
  src/lib/schemas/content/command.schema.ts
  src/lib/schemas/content/rule.schema.ts
  src/lib/schemas/env.schema.ts
  src/lib/schemas/form.schema.ts
  src/lib/schemas/logger.schema.ts
  src/lib/security/html-sanitizer.ts
  src/lib/security/patterns.ts
  src/lib/security/validators.ts
  src/lib/services/github.service.ts
  src/lib/utils/github-issue-url.ts
Labels: security, performance, dependencies, documentation, ui, build

fix: resolve CSP violations and update Umami analytics configuration (#40)
  CHANGELOG.md
  next.config.mjs
  package-lock.json
  package.json
  public/service-worker.js
  src/app/(seo)/guides/[...slug]/page.tsx
  src/app/actions/submit-config.ts
  src/app/collections/[slug]/page.tsx
  src/app/layout.tsx
  src/app/submit/page.tsx
  src/components/shared/card-copy-action.tsx
  src/components/shared/umami-script.tsx
  src/components/shared/view-tracker.tsx
  src/lib/actions/safe-action.ts
  src/lib/actions/track-view.ts
  src/lib/analytics/tracker.ts
  src/lib/constants.ts
  src/lib/schemas/content/command.schema.ts
  src/lib/schemas/content/rule.schema.ts
  src/lib/schemas/env.schema.ts
  src/lib/schemas/form.schema.ts
  src/lib/schemas/logger.schema.ts
  src/lib/security/html-sanitizer.ts
  src/lib/security/patterns.ts
  src/lib/security/validators.ts
  src/lib/services/github.service.ts
  src/lib/utils/github-issue-url.ts
Labels: security, performance, dependencies, documentation, ui, build
