Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

fix: update README + build issue
  README.md
  src/app/(seo)/compare/[slug]/page.tsx
Labels: none

fix: build error
  src/app/jobs/[slug]/page.tsx
Labels: none

fix: build errors
  config/build/tsconfig.json
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/lib/cache.server.ts
Labels: none

fix: build issues
  src/lib/seo/metadata-registry.ts
Labels: none

fix: build issues
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/rss.xml/route.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/llms.txt/route.ts
  src/lib/seo/metadata-registry.ts
Labels: none

fix: build issues
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/app/jobs/[slug]/page.tsx
  src/app/jobs/page.tsx
  src/app/layout.tsx
  src/app/search/page.tsx
  src/app/u/[slug]/page.tsx
Labels: none

fix: additional build errors..
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/app/jobs/[slug]/page.tsx
  src/app/jobs/page.tsx
  src/app/layout.tsx
  src/app/search/page.tsx
  src/app/u/[slug]/page.tsx
  src/lib/seo/metadata-registry.ts
Labels: none

fix: again
  src/lib/seo/metadata-registry.ts
Labels: none

fix: remove cacheComponents
  next-env.d.ts
  next.config.mjs
  src/app/(seo)/compare/[slug]/page.tsx
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/app/board/page.tsx
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/page.tsx
  src/app/changelog/rss.xml/route.ts
  src/app/companies/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/page.tsx
  src/app/llms.txt/route.ts
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/tools/config-recommender/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/trending/page.tsx
  src/components/infra/structured-data/breadcrumb-schema.tsx
  src/components/infra/structured-data/changelog-structured-data.tsx
  src/components/infra/structured-data/organization-schema.tsx
  src/components/infra/structured-data/unified-structured-data.tsx
  src/lib/cache.server.ts
  src/lib/content/content-loaders.ts
  src/lib/utils/content.utils.ts
Labels: none

fix: homepage issues
  src/app/page.tsx
  src/lib/cache.server.ts
  src/lib/config/category-config.ts
Labels: none

fix: caching issues
  next-env.d.ts
  scripts/build/build-content.ts
  src/lib/cache.server.ts
  turbo.json
Labels: none

feat: modernize navigation UX and add legal pages
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/(auth)/auth-code-error/page.tsx
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/accessibility/page.tsx
  src/app/auth/auth-code-error/page.tsx
  src/app/auth/callback/route.ts
  src/app/contact/page.tsx
  src/app/cookies/page.tsx
  src/app/help/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  src/components/layout/footer.tsx
  src/components/layout/navigation-command-menu.tsx
  src/components/layout/navigation.tsx
  src/config/navigation.ts
  src/lib/ui-constants.ts
Labels: dependencies

feat: add notification system with mobile FAB and desktop toasts
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/(auth)/layout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/features/notifications/notification-badge.tsx
  src/components/features/notifications/notification-fab.tsx
  src/components/features/notifications/notification-item.tsx
  src/components/features/notifications/notification-list.tsx
  src/components/features/notifications/notification-sheet.tsx
  src/components/features/notifications/notification-toast-handler.tsx
  src/components/layout/footer.tsx
  src/components/layout/mode-toggle.tsx
  src/components/layout/navigation-command-menu.tsx
  src/components/layout/navigation.tsx
  src/components/shared/back-to-top-button.tsx
  src/config/notifications.ts
  src/lib/icons.tsx
  src/lib/stores/notification-store.ts
Labels: dependencies

fix: homepage issues + linting/formatting
  src/components/features/notifications/notification-badge.tsx
  src/components/features/notifications/notification-fab.tsx
  src/components/features/notifications/notification-list.tsx
  src/components/features/notifications/notification-sheet.tsx
  src/components/features/notifications/notification-toast-handler.tsx
  src/lib/content/content-loaders.ts
  src/lib/schemas/shared.schema.ts
  src/lib/services/featured.server.ts
  src/lib/stores/notification-store.ts
  src/lib/supabase/client.mock.ts
  src/lib/supabase/server.ts
Labels: none

fix: navigation menu tweaks
  src/components/features/search/search-trigger.tsx
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
Labels: none

fix: hero section updates
  src/app/page.tsx
  src/components/features/home/hero-section.tsx
  src/components/primitives/input.tsx
Labels: none

fix: various footer + display tweaks
  next-env.d.ts
  src/app/(auth)/auth/callback/route.ts
  src/app/micro-interactions.css
  src/components/layout/footer.tsx
  src/components/shared/back-to-top-button.tsx
  tests/integration/auth/auth-callback.test.ts
Labels: none

fix: build script hashing
  content/skills/audio-transcription-summarization.zip
  content/skills/bun-runtime-modern-javascript.zip
  content/skills/cli-data-viz-quickstart.zip
  content/skills/cloudflare-workers-ai-edge.zip
  content/skills/csv-excel-data-wrangler.zip
  content/skills/cursor-windsurf-ai-ide-setup.zip
  content/skills/docx-report-generator.zip
  content/skills/fastapi-python-backend.zip
  content/skills/github-actions-ai-cicd.zip
  content/skills/image-ocr-table-extraction.zip
  content/skills/json-schema-validation-transformation.zip
  content/skills/log-parsing-incident-timeline.zip
  content/skills/markdown-knowledge-base-composer.zip
  content/skills/mintlify-documentation-automation.zip
  content/skills/playwright-e2e-testing.zip
  content/skills/postgresql-query-optimization.zip
  content/skills/rest-api-client-harness.zip
  content/skills/supabase-realtime-database.zip
  content/skills/svelte-sveltekit-fullstack.zip
  content/skills/trpc-type-safe-api.zip
  content/skills/v0-rapid-prototyping.zip
  content/skills/vite-build-optimization.zip
  content/skills/webassembly-module-development.zip
  content/skills/website-crawler-summarizer.zip
  content/skills/windsurf-collaborative-development.zip
  content/skills/zod-schema-validator.zip
  next-env.d.ts
  scripts/build/build-content.ts
  scripts/build/generate-skill-packages.ts
  src/app/layout.tsx
  src/app/micro-interactions.css
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
  src/lib/icons.tsx
  turbo.json
Labels: none

fix: micro interactions updates
  next-env.d.ts
  src/app/layout.tsx
  src/app/micro-interactions.css
Labels: none

fix: theme toggle slowness
  src/app/globals.css
  src/app/layout.tsx
  src/app/micro-interactions.css
  src/app/view-transitions.css
  src/components/layout/theme-toggle.tsx
Labels: none

fix: turborepo caching issues
  package.json
  turbo.json
Labels: dependencies

fix: sitemap generator updates
  src/lib/build/url-generator.server.ts
Labels: none

fix: newsletter cta updates
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/primitives/input.tsx
Labels: none

fix: build caching
  turbo.json
Labels: none

fix: navigation + footer logo
  next-env.d.ts
  src/app/globals.css
  src/components/layout/footer.tsx
  src/components/layout/heyclaude-text.tsx
  src/components/layout/navigation.tsx
Labels: none

fix: heyclaude logo
  next-env.d.ts
  src/components/layout/footer.tsx
  src/components/layout/heyclaude-effect.tsx
  src/components/layout/navigation.tsx
  src/components/ui/shadcn-io/apple-hello-effect/index.tsx
Labels: none

fix: logo
  src/components/layout/footer.tsx
  src/components/layout/heyclaude-logo.tsx
  src/components/layout/navigation.tsx
  src/components/ui/shadcn-io/highlight-text/index.tsx
Labels: none

fix: microinteractions + email CTA
  src/app/globals.css
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/layout/footer.tsx
  src/lib/config/category-config.ts
Labels: none

fix: caching
  src/app/[category]/page.tsx
  src/app/page.tsx
  src/components/domain/config-card.tsx
  src/components/layout/navigation.tsx
  src/components/magic/number-ticker.tsx
  src/config/navigation.ts
  src/lib/cache.server.ts
Labels: none

feat: add 10 Claude Code command content files
  content/commands/checkpoint-manager.json
  content/commands/claudemd-builder.json
  content/commands/context-analyzer.json
  content/commands/hooks-generator.json
  content/commands/mcp-setup.json
  content/commands/plan-mode.json
  content/commands/skills-installer.json
  content/commands/slash-command-gen.json
  content/commands/subagent-create.json
  content/commands/tdd-workflow.json
Labels: content-submission

fix: redis analytics system - ISR optimization and cache invalidation
  src/app/[category]/page.tsx
  src/app/page.tsx
  src/lib/cache.server.ts
  src/lib/services/analytics-queue.server.ts
Labels: none

feat: automated sitemap route discovery with configuration-driven exclusions
  README.md
  next-env.d.ts
  src/lib/build/url-generator.server.ts
  src/lib/constants.ts
Labels: none

feat: 10 functional statuslines + 5-step discovery workflow with mandatory official docs
  README.md
  config/content/discovery/trend-detection.ts
  content/statuslines/api-latency-breakdown.json
  content/statuslines/burn-rate-monitor.json
  content/statuslines/cache-efficiency-monitor.json
  content/statuslines/daily-usage-percentage-tracker.json
  content/statuslines/five-hour-window-tracker.json
  content/statuslines/lines-per-minute-tracker.json
  content/statuslines/model-switch-history-tracker.json
  content/statuslines/multi-session-overlap-indicator.json
  content/statuslines/session-health-score.json
  content/statuslines/workspace-project-depth-indicator.json
  next-env.d.ts
  src/lib/schemas/content/base-content.schema.ts
Labels: content-submission

feat: 10 Claude Code agents with discovery workflow
  README.md
  content/agents/agent-skills-framework-engineer.json
  content/agents/claude-haiku-45-speed-optimizer-agent.json
  content/agents/claude-mcp-skills-integration-agent.json
  content/agents/claude-md-knowledge-manager-agent.json
  content/agents/context-window-optimizer-agent.json
  content/agents/extended-thinking-orchestrator.json
  content/agents/github-copilot-interop-bridge.json
  content/agents/life-sciences-research-specialist.json
  content/agents/parallel-subagent-distributor.json
  content/agents/plugin-ecosystem-architect.json
  content/agents/production-reliability-engineer.json
  content/agents/prompt-optimization-specialist.json
  content/agents/token-cost-budget-optimizer.json
  content/agents/web-async-agent-coordinator.json
  content/rules/api-first-development-architect.json
  content/rules/monorepo-workspace-manager.json
  content/rules/test-driven-development-enforcer.json
Labels: content-submission

feat: consulting page and UI improvements
  content/agents/token-cost-budget-optimizer.json
  content/agents/web-async-agent-coordinator.json
  next-env.d.ts
  src/app/consulting/page.tsx
  src/components/domain/config-card.tsx
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
  src/components/magic/border-beam.tsx
  src/lib/schemas/content/base-content.schema.ts
Labels: content-submission

feat: community directory, job board payment workflow, and author attribution system
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/community/directory/page.tsx
  src/app/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/content/unified-detail-page/detail-metadata.tsx
  src/components/domain/base-card.tsx
  src/components/domain/config-card.tsx
  src/components/domain/profile-card.tsx
  src/components/domain/unified-button.tsx
  src/components/features/community/contributors-sidebar.tsx
  src/components/features/community/profile-search-client.tsx
  src/components/features/community/top-contributors.tsx
  src/components/features/home/featured-sections.tsx
  src/components/features/social/follow-button.tsx
  src/components/primitives/command.tsx
  src/lib/actions/business.actions.ts
  src/lib/config/form-field-config.ts
  src/lib/schemas/component.schema.ts
  src/lib/schemas/components/content-item.schema.ts
  src/lib/schemas/content/base-content.schema.ts
  src/lib/schemas/form.schema.ts
  src/lib/structured-data/schema-builder.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: security, dependencies

feat: postgresql full-text search with server-side filtering and client-side cleanup
  src/app/community/directory/page.tsx
  src/components/features/community/profile-search-client.tsx
  src/lib/repositories/company.repository.ts
  src/lib/repositories/job.repository.ts
  src/lib/repositories/user.repository.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: none

feat: supabase edge functions deployment and ISR optimization
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/api/cron/daily-maintenance/route.ts
  src/app/companies/page.tsx
  src/app/layout.tsx
  src/app/u/[slug]/page.tsx
  src/lib/repositories/bookmark.repository.ts
  src/lib/repositories/company.repository.ts
  src/lib/services/featured.server.ts
  src/middleware.ts
  src/types/database.types.ts
  supabase/functions/_shared/email-config.ts
  supabase/functions/_shared/layouts/base-layout.tsx
  supabase/functions/_shared/templates/newsletter-welcome.tsx
  supabase/functions/_shared/templates/onboarding-community.tsx
  supabase/functions/_shared/templates/onboarding-getting-started.tsx
  supabase/functions/_shared/templates/onboarding-power-tips.tsx
  supabase/functions/_shared/templates/onboarding-stay-engaged.tsx
  supabase/functions/_shared/templates/product-hunt/ph-launch-day.tsx
  supabase/functions/_shared/templates/product-hunt/ph-mid-day-reminder.tsx
  supabase/functions/_shared/templates/product-hunt/ph-pre-launch.tsx
  supabase/functions/_shared/templates/weekly-digest.tsx
  supabase/functions/_shared/utils/common-styles.ts
  supabase/functions/_shared/utils/email-utm.ts
  supabase/functions/_shared/utils/render.ts
  supabase/functions/_shared/utils/theme.ts
  supabase/functions/_shared/utils/utm-templates.ts
  supabase/functions/send-transactional-email/index.ts
  supabase/functions/send-welcome-email/index.ts
  supabase/schema.sql
Labels: security

feat: migrate analytics to Supabase materialized views for 100-400x performance boost
  src/app/page.tsx
  src/app/trending/page.tsx
  src/lib/actions/analytics.actions.ts
  src/lib/personalization/for-you-feed.ts
  src/lib/repositories/user-affinity.repository.ts
  src/lib/services/badge-award.service.ts
  src/lib/services/user-activity-triggers.service.ts
  src/lib/trending/calculator.server.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: security

refactor: eliminate repository cache layer - simplify from 3-tier to 2-tier caching
  next-env.d.ts
  src/lib/actions/analytics.actions.ts
  src/lib/personalization/affinity-scorer.ts
  src/lib/repositories/activity.repository.ts
  src/lib/repositories/base.repository.ts
  src/lib/repositories/bookmark.repository.ts
  src/lib/repositories/collection.repository.ts
  src/lib/repositories/comment.repository.ts
  src/lib/repositories/company.repository.ts
  src/lib/repositories/content-similarity.repository.ts
  src/lib/repositories/follower.repository.ts
  src/lib/repositories/job.repository.ts
  src/lib/repositories/post.repository.ts
  src/lib/repositories/reputation.repository.ts
  src/lib/repositories/review.repository.ts
  src/lib/repositories/sponsored-content.repository.ts
  src/lib/repositories/submission.repository.ts
  src/lib/repositories/user-affinity.repository.ts
  src/lib/repositories/user-badge.repository.ts
  src/lib/repositories/user-interaction.repository.ts
  src/lib/repositories/user.repository.ts
  src/lib/repositories/vote.repository.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: security

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
