Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

Refactor: Remove unused biome rules and add explicit types
  biome.json
  src/app/page.tsx
  src/components/shared/bookmark-button.tsx
  src/components/submit/submit-form-client.tsx
  src/components/submit/template-selector.tsx
  src/lib/github/content-manager.ts
Labels: none

Checkpoint before follow-up message
  src/app/account/layout.tsx
  src/app/board/new/page.tsx
  src/app/board/page.tsx
  src/app/collections/[slug]/llms.txt/route.ts
  src/app/collections/[slug]/page.tsx
  src/app/companies/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/board/new-post-form.tsx
  src/components/jobs/job-form.tsx
  src/components/submit/sidebar/tips-card.tsx
  src/components/submit/submit-form-client.tsx
  src/lib/schemas/content/job.schema.ts
Labels: none

Checkpoint before follow-up message
  src/components/submit/submit-form-client.tsx
  src/lib/schemas/content/job.schema.ts
Labels: none

Checkpoint before follow-up message
  src/components/submit/submit-form-client.tsx
  src/components/ui/sponsored-badge.tsx
  src/lib/actions/submission-stats-actions.ts
Labels: security

Checkpoint before follow-up message
  src/app/collections/[slug]/llms.txt/route.ts
  src/app/collections/[slug]/page.tsx
  src/components/ui/sponsored-badge.tsx
Labels: none

chore: Remove accidentally committed core dump file
  .gitignore
Labels: none

Checkpoint before follow-up message
  src/lib/changelog/loader.ts
  src/lib/changelog/parser.ts
  src/lib/changelog/utils.ts
  src/lib/schemas/changelog.schema.ts
Labels: none

feat: Add changelog components and filtering
  src/components/changelog/category-filter.tsx
  src/components/changelog/changelog-card.tsx
  src/components/changelog/changelog-content.tsx
Labels: none

feat: Add changelog pages and metadata registry entries
  src/app/changelog/[slug]/loading.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/loading.tsx
  src/app/changelog/page.tsx
  src/components/changelog/changelog-list-client.tsx
  src/lib/seo/metadata-registry.ts
Labels: none

feat: Add OpenGraph image generation for changelog
  src/app/changelog/[slug]/opengraph-image.tsx
  src/app/changelog/opengraph-image.tsx
Labels: none

feat: Add changelog feeds and llms.txt endpoints
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/rss.xml/route.ts
Labels: none

feat: Add structured data for changelog pages
  biome.json
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/page.tsx
  src/components/structured-data/changelog-structured-data.tsx
  src/lib/changelog/structured-data.ts
Labels: none

feat: Add changelog to sitemap and robots.txt
  biome.json
  scripts/generate-sitemap.ts
Labels: none

feat: Add changelog link to footer and navigation
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
Labels: none

Refactor: Simplify metadata keywords array
  src/lib/seo/metadata-registry.ts
Labels: none

Checkpoint before follow-up message
  src/lib/schemas/component.schema.ts
  src/lib/schemas/shared.schema.ts
Labels: none

Refactor: Improve type safety and add changelog support
  package-lock.json
  package.json
  src/app/collections/[slug]/llms.txt/route.ts
  src/app/collections/[slug]/page.tsx
  src/app/page.tsx
  src/components/changelog/category-filter.tsx
  src/lib/config/seo-config.ts
  src/lib/related-content/indexer.ts
  src/lib/schemas/components/content-item.schema.ts
  src/lib/seo/metadata-registry.ts
Labels: dependencies

Checkpoint before follow-up message
  package.json
Labels: dependencies

Checkpoint before follow-up message
  package-lock.json
Labels: dependencies

Checkpoint before follow-up message
  package-lock.json
  public/robots.txt
  public/sitemap.xml
Labels: dependencies

Checkpoint before follow-up message
  src/app/changelog/[slug]/opengraph-image.tsx
  src/app/changelog/opengraph-image.tsx
Labels: none

Fix: Update sitemap and opengraph image URLs and text
  public/sitemap.xml
  src/app/changelog/opengraph-image.tsx
  src/app/collections/[slug]/page.tsx
  src/app/page.tsx
  src/components/changelog/category-filter.tsx
  src/lib/changelog/parser.ts
Labels: none

Refactor: Improve code readability and add is-extendable dependency
  package-lock.json
  package.json
  src/app/collections/[slug]/page.tsx
  src/app/page.tsx
  src/components/changelog/category-filter.tsx
Labels: dependencies

feat: Add analysis of authentication system
  .cursor/scratchpad.md
Labels: none

Fix: Add missing user profile creation trigger
  .cursor/scratchpad.md
Labels: none

feat: Add comprehensive sponsored content system analysis
  SPONSORED_CONTENT_ANALYSIS.md
Labels: none

Checkpoint before follow-up message
  .gitignore
  SPONSORED_CONTENT_ANALYSIS.md
  src/app/account/layout.tsx
  src/app/account/sponsorships/page.tsx
  src/app/trending/page.tsx
  src/components/features/content/config-card.tsx
  src/components/features/sponsored/sponsored-tracker.tsx
  src/components/shared/trending-content.tsx
Labels: none

feat: Add Supabase sponsored increment function
  .gitignore
  supabase-sponsored-increment.sql
Labels: none

Checkpoint before follow-up message
  src/lib/schemas/components/content-item.schema.ts
Labels: none

Checkpoint before follow-up message
  src/components/features/sponsored/sponsored-tracker.tsx
  src/lib/schemas/components/content-item.schema.ts
  src/lib/trending/calculator.ts
  supabase/README.md
  supabase/archive/supabase-function-fixes.sql
  supabase/archive/supabase-schema.sql
  supabase/archive/supabase-sponsored-increment.sql
  supabase/schema.sql
Labels: none

Refactor: Improve sponsored content tracking and display
  src/app/account/sponsorships/page.tsx
  src/components/features/content/config-card.tsx
  src/components/features/sponsored/sponsored-tracker.tsx
  src/lib/schemas/components/content-item.schema.ts
  src/lib/trending/calculator.ts
Labels: none

Checkpoint before follow-up message
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/page.tsx
  src/app/api/cron/expire-jobs/route.ts
  src/components/jobs/job-actions.tsx
  vercel.json
Labels: none

Feat: Add user profile system implementation plan
  .cursor/scratchpad.md
Labels: none

Refactor: Use OAuth profile pictures instead of Uploadthing
  .cursor/oauth-profile-analysis.md
  .cursor/scratchpad.md
Labels: none

Checkpoint before follow-up message
  .cursor/TASKS_AND_SQL.md
Labels: none

Add .cursor/ to gitignore
  .gitignore
Labels: none

Refactor: Remove unused markdown files
  .cursor/TASKS_AND_SQL.md
  .cursor/oauth-profile-analysis.md
  .cursor/scratchpad.md
Labels: none

feat: Add user profile system and badges
  supabase/schema.sql
Labels: none

feat: Implement profile editing and badge system
  PROFILE_SYSTEM_SUMMARY.md
  src/app/account/settings/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/features/profile/badge-display.tsx
  src/components/features/profile/profile-edit-form.tsx
  src/lib/actions/profile-actions.ts
  src/lib/schemas/badge.schema.ts
  src/lib/schemas/profile.schema.ts
Labels: security

feat: Implement user profile system with OAuth avatar sync
  CHANGELOG.md
  PROFILE_SYSTEM_SUMMARY.md
Labels: none
