Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

feat: add Statsig Dynamic Configs infrastructure (Phase 1)
  src/lib/flags.ts
Labels: none

fix: restructure Dynamic Configs to match Statsig pattern
  src/lib/flags.ts
Labels: none

feat: migrate Phase 1 configs to Statsig Dynamic Configs
  src/app/partner/page.tsx
  src/components/features/growth/newsletter/newsletter-cta-variants.tsx
  src/components/features/growth/newsletter/newsletter-footer-bar.tsx
  src/components/features/growth/newsletter/newsletter-utils.ts
  src/hooks/use-infinite-scroll.ts
Labels: none

feat: add Phase 2 Dynamic Configs (53 new parameters)
  src/lib/config/category-config.ts
  src/lib/constants.ts
  src/lib/flags.ts
  src/lib/utils/toast.utils.ts
Labels: none

feat: complete Phase 3 of Statsig Dynamic Configs migration (40 params)
  pnpm-lock.yaml
  src/app/partner/page.tsx
  src/components/core/domain/reviews/shared/review-types.ts
  src/components/core/forms/company-form.tsx
  src/components/features/fab/use-scroll-direction.ts
  src/components/features/growth/newsletter/newsletter-footer-bar.tsx
  src/components/features/growth/newsletter/newsletter-scroll-trigger.tsx
  src/components/features/growth/newsletter/newsletter-utils.ts
  src/hooks/use-button-success.ts
  src/hooks/use-copy-to-clipboard.ts
  src/hooks/use-newsletter-count.ts
  src/hooks/use-newsletter.ts
  src/hooks/use-prefetch-on-hover.ts
  src/hooks/use-recently-viewed.ts
  src/lib/config/app-settings.ts
  src/lib/constants.ts
  src/lib/flags.ts
Labels: none

feat: add Statsig feature flags and dynamic configs for FAB, confetti, logger, timeouts, retries
  src/app/layout.tsx
  src/components/core/layout/root-layout-wrapper.tsx
  src/components/features/fab/fab-config.ts
  src/components/features/fab/floating-action-bar.tsx
  src/hooks/use-confetti.ts
  src/lib/flags.ts
  src/lib/logger.ts
  src/lib/ui-constants.ts
Labels: none

feat(cache): implement Phase 1 edge-layer caching utility and Phase 2 homepage caching
  src/app/[category]/[slug]/page.tsx
  src/app/page.tsx
  src/lib/supabase/cached-rpc.ts
Labels: none

refactor(cache): update Statsig cache configs to new format structure
  src/app/page.tsx
  src/lib/flags.ts
  src/lib/supabase/cached-rpc.ts
Labels: none

feat(cache): complete Phase 2 - migrate high-priority server pages to edge caching
  src/app/[category]/[slug]/page.tsx
  src/app/community/directory/page.tsx
  src/app/jobs/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/app/u/[slug]/page.tsx
Labels: none

refactor(webhooks): consolidate Discord notifications into unified router
  src/app/jobs/page.tsx
  src/components/core/forms/job-form.tsx
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/utils/discord.ts
  supabase/functions/changelog-auto-sync/index.ts
  supabase/functions/discord-content-announcement/index.ts
  supabase/functions/discord-error-relay/index.ts
  supabase/functions/discord-router/index.ts
  supabase/functions/discord-submission-notification/index.ts
  supabase/functions/jobs-handler/index.ts
Labels: none

config(cache): update TTLs to match architectural plan for low-traffic optimization
  src/app/page.tsx
  src/lib/flags.ts
Labels: none

feat(cache): add Statsig-powered cache invalidation to content actions
  src/lib/actions/content.actions.ts
  src/lib/flags.ts
Labels: security

feat(cache): add Statsig-powered cache invalidation to user actions
  src/lib/actions/user.actions.ts
  src/lib/flags.ts
Labels: security

feat(cache): add Statsig-powered cache invalidation to jobs actions
  src/lib/actions/jobs.actions.ts
  src/lib/flags.ts
Labels: security

feat(cache): migrate category list pages to edge-layer caching
  src/lib/content/supabase-content-loader.ts
Labels: none

feat(cache): migrate jobs data layer to edge-layer caching
  src/lib/data/jobs.ts
Labels: none

feat(cache): migrate changelog loader to Statsig-controlled edge-layer caching
  src/lib/changelog/loader.ts
Labels: none

feat(cache): migrate content loader TTLs to Statsig dynamic configs
  src/lib/content/supabase-content-loader.ts
Labels: none

feat(cache): add edge-layer caching to announcement banner with Statsig TTL
  src/components/core/layout/announcement-banner-server.tsx
Labels: none

refactor(account): remove redundant force-dynamic exports from 19 account pages
  src/app/account/activity/page.tsx
  src/app/account/bookmarks/page.tsx
  src/app/account/companies/[id]/edit/page.tsx
  src/app/account/companies/new/page.tsx
  src/app/account/companies/page.tsx
  src/app/account/connected-accounts/page.tsx
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/library/[slug]/edit/page.tsx
  src/app/account/library/[slug]/page.tsx
  src/app/account/library/new/page.tsx
  src/app/account/library/page.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/account/sponsorships/page.tsx
  src/app/account/submissions/page.tsx
Labels: none

feat(cache): add user-scoped edge caching to account pages with Statsig TTLs
  src/app/account/jobs/page.tsx
  src/app/account/library/page.tsx
  src/app/account/page.tsx
  src/lib/flags.ts
Labels: none

refactor(cache): centralize account data in user-data.ts layer
  src/app/account/jobs/page.tsx
  src/app/account/library/page.tsx
  src/app/account/page.tsx
  src/lib/data/user-data.ts
Labels: none

refactor(cache): complete user data layer centralization for all account pages
  src/app/account/companies/page.tsx
  src/app/account/library/[slug]/edit/page.tsx
  src/app/account/library/[slug]/page.tsx
  src/app/account/settings/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/account/submissions/page.tsx
  src/lib/data/user-data.ts
Labels: none

security(rpc): eliminate client-side RPC calls with secure server actions
  src/components/features/home/home-sections.tsx
  src/components/features/sponsored/sponsored-tracker.tsx
  src/hooks/use-newsletter-count.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/newsletter.actions.ts
  src/lib/actions/tracking.actions.ts
Labels: security

chore: linting + formatting
  src/app/[category]/[slug]/page.tsx
  src/app/account/activity/page.tsx
  src/app/account/bookmarks/page.tsx
  src/app/account/companies/[id]/edit/page.tsx
  src/app/account/companies/new/page.tsx
  src/app/account/companies/page.tsx
  src/app/account/connected-accounts/page.tsx
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/library/[slug]/edit/page.tsx
  src/app/account/library/[slug]/page.tsx
  src/app/account/library/new/page.tsx
  src/app/account/library/page.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/account/sponsorships/page.tsx
  src/app/account/submissions/page.tsx
  src/app/community/directory/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/features/sponsored/sponsored-tracker.tsx
  src/lib/actions/content.actions.ts
  src/lib/actions/jobs.actions.ts
  src/lib/actions/newsletter.actions.ts
  src/lib/actions/tracking.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/changelog/loader.ts
  src/lib/data/jobs.ts
  src/lib/data/user-data.ts
  src/lib/supabase/cache-helpers.ts
  src/lib/supabase/cached-rpc.ts
Labels: security

refactor: migrate client -> server
  src/app/help/page.tsx
  src/components/content/interactive-code-block.tsx
  src/components/core/buttons/shared/simple-copy-button.tsx
  src/components/core/domain/badges/category-badge.tsx
  src/components/core/domain/cards/config-card.tsx
  src/components/core/domain/cards/job-card.tsx
  src/components/core/domain/cards/swipeable-card.tsx
  src/components/core/domain/charts/horizontal-bar-chart.tsx
  src/components/core/domain/comparison-table.tsx
  src/components/core/domain/reviews/shared/review-types.ts
  src/components/core/domain/reviews/shared/star-display.tsx
  src/components/core/forms/company-selector.tsx
  src/components/core/forms/content-submission-form.tsx
  src/components/core/forms/duplicate-warning.tsx
  src/components/core/infra/analytics-tracker.tsx
  src/components/core/layout/footer.tsx
  src/components/core/layout/navigation-mobile.tsx
  src/components/core/layout/theme-toggle.tsx
  src/components/core/layout/user-menu.tsx
  src/components/core/navigation/navigation-link.tsx
  src/components/features/growth/newsletter/newsletter-footer-bar.tsx
  src/components/features/home/home-sections.tsx
  src/components/features/home/homepage-tabs.tsx
  src/components/features/notifications/notification-badge.tsx
  src/components/features/search/search.tsx
  src/components/primitives/ui/button.tsx
  src/components/primitives/ui/dialog.tsx
  src/components/primitives/ui/sheet.tsx
  src/components/primitives/ui/tabs.tsx
  src/lib/actions/feature-flags.actions.ts
  src/lib/config/category-config.ts
Labels: security

refactor: migrate to server
  src/app/help/page.tsx
  src/app/partner/page.tsx
  src/components/core/domain/cards/content-card-base.tsx
  src/components/core/domain/reviews/review-rating-histogram.tsx
  src/components/core/shared/trending-content.tsx
  src/components/features/analytics/metrics-display.tsx
  src/components/features/changelog/changelog-list-client.tsx
  src/components/features/tools/recommender/question-card.tsx
  src/components/features/user-activity/activity-timeline.tsx
  src/components/primitives/animation/hover-card.tsx
  src/lib/actions/jobs.actions.ts
  src/lib/flags.ts
  src/lib/supabase/cached-rpc.ts
Labels: security

feat: implement signup newsletter checkbox feature
  src/app/(auth)/auth/callback/route.ts
  src/app/(auth)/login/login-panel-client.tsx
  src/app/(auth)/login/page.tsx
  src/app/layout.tsx
  src/components/core/auth/auth-form-panel.tsx
  src/components/core/auth/newsletter-opt-in-tile.tsx
  src/components/core/auth/oauth-provider-button.tsx
  src/components/core/layout/root-layout-wrapper.tsx
  src/lib/actions/newsletter.actions.ts
  src/lib/seo/metadata-generator.ts
  src/lib/supabase/cached-rpc.ts
  src/types/database.types.ts
Labels: security

chore: linting + formatting
  biome.json
  src/app/globals.css
  src/app/micro-interactions.css
  src/app/view-transitions.css
  src/components/content/detail-tabs/tab-section-renderer.tsx
  src/components/content/detail-tabs/tabbed-detail-layout.tsx
  src/components/core/auth/newsletter-opt-in-tile.tsx
  src/components/core/shared/trending-content.tsx
  src/lib/supabase/cached-rpc.ts
Labels: none

refactor(lint): resolve Biome warnings and TypeScript errors
  src/app/changelog/page.tsx
  src/app/community/page.tsx
  src/app/companies/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/page.tsx
  src/app/trending/page.tsx
  src/components/content/content-grid-list.tsx
  src/components/content/detail-page/content-detail-view.tsx
  src/components/content/sections/unified-section.tsx
  src/components/core/auth/newsletter-opt-in-tile.tsx
  src/components/core/buttons/shared/simple-copy-button.tsx
  src/components/core/domain/badges/category-badge.tsx
  src/components/core/domain/cards/swipeable-card.tsx
  src/components/core/forms/company-selector.tsx
  src/components/core/forms/content-submission-form.tsx
  src/components/core/infra/providers/email-capture-modal-provider.tsx
  src/components/core/layout/footer.tsx
  src/components/core/layout/navigation-mobile.tsx
  src/components/core/layout/root-layout-wrapper.tsx
  src/components/core/layout/user-menu.tsx
  src/components/features/growth/newsletter/index.tsx
  src/components/features/growth/newsletter/newsletter-footer-bar.tsx
  src/components/features/home/home-sections.tsx
  src/components/features/home/homepage-tabs.tsx
  src/components/features/notifications/notification-badge.tsx
  src/components/primitives/ui/dialog.tsx
  src/components/primitives/ui/sheet.tsx
  src/components/primitives/ui/tabs.tsx
  src/hooks/use-confetti.ts
  src/hooks/use-newsletter-count.ts
  src/lib/integrations/polar.ts
  src/lib/supabase/cache-helpers.ts
  src/lib/supabase/cached-rpc.ts
  supabase/functions/_shared/utils/discord.ts
  supabase/functions/discord-router/index.ts
  supabase/functions/unified-search/index.ts
Labels: none

refactor: migrate to search edge function
  src/app/search/page.tsx
  src/lib/edge/search-client.ts
  src/lib/search/server-search.ts
  src/lib/types/component.types.ts
Labels: none

refactor: notification-router consolidation
  src/app/account/companies/[id]/edit/page.tsx
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/layout.tsx
  src/app/account/library/new/page.tsx
  src/app/account/settings/page.tsx
  src/app/account/sponsorships/page.tsx
  src/components/core/forms/company-selector.tsx
  src/lib/actions/companies.actions.ts
  src/lib/actions/notifications.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/data/user-data.ts
  src/lib/edge/client.ts
  src/lib/edge/search-client.ts
  src/lib/stores/notification-store.ts
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/handlers/changelog-sync.ts
  supabase/functions/_shared/handlers/discord-notifications.ts
  supabase/functions/_shared/utils/changelog.ts
  supabase/functions/_shared/utils/discord.ts
  supabase/functions/_shared/utils/response.ts
  supabase/functions/_shared/utils/webhook-ingest.ts
  supabase/functions/_shared/utils/webhook-verifier.ts
  supabase/functions/analytics/index.ts
  supabase/functions/changelog-auto-sync/index.ts
  supabase/functions/notification-router/index.ts
  supabase/functions/webhook-router/index.ts
Labels: security

chore: add error boundaries, logger + error instrumentation
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/error.tsx
  src/app/account/error.tsx
  src/app/changelog/error.tsx
  src/app/community/error.tsx
  src/app/companies/error.tsx
  src/app/jobs/error.tsx
  src/app/partner/error.tsx
  src/app/search/error.tsx
  src/app/statuslines/error.tsx
  src/app/submit/error.tsx
  src/app/tools/error.tsx
  src/app/u/error.tsx
  src/components/core/infra/segment-error-fallback.tsx
  supabase/functions/_shared/templates/collection-shared.tsx
  supabase/functions/_shared/templates/job-approved.tsx
  supabase/functions/_shared/templates/job-expired.tsx
  supabase/functions/_shared/templates/job-expiring.tsx
  supabase/functions/_shared/templates/job-payment-confirmed.tsx
  supabase/functions/_shared/templates/job-posted.tsx
  supabase/functions/_shared/templates/job-rejected.tsx
  supabase/functions/_shared/templates/job-submitted.tsx
  supabase/functions/_shared/templates/newsletter-welcome.tsx
  supabase/functions/_shared/templates/onboarding-community.tsx
  supabase/functions/_shared/templates/onboarding-getting-started.tsx
  supabase/functions/_shared/templates/onboarding-power-tips.tsx
  supabase/functions/_shared/templates/onboarding-stay-engaged.tsx
  supabase/functions/_shared/templates/weekly-digest.tsx
  supabase/functions/_shared/utils/email/README.md
  supabase/functions/_shared/utils/email/cta.ts
  supabase/functions/email-handler/index.ts
Labels: none

fix: changelog overhaul + technical debt
  src/app/[category]/[slug]/page.tsx
  src/app/api/revalidate/route.ts
  src/app/changelog/page.tsx
  src/app/companies/[slug]/page.tsx
  src/components/content/detail-page/content-detail-view.tsx
  src/components/content/detail-page/detail-header-actions.tsx
  src/components/content/detail-page/detail-header.tsx
  src/components/content/detail-page/detail-metadata.tsx
  src/components/content/detail-page/sidebar/navigation-sidebar.tsx
  src/components/content/detail-tabs/tab-section-renderer.tsx
  src/components/content/json-to-sections.tsx
  src/components/content/sections/unified-section.types.ts
  src/components/core/forms/content-submission-form.tsx
  src/lib/data/account/submissions.ts
  src/lib/data/account/user-data.ts
  src/lib/data/changelog/index.ts
  src/lib/data/config/cache-config.ts
  src/lib/data/content/detail.ts
  src/lib/data/content/related.ts
  src/lib/data/content/similar.ts
  src/lib/data/content/templates.ts
  src/lib/flags.ts
  src/lib/types/detail-tabs.types.ts
  src/lib/utils/content.utils.ts
  src/types/database-overrides.ts
  src/types/database.types.ts
  supabase/functions/_shared/handlers/changelog/handler.ts
  supabase/functions/notification-router/index.ts
Labels: none

refactor: logger + error instrumentation
  src/app/(auth)/auth/callback/route.ts
  src/components/core/forms/content-submission-form.tsx
  src/components/core/infra/analytics-tracker.tsx
  src/components/core/layout/root-layout-wrapper.tsx
  src/components/features/contact/contact-terminal.tsx
  src/hooks/use-newsletter.ts
  src/lib/data/companies/public.ts
  src/lib/data/config/cache-config.ts
  src/lib/data/seo/client.ts
  src/lib/edge/search-client.ts
  supabase/functions/_shared/utils/analytics/tracker.ts
  supabase/functions/_shared/utils/discord/client.ts
  supabase/functions/_shared/utils/http.ts
  supabase/functions/_shared/utils/integrations/http-client.ts
  supabase/functions/_shared/utils/integrations/polar.ts
  supabase/functions/_shared/utils/integrations/resend.ts
  supabase/functions/_shared/utils/logging.ts
  supabase/functions/_shared/utils/storage/client.ts
  supabase/functions/_shared/utils/storage/proxy.ts
  supabase/functions/_shared/utils/storage/upload.ts
  supabase/functions/_shared/utils/webhook/crypto.ts
  supabase/functions/_shared/utils/webhook/database-events.ts
Labels: none

chore: update lefthook
  lefthook.yml
Labels: none

feat(search): implement semantic AI search with pgvector
  src/app/account/companies/page.tsx
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/submissions/page.tsx
  src/app/contact/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/components/content/detail-page/detail-metadata.tsx
  src/components/core/domain/cards/config-card.tsx
  src/types/database.types.ts
  supabase/config.toml
  supabase/functions/_shared/database-overrides.ts
  supabase/functions/_shared/database.types.ts
  supabase/functions/_shared/deno-globals.d.ts
  supabase/functions/_shared/edge-types.manifest.json
  supabase/functions/_shared/utils/http.ts
  supabase/functions/_shared/utils/parse-json-body.ts
  supabase/functions/generate-embedding/index.ts
  supabase/functions/unified-search/index.ts
Labels: none

fix: codeQL issues
  src/app/u/[slug]/page.tsx
  src/components/features/community/contributors-sidebar.tsx
  src/lib/logger.ts
Labels: none

fix: codeQL issues pt. 2
  package.json
  pnpm-lock.yaml
  src/app/account/companies/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/settings/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/content/detail-page/detail-metadata.tsx
  src/components/content/interactive-code-block.tsx
  src/components/content/json-to-sections.tsx
  src/lib/logger.ts
  src/proxy.ts
Labels: dependencies

fix: build issues w/ flags
  next.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/build/generate-category-config.ts
  scripts/build/generate-database-overrides.ts
  scripts/build/sync-database-schema.ts
  src/app/[category]/[slug]/page.tsx
  src/app/test-flags/page.tsx
  src/components/core/infra/structured-data.tsx
  src/hooks/use-newsletter-count.ts
  src/lib/actions/feature-flags.actions.ts
  src/lib/actions/notifications.actions.ts
  src/lib/config/category-config.generated.ts
  src/lib/data/config/cache-config.ts
  src/lib/data/config/category/index.ts
  src/lib/data/helpers.ts
  src/lib/data/layout/flags.ts
  src/lib/data/seo/client.ts
  src/lib/edge/search-client.ts
  src/lib/flags-runtime.ts
  src/lib/flags.ts
  src/lib/seo/metadata-generator.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server-anon.ts
  src/lib/utils/build-time.ts
  src/lib/utils/jsonld.ts
Labels: security, dependencies

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
