Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

refactor: eliminate repository pattern - migrate to direct supabase postgrest queries
  next-env.d.ts
  src/app/community/directory/page.tsx
  src/app/companies/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/features/badges/badge-grid.stories.tsx
  src/components/features/badges/badge-grid.tsx
  src/lib/actions/analytics.actions.ts
  src/lib/actions/badges.actions.ts
  src/lib/actions/business.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/reputation.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/repositories/activity.repository.ts
  src/lib/repositories/base.repository.ts
  src/lib/repositories/bookmark.repository.ts
  src/lib/repositories/collection.repository.ts
  src/lib/repositories/comment.repository.ts
  src/lib/repositories/company.repository.ts
  src/lib/repositories/content-similarity.repository.ts
  src/lib/repositories/follower.repository.ts
  src/lib/repositories/job.repository.ts
  src/lib/repositories/post.repository.ts
  src/lib/repositories/reputation.repository.ts
  src/lib/repositories/review.repository.ts
  src/lib/repositories/sponsored-content.repository.ts
  src/lib/repositories/submission.repository.ts
  src/lib/repositories/user-affinity.repository.ts
  src/lib/repositories/user-badge.repository.ts
  src/lib/repositories/user-interaction.repository.ts
  src/lib/repositories/user.repository.ts
  src/lib/repositories/vote.repository.ts
  src/lib/schemas/interaction.schema.ts
  src/lib/schemas/similarity.schema.ts
  src/lib/services/badge-award.service.ts
  src/lib/types/company.types.ts
  src/lib/types/submission.types.ts
  src/lib/types/user-affinity.types.ts
  src/lib/types/user.types.ts
Labels: security

fix: linting + formatting
  scripts/build/sync-database-schema.ts
  scripts/export-redis-data.ts
  scripts/generate-redis-import-sql.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/page.tsx
  src/app/submit/page.tsx
  src/lib/actions/reputation.actions.ts
  src/lib/related-content/service.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/schemas/primitives/api-cache-primitives.ts
  src/lib/services/digest.server.ts
  src/types/database.types.ts
Labels: security

refactor: migrate email/cron workflows to supabase edge functions with database-driven execution
  .zod-schema-hash
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/api/webhooks/resend/route.ts
  src/app/u/[slug]/page.tsx
  src/components/infra/structured-data/unified-structured-data.tsx
  src/lib/actions/analytics.actions.ts
  src/lib/actions/business.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/markdown-actions.ts
  src/lib/actions/track-view.ts
  src/lib/actions/user.actions.ts
  src/lib/config/seo-config.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/schemas/personalization.schema.ts
  src/lib/seo/metadata-generator.ts
  src/lib/seo/metadata-templates.ts
  src/lib/seo/route-scanner.ts
  src/lib/services/digest.server.ts
  src/lib/services/email-orchestration.server.ts
  src/lib/services/email-sequence.server.ts
  src/lib/services/webhook.server.ts
  src/lib/structured-data/schema-types.ts
  src/lib/transformers/skill-to-md.ts
  src/types/database.types.ts
  supabase/functions/_shared/templates/onboarding-community.tsx
  supabase/functions/_shared/templates/onboarding-getting-started.tsx
  supabase/functions/_shared/templates/onboarding-power-tips.tsx
  supabase/functions/_shared/templates/onboarding-stay-engaged.tsx
  supabase/functions/_shared/templates/weekly-digest.tsx
  supabase/functions/process-email-sequences/index.ts
  supabase/functions/resend-webhook/index.ts
  supabase/functions/send-weekly-digest/index.ts
  supabase/schema.sql
  vercel.json
Labels: security

perf: simplify middleware and fix Next.js 16 build errors
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/middleware.ts
  supabase/schema.sql
Labels: security, dependencies

fix: homepage loading issues
  next-env.d.ts
  src/app/page.tsx
  supabase/schema.sql
Labels: none

fix: make homepage dynamic
  src/app/page.tsx
  src/lib/content/supabase-content-loader.ts
Labels: none

fix: testing
  src/lib/content/supabase-content-loader.ts
Labels: none

fix: display issues on homepage
  next-env.d.ts
  next.config.mjs
  src/lib/content/supabase-content-loader.ts
Labels: none

fix: vercel build issues
  next-env.d.ts
  src/lib/logger.ts
Labels: none

perf: migrate homepage and business logic to PostgreSQL RPCs
  .zod-schema-hash
  scripts/test-db-query.ts
  src/app/page.tsx
  src/lib/actions/business.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: security

perf: database-first optimization with GENERATED columns and RPC consolidation
  .zod-schema-hash
  biome.json
  scripts/sync/sync-content-supabase-client.ts
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/guides/page.tsx
  src/components/content/json-section-renderer.tsx
  src/components/content/unified-detail-page/collection-detail-view.tsx
  src/components/content/unified-detail-page/sidebar/detail-sidebar.tsx
  src/components/features/changelog/changelog-content.tsx
  src/components/features/personalization/for-you-feed-client.tsx
  src/lib/config/category-config.ts
  src/lib/content/markdown-utils.ts
  src/lib/content/supabase-content-loader.ts
  src/lib/llms-txt/content-builder.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/structured-data/schema-types.ts
  src/lib/transformers/skill-to-md.ts
  src/types/database-overrides.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: none

chore: package updates
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix: caching issue
  src/app/page.tsx
Labels: none

fix: various optimizations
  .zod-schema-hash
  package.json
  scripts/build/generate-routes.ts
  scripts/validation/optimize-titles.ts
  scripts/validation/validate.ts
  scripts/validation/validators/seo-validator.ts
  scripts/validation/validators/title-validator.ts
  src/app/api/search/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/page.tsx
  src/components/features/home/index.tsx
  src/lib/actions/badges.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/error-handler.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/utils/batch.utils.ts
  src/types/database.types.ts
  supabase/functions/_shared/utils/render.ts
  supabase/functions/_shared/utils/response.ts
  supabase/functions/email-handler/index.ts
  supabase/functions/process-email-sequences/index.ts
  supabase/functions/send-transactional-email/index.ts
  supabase/functions/send-weekly-digest/index.ts
  supabase/functions/send-welcome-email/index.ts
  supabase/schema.sql
  tests/mocks/handlers/api-handlers.ts
Labels: security, dependencies

refactor: database-first consolidation
  .zod-schema-hash
  scripts/validation/validate.ts
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/api/emails/preview/route.ts
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/rss.xml/route.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/components/domain/profile-card.tsx
  src/components/features/badges/badge-grid.tsx
  src/components/features/home/index.tsx
  src/components/forms/collection-form.tsx
  src/components/library/collection-item-manager.tsx
  src/lib/actions/user.actions.ts
  src/lib/config/category-config.ts
  src/lib/content/supabase-content-loader.ts
  src/lib/data/jobs.ts
  src/lib/error-handler.ts
  src/lib/middleware/cron-auth.server.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/ui-constants.ts
  src/lib/utils/batch.utils.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: security

fix: sidebar issues
  src/components/content/unified-detail-page/index.tsx
Labels: none

perf: database-first navigation and analytics infrastructure
  .gitignore
  .zod-schema-hash
  next.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/build/backup-database.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/loading.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/[category]/loading.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/loading.tsx
  src/app/guides/page.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/layout/announcement-banner-server.tsx
  src/components/layout/navigation-command-menu.tsx
  src/components/layout/sidebar/unified-sidebar.tsx
  src/emails/templates/onboarding-getting-started.tsx
  src/lib/constants/routes.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/seo/pattern-matcher.ts
  src/lib/seo/route-classifier.ts
  src/lib/stores/notification-store.ts
  src/lib/utils/content.utils.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: dependencies

perf: database-first GitHub stars caching with unified button optimizations
  .gitignore
  .zod-schema-hash
  src/components/content/production-code-block.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/domain/unified-button.tsx
  src/hooks/use-button-success.ts
  src/lib/actions/analytics.actions.ts
  src/lib/actions/github.actions.ts
  src/lib/actions/safe-action.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: security

feat: database-driven JSON API with dynamic field filtering and config migration
  config/content/category-config.ts
  config/content/discovery/trend-detection.ts
  config/content/generation-rules.ts
  config/content/validation/category-validators.ts
  config/content/validation/generic-validator.ts
  src/app/api/content/[category]/[slug]/route.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: none

fix: metadata + API JSON routes
  content/hooks/code-test-runner-hook.json
  content/rules/go-golang-expert.json
  content/rules/mobile-app-development-expert.json
  content/rules/python-data-science-expert.json
  content/rules/react-next-js-expert.json
  content/rules/security-auditor-penetration-tester.json
  next-env.d.ts
  scripts/fix-content-escapes.ts
  scripts/sync/sync-content-supabase-client.ts
  scripts/verify-all-api-endpoints.ts
  scripts/verify-three-way-sync-optimized.ts
  scripts/verify-three-way-sync.ts
  src/app/[category]/[slug].json/route.ts
Labels: content-submission

refactor: complete UNIFIED_CATEGORY_REGISTRY elimination and database-first migration
  scripts/build/generate-service-worker.ts
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/app/page.tsx
  src/components/content/unified-detail-page/collection-detail-view.tsx
  src/components/content/unified-detail-page/detail-header.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/features/home/featured-sections.tsx
  src/components/features/home/index.tsx
  src/components/features/home/tabs-section.tsx
  src/lib/build/category-processor.server.ts
  src/lib/components/loading-factory.tsx
  src/lib/config/app-settings.ts
  src/lib/config/category-config.ts
  src/lib/config/category-types.ts
  src/lib/config/content-type-configs.tsx
  src/lib/config/seo-config.ts
  src/lib/constants.ts
  src/lib/schemas/components/page-props.schema.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/security/patterns.ts
  src/lib/security/validators.ts
  src/lib/seo/metadata-registry.ts
  src/lib/seo/pattern-matcher.ts
  src/lib/seo/route-classifier.ts
  src/lib/seo/schema-metadata-adapter.ts
  src/lib/seo/validation-schemas.ts
  src/lib/ui-constants-categories.ts
  src/lib/validation/content-validator.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: security

feat: database-first migrations/refactors
  src/app/api/revalidate/route.ts
  src/app/board/page.tsx
  src/components/features/badges/badge-notification.tsx
  src/components/features/board/board-list-client.tsx
  src/components/features/notifications/notification-item.tsx
  src/components/features/notifications/notification-list.tsx
  src/components/features/notifications/notification-toast-handler.tsx
  src/lib/actions/business.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/changelog/parser.ts
  src/lib/config/category-config.ts
  src/lib/content/supabase-content-loader.ts
  src/lib/schemas/env.schema.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/schemas/transforms/data-normalization.schema.ts
  src/lib/seo/metadata-templates.ts
  src/lib/stores/notification-store.ts
  src/types/database.types.ts
  supabase/schema.sql
Labels: security

fix: broken package.json build script
  package.json
Labels: dependencies

fix: remove skills from build
  package.json
Labels: dependencies

fix: service-worker build script issues
  scripts/build/generate-service-worker.ts
Labels: none

fix: build issues
  next-env.d.ts
  scripts/build/generate-service-worker.ts
Labels: none

fix: build issues
  src/lib/schemas/shared.schema.ts
Labels: none

perf: database-first category config with build-time generation and unified caching
  next.config.mjs
  package.json
  scripts/admin/create-content.ts
  scripts/build/generate-category-config.ts
  scripts/build/generate-service-worker.ts
  scripts/build/generate-skill-packages.ts
  scripts/build/sync-database-schema.ts
  scripts/utils/env.ts
  scripts/utils/hash-cache.ts
  src/app/page.tsx
  src/lib/config/category-config.generated.ts
  src/lib/config/category-config.ts
  turbo.json
Labels: dependencies

fix: server <> client issues
  src/app/page.tsx
  src/components/features/home/index.tsx
  src/lib/schemas/components/page-props.schema.ts
Labels: none

fix: minor issues
  .pnpmrc
  src/app/[category]/[slug].json/route.ts
  src/lib/config/category-config.ts
  turbo.json
Labels: none

fix: JSON content routing issue
  next.config.mjs
  src/app/api/json/[category]/[slug]/route.ts
Labels: none

fix: rebuild supabase after SNAFU
  .github/workflows/pr-content-extraction.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/build/backup-database.ts
  src/app/api/content/[category]/[slug]/route.ts
  src/app/api/json/[category]/[slug]/route.ts
  src/app/api/status/route.ts
  src/components/features/home/index.tsx
  src/components/infra/structured-data/unified-structured-data.tsx
  src/lib/schemas/components/page-props.schema.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/seo/metadata-templates.ts
  src/types/database-overrides.ts
  src/types/database.types.ts
  supabase/functions/discord-error-relay/index.ts
  supabase/functions/discord-submission-notification/index.ts
  supabase/schema.sql
Labels: dependencies, github-actions

fix: database migration overhauls
  next-env.d.ts
  scripts/build/backup-database.ts
  src/app/api/json/[category]/[slug]/route.ts
  src/app/api/status/route.ts
  src/lib/actions/user.actions.ts
  src/lib/config/category-config.generated.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/seo/metadata-templates.ts
  src/types/database.types.ts
Labels: security

chore: linting + formatting
  src/app/[category]/[slug]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/community/directory/page.tsx
  src/app/embed/[category]/[slug]/page.tsx
  src/app/jobs/[slug]/page.tsx
  src/app/page.tsx
  src/app/search/page.tsx
  src/app/trending/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/lib/seo/metadata-registry.ts
  src/lib/seo/validation-schemas.ts
Labels: none

chore: linting + formatting cont'd
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/gallery/[category]/page.tsx
  src/app/gallery/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/features/badges/badge-grid.tsx
  src/lib/utils/skeleton-keys.ts
Labels: none

chore: linting + formatting cont'd
  src/app/jobs/page.tsx
  src/app/page.tsx
  src/components/content/json-section-renderer.tsx
  src/components/content/production-code-block.tsx
  src/components/content/unified-content-section.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/domain/config-card.tsx
  src/components/domain/unified-button.tsx
  src/lib/constants.ts
Labels: none

chore: fix linting + formatting
  src/components/content-search-client.tsx
  src/components/content/production-code-block.tsx
  src/components/content/smart-related-content/related-content-client.tsx
  src/components/content/unified-content-section.tsx
  src/components/content/unified-detail-page/detail-header.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/content/unified-detail-page/sidebar/detail-sidebar.tsx
  src/components/domain/config-card.tsx
  src/components/domain/unified-button.tsx
  src/components/domain/unified-card-grid.tsx
  src/components/domain/unified-review.tsx
  src/components/features/gallery/gallery-masonry-grid.tsx
  src/components/features/gallery/trending-carousel.tsx
  src/components/features/home/index.tsx
  src/components/features/notifications/notification-toast-handler.tsx
  src/components/features/personalization/for-you-feed-client.tsx
  src/components/features/search/unified-search.tsx
  src/components/forms/profile-edit-form.tsx
  src/components/infra/unified-tracker.tsx
  src/components/layout/navigation-command-menu.tsx
  src/hooks/use-prefetch-on-hover.ts
  src/lib/actions/badges.actions.ts
  src/lib/actions/business.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/seo/metadata-generator.ts
  src/lib/seo/route-scanner.ts
  src/lib/supabase/validators.ts
Labels: security

fix: build issue (circular dependency)
  next-env.d.ts
  scripts/build/generate-category-config.ts
  src/lib/actions/content.actions.ts
  src/lib/app-config.ts
  src/lib/config/category-config.generated.ts
  src/lib/config/category-config.ts
  src/lib/config/category-config.types.ts
  src/lib/constants.ts
Labels: security

fix: cleanup syntax highlighting/code block design & features
  next-env.d.ts
  src/app/sugar-high.css
  src/components/content/production-code-block.tsx
  src/components/shared/code-block-server.tsx
  src/lib/content/syntax-highlighting.ts
  src/lib/ui-constants.ts
Labels: none

feat: update codeblocks
  src/app/sugar-high.css
  src/components/content/production-code-block.tsx
  src/lib/content/syntax-highlighting.ts
  src/lib/ui-constants.ts
Labels: none
