Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

fix: scripts + PWA
  next.config.mjs
  scripts/build/generate-service-worker.ts
  scripts/utilities/submit-indexnow.ts
  src/app/layout.tsx
Labels: none

fix: auth issues
  src/app/auth/callback/route.ts
  src/app/trending/page.tsx
  src/lib/supabase/server.ts
Labels: none

fix: auth issues
  src/lib/supabase/server.ts
  src/middleware.ts
Labels: security

fix: auth logging
  scripts/build/generate-og-images.ts
  src/app/api/og/route.ts
  src/app/auth/callback/route.ts
  src/app/trending/page.tsx
  src/lib/og/url-generator.ts
  src/lib/supabase/server.ts
  src/middleware.ts
Labels: security

fix: simplify auth
  src/app/auth/callback/route.ts
  src/lib/supabase/server.ts
  src/middleware.ts
Labels: security

fix: add logging to account pages
  src/lib/actions/safe-action.ts
  src/lib/supabase/server.ts
Labels: security

fix: opengraph-image, cleanup deprecated code, fix auth schema
  config/tools/knip.json
  package.json
  public/assets/images/og-image-builders.png
  public/assets/images/og-image.png
  public/og-images/og-image.webp
  scripts/build/generate-og-images.ts
  scripts/build/generate-static-apis.ts
  src/app/api/og/route.ts
  src/app/auth/callback/route.ts
  src/lib/build/category-processor.server.ts
  src/lib/config/category-config.ts
  src/lib/schemas/api/static-api-response.schema.ts
  supabase/schema.sql
Labels: dependencies

fix: cleanups + optimizations
  config/tools/knip.json
  package-lock.json
  package.json
  tests/factories/shared/base-content.factory.ts
  tests/unit/lib/build/sitemap-parity.test.ts
  tests/unit/lib/services/featured.service.test.ts
Labels: dependencies

feat: Community gamification system + UI/UX enhancements
  CHANGELOG.md
  src/app/u/[slug]/page.tsx
  src/components/features/badges/badge-grid.tsx
  src/components/features/badges/badge-notification.tsx
  src/components/features/content/config-card.tsx
  src/components/features/reputation/reputation-breakdown.tsx
  src/components/shared/base-card.tsx
  src/lib/actions/badges.actions.ts
  src/lib/actions/reputation.actions.ts
  src/lib/actions/safe-action.ts
  src/lib/analytics/events.constants.ts
  src/lib/config/badges.config.ts
  src/lib/config/reputation.config.ts
  src/lib/repositories/user-badge.repository.ts
  src/lib/services/badge-award.service.ts
  src/lib/services/featured.server.ts
  src/lib/services/user-activity-triggers.service.ts
  src/lib/ui-constants.ts
  src/lib/utils/content.utils.ts
Labels: security

fix: badge system
  src/lib/actions/badges.actions.ts
  src/lib/analytics/events.constants.ts
  src/lib/services/badge-award.service.ts
Labels: security

fix: responsive design
  src/components/features/content/config-card.tsx
  src/components/layout/navigation.tsx
  src/lib/content/content-loaders.ts
  src/lib/schemas/components/content-item.schema.ts
  src/lib/ui-constants.ts
Labels: none

fix: OpenGraph static file implementation - remove broken API route
  src/app/api/og/route.ts
  src/app/layout.tsx
  src/lib/og/url-generator.ts
  src/lib/seo/metadata-generator.ts
  tests/unit/lib/og/url-generator.test.ts
  tests/unit/lib/seo/metadata-generator.test.ts
Labels: none

Enhances platform with new features and content (#117)
  src/app/layout.tsx
  src/components/features/content/config-card.tsx
  src/components/layout/navigation.tsx
  src/lib/content/content-loaders.ts
  src/lib/og/url-generator.ts
  src/lib/schemas/components/content-item.schema.ts
  src/lib/seo/metadata-generator.ts
  src/lib/ui-constants.ts
  tests/unit/lib/og/url-generator.test.ts
  tests/unit/lib/seo/metadata-generator.test.ts
Labels: none

feat: phase 4 Content Section Consolidation
  src/components/features/content/config-card.tsx
  src/components/shared/base-card.stories.tsx
  src/components/shared/base-card.tsx
  src/components/shared/production-code-block.tsx
  src/components/tools/recommender/question-card.tsx
  src/components/unified-detail-page/index.tsx
  src/components/unified-detail-page/sections/bullet-list-section.tsx
  src/components/unified-detail-page/sections/configuration-section.tsx
  src/components/unified-detail-page/sections/content-section.tsx
  src/components/unified-detail-page/sections/installation-section.tsx
  src/components/unified-detail-page/sections/troubleshooting-section.tsx
  src/components/unified-detail-page/sections/usage-examples-section.tsx
  src/components/unified-detail-page/sidebar/category-navigation-card.tsx
  src/components/unified-detail-page/unified-content-section.stories.tsx
  src/components/unified-detail-page/unified-content-section.tsx
Labels: none

fix: build issues
  public/openapi.json
  src/lib/openapi/registry.ts
Labels: none

fix: Review Components Consolidation
  .storybook/main.ts
  package.json
  src/components/features/content/config-card.tsx
  src/components/features/reviews/rating-histogram.tsx
  src/components/features/reviews/review-form.tsx
  src/components/features/reviews/review-section.tsx
  src/components/features/reviews/star-rating.tsx
  src/components/features/reviews/unified-review.stories.tsx
  src/components/features/reviews/unified-review.tsx
  src/components/unified-detail-page/index.tsx
  src/lib/actions/content.actions.mock.ts
Labels: security, dependencies

fix: unified-tracker component consolidation/story
  src/app/[category]/[slug]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/components/features/content/config-card.tsx
  src/components/features/reviews/unified-review.tsx
  src/components/providers/post-copy-email-provider.mock.tsx
  src/components/shared/footer-newsletter-bar.stories.tsx
  src/components/shared/page-view-tracker.stories.tsx
  src/components/shared/page-view-tracker.tsx
  src/components/shared/unified-tracker.stories.tsx
  src/components/shared/unified-tracker.tsx
  src/components/shared/view-tracker.stories.tsx
  src/components/shared/view-tracker.tsx
  src/lib/schemas/component.schema.ts
Labels: none

fix: consolidate MDX + create unified-content-block
  content/guides/comparisons/claude-vs-codewhisperer-gemini.mdx
  content/guides/comparisons/claude-vs-copilot-python.mdx
  content/guides/comparisons/claude-vs-cursor-codeium.mdx
  content/guides/troubleshooting/fix-environment-variables.mdx
  content/guides/troubleshooting/fix-installation-errors.mdx
  content/guides/troubleshooting/fix-mcp-connection-errors.mdx
  content/guides/troubleshooting/fix-memory-leak-performance.mdx
  content/guides/tutorials/build-mcp-server.mdx
  content/guides/tutorials/claude-4-extended-thinking-tutorial.mdx
  content/guides/tutorials/claude-agent-development-framework.mdx
  content/guides/tutorials/claude-mcp-server-setup-guide.mdx
  content/guides/tutorials/claude-rate-limits-fix.mdx
  content/guides/tutorials/desktop-mcp-setup.mdx
  content/guides/tutorials/multi-directory-setup.mdx
  content/guides/tutorials/wsl-setup-guide.mdx
  content/guides/use-cases/business-process-automation.mdx
  content/guides/use-cases/financial-services-guide.mdx
  content/guides/use-cases/healthcare-hipaa-guide.mdx
  content/guides/workflows/chatgpt-migration-guide.mdx
  content/guides/workflows/migration-workflow-guide.mdx
  src/components/content/case-study.tsx
  src/components/content/feature-grid.tsx
  src/components/content/tldr-summary.tsx
  src/components/content/unified-content-block.stories.tsx
  src/components/content/unified-content-block.tsx
  src/components/interactive/content-tabs.tsx
  src/components/interactive/expert-quote.tsx
  src/components/interactive/quick-reference.tsx
  src/components/shared/mdx-renderer.tsx
  templates/seo/category-template.mdx
  templates/seo/collection-template.mdx
  templates/seo/comparison-template.mdx
  templates/seo/troubleshooting-template.mdx
  templates/seo/tutorial-template.mdx
  templates/seo/use-case-template.mdx
  templates/seo/workflow-template.mdx
Labels: none

fix: cleanup all backward compatibility
  scripts/build/build-content.ts
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/components/analytics/metrics-display.tsx
  src/components/features/home/featured-sections.tsx
  src/components/features/home/tabs-section.tsx
  src/components/unified-detail-page/collection-detail-view.tsx
  src/lib/build/category-processor.server.ts
  src/lib/config/category-config.ts
  src/lib/config/seo-config.ts
  src/lib/content/content-sorting.ts
  src/lib/content/lazy-content-loaders.ts
  src/lib/related-content/service.ts
  src/lib/schemas/related-content.schema.ts
  src/lib/schemas/shared.schema.ts
  src/lib/seo/metadata-registry.ts
  tests/unit/lib/seo/metadata-registry.test.ts
Labels: none

fix: legacy cruft cleanup
  src/app/[category]/page.tsx
  src/app/guides/page.tsx
  src/components/cards/unified-review.tsx
  src/components/infra/unified-tracker.tsx
  src/components/library/collection-item-manager.tsx
  src/components/shared/structured-data.tsx
  src/components/smart-related-content/related-content-client.tsx
  src/components/ui/unified-button.tsx
  src/components/unified-detail-page/collection-detail-view.tsx
  src/components/unified-detail-page/index.tsx
  src/lib/actions/analytics.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/track-view.ts
  src/lib/actions/user.actions.ts
  src/lib/analytics/event-mapper.mock.ts
  src/lib/analytics/event-mapper.ts
  src/lib/cache.server.ts
  src/lib/config/category-config.ts
  src/lib/config/seo-config.ts
  src/lib/repositories/content-similarity.repository.ts
  src/lib/schemas/analytics.schema.ts
  src/lib/schemas/component.schema.ts
  src/lib/schemas/components/content-item.schema.ts
  src/lib/schemas/content/collection.schema.ts
  src/lib/schemas/middleware.schema.ts
  src/lib/schemas/personalization.schema.ts
  src/lib/schemas/recommender.schema.ts
  src/lib/schemas/shared.schema.ts
  src/lib/schemas/submission-stats.schema.ts
  src/lib/seo/metadata-generator.ts
  src/lib/seo/schema-metadata-adapter.ts
  src/lib/seo/title-enhancer.ts
  src/lib/trending/calculator.server.ts
  src/lib/types/content-type-config.ts
  src/lib/utils/content.utils.ts
Labels: security

fix: architectural issues
  src/app/[category]/[slug]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/jobs/[slug]/page.tsx
  src/components/cards/unified-card-grid.tsx
  src/components/forms/submit-form-client.tsx
  src/components/personalization/for-you-feed-client.tsx
  src/lib/repositories/activity.repository.ts
  src/lib/repositories/base.repository.ts
  src/lib/repositories/bookmark.repository.ts
  src/lib/repositories/collection.repository.ts
  src/lib/repositories/company.repository.ts
  src/lib/repositories/content-similarity.repository.ts
  src/lib/repositories/follower.repository.ts
  src/lib/repositories/job.repository.ts
  src/lib/repositories/post.repository.ts
  src/lib/repositories/reputation.repository.ts
  src/lib/repositories/review.repository.ts
  src/lib/repositories/sponsored-content.repository.ts
  src/lib/repositories/submission.repository.ts
  src/lib/repositories/user-affinity.repository.ts
  src/lib/repositories/user-badge.repository.ts
  src/lib/repositories/user-interaction.repository.ts
  src/lib/repositories/user.repository.ts
  src/lib/seo/metadata-registry.ts
Labels: none

fix: further cleanups
  src/app/guides/[category]/[slug]/page.tsx
  src/components/cards/config-card.stories.tsx
  src/components/cards/unified-card-grid.tsx
  src/components/changelog/changelog-list-client.tsx
  src/components/content-search-client.tsx
  src/components/features/home/featured-sections.tsx
  src/components/personalization/for-you-feed-client.tsx
  src/components/smart-related-content/related-content-client.tsx
  src/lib/config/category-types.ts
  src/lib/related-content/service.ts
  src/lib/schemas/related-content.schema.ts
  src/lib/schemas/shared.schema.ts
Labels: none

fix: component consolidation #3
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/library/[slug]/edit/page.tsx
  src/app/account/library/new/page.tsx
  src/app/account/settings/page.tsx
  src/app/board/new/page.tsx
  src/components/content/mdx-components.tsx
  src/components/content/production-code-block.stories.tsx
  src/components/content/production-code-block.tsx
  src/components/forms/collection-form.tsx
  src/components/forms/job-form.tsx
  src/components/forms/new-post-form.tsx
  src/components/forms/profile-edit-form.tsx
Labels: none

fix: component consolidation #4
  src/app/[category]/[slug]/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/components/changelog/changelog-content.tsx
  src/components/content/checklist.tsx
  src/components/content/code-group-server.tsx
  src/components/content/code-group.tsx
  src/components/content/mdx-components.tsx
  src/components/content/mdx-renderer.tsx
  src/components/content/smart-related-content/related-content-client.tsx
  src/components/content/step-guide.tsx
  src/components/content/unified-content-block.stories.tsx
  src/components/content/unified-content-section.tsx
  src/components/content/unified-detail-page/collection-detail-view.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/content/unified-detail-page/detail-header.tsx
  src/components/content/unified-detail-page/detail-metadata.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/content/unified-detail-page/sidebar/category-navigation-card.tsx
  src/components/content/unified-detail-page/sidebar/detail-sidebar.tsx
  src/components/layout/sidebar/unified-sidebar.tsx
  src/components/shared/code-block-server.tsx
Labels: none

fix: component consolidation #5
  src/app/account/activity/page.tsx
  src/app/board/new/page.tsx
  src/app/board/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/page.tsx
  src/app/community/page.tsx
  src/app/companies/page.tsx
  src/app/for-you/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/page.tsx
  src/app/jobs/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/partner/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/page.tsx
  src/app/trending/page.tsx
  src/components/content-list-server.tsx
  src/components/content/mdx-components.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/features/analytics/metrics-display.tsx
  src/components/features/changelog/category-filter.tsx
  src/components/features/changelog/changelog-content.tsx
  src/components/features/changelog/changelog-list-client.tsx
  src/components/features/growth/footer-newsletter-bar.stories.tsx
  src/components/features/growth/footer-newsletter-bar.tsx
  src/components/features/growth/inline-email-cta.stories.tsx
  src/components/features/growth/inline-email-cta.tsx
  src/components/features/growth/newsletter-form.stories.tsx
  src/components/features/growth/newsletter-form.tsx
  src/components/features/growth/post-copy-email-modal.stories.tsx
  src/components/features/growth/post-copy-email-modal.tsx
  src/components/features/personalization/for-you-feed-client.tsx
  src/components/features/reputation/activity-timeline.tsx
  src/components/providers/post-copy-email-provider.tsx
  src/hooks/use-copy-with-email-capture.ts
Labels: none

fix: component consolidation #6
  src/app/[category]/[slug]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/app/jobs/[slug]/page.tsx
  src/app/layout.tsx
  src/components/content/mdx-components.tsx
  src/components/domain/unified-button.tsx
  src/components/infra/providers/mdx-content-provider.tsx
  src/components/infra/providers/post-copy-email-provider.mock.tsx
  src/components/infra/providers/post-copy-email-provider.tsx
  src/components/infra/structured-data/breadcrumb-schema.tsx
  src/components/infra/structured-data/changelog-structured-data.tsx
  src/components/infra/structured-data/organization-schema.tsx
  src/components/infra/structured-data/unified-structured-data.tsx
  src/hooks/use-copy-with-email-capture.ts
Labels: none

fix: component consolidation #7
  src/app/page.tsx
  src/components/domain/config-card.tsx
  src/components/features/home/index.tsx
  src/components/magic/border-beam.tsx
  src/components/magic/meteors.tsx
  src/components/magic/number-ticker.tsx
  src/components/magic/rolling-text.tsx
Labels: none

fix: component consolidation #8
  src/components/content/mdx-components.tsx
  src/components/tools/troubleshooting/diagnostic-flow.tsx
  src/components/tools/troubleshooting/error-table.tsx
Labels: none

feat: storybook additions (unified-sidebar)
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/components/content/mdx-components.stories.tsx
  src/components/content/unified-content-section.stories.tsx
  src/components/domain/unified-button.tsx
  src/components/layout/navigation.stories.tsx
  src/components/layout/sidebar/unified-sidebar.stories.tsx
  src/hooks/use-copy-with-email-capture.ts
Labels: dependencies

feat: storybook for profile-edit-form
  src/components/forms/profile-edit-form.stories.tsx
  src/components/forms/profile-edit-form.tsx
  src/lib/actions/user.actions.mock.ts
Labels: security

feat: jobform storybook
  src/components/forms/job-form.stories.tsx
Labels: none

feat: unified-search story
  src/components/features/search/unified-search.stories.tsx
  src/components/features/search/unified-search.tsx
  src/lib/analytics/event-mapper.mock.ts
Labels: none

feat: badge-grid story
  .storybook/main.ts
  package.json
  src/components/features/badges/badge-grid.stories.tsx
  src/components/features/badges/badge-grid.tsx
  src/lib/actions/badges.actions.mock.ts
Labels: security, dependencies

feat: reputation story
  src/components/features/reputation/reputation-breakdown.stories.tsx
Labels: none

fix: consolidations
  src/components/forms/content-type-field-renderer.tsx
  src/components/forms/new-post-form.tsx
  src/components/forms/profile-edit-form.tsx
  src/components/forms/utilities/toggle-field.stories.tsx
  src/components/forms/utilities/toggle-field.tsx
  src/lib/ui-constants.ts
Labels: none

feat: major SEO / metadata system overhaul
  CHANGELOG.md
  config/tools/lefthook.yml
  package.json
  scripts/validation/validate-metadata.ts
  src/lib/config/category-config.ts
  src/lib/config/seo-config.ts
  src/lib/seo/metadata-generator.ts
  src/lib/seo/metadata-registry.ts
  src/lib/seo/metadata-templates.ts
  src/lib/seo/pattern-matcher.ts
  src/lib/seo/route-classifier.ts
  src/lib/seo/route-scanner.ts
  src/lib/seo/schema-metadata-adapter.ts
Labels: dependencies

feat: add 3 new stories
  package.json
  src/components/content/checklist.stories.tsx
  src/components/content/code-group.stories.tsx
  src/components/content/smart-related-content/related-content-client.stories.tsx
  src/components/content/smart-related-content/related-content-client.tsx
  src/lib/related-content/service.mock.ts
Labels: dependencies

feat: created 3 new stories
  src/components/features/analytics/metrics-display.stories.tsx
  src/components/features/reputation/activity-timeline.stories.tsx
  src/components/features/search/search-filter-panel.stories.tsx
Labels: none

feat: expand stories coverage + functionality
  .storybook/preview.ts
  src/components/content/checklist.stories.tsx
  src/components/content/code-group.stories.tsx
  src/components/content/mdx-components.stories.tsx
  src/components/content/production-code-block.stories.tsx
  src/components/content/smart-related-content/related-content-client.stories.tsx
  src/components/content/unified-content-block.stories.tsx
  src/components/content/unified-content-section.stories.tsx
  src/components/domain/base-card.stories.tsx
  src/components/domain/config-card.stories.tsx
  src/components/domain/job-card.stories.tsx
  src/components/domain/unified-badge.stories.tsx
  src/components/domain/unified-button.stories.tsx
  src/components/domain/unified-card-grid.stories.tsx
  src/components/domain/unified-content-box.stories.tsx
  src/components/domain/unified-review.stories.tsx
  src/components/features/analytics/metrics-display.stories.tsx
  src/components/features/badges/badge-grid.stories.tsx
  src/components/features/growth/unified-newsletter-capture.stories.tsx
  src/components/features/reputation/activity-timeline.stories.tsx
  src/components/features/reputation/reputation-breakdown.stories.tsx
  src/components/features/search/search-filter-panel.stories.tsx
  src/components/features/search/unified-search.stories.tsx
  src/components/forms/content-type-field-renderer.stories.tsx
  src/components/forms/job-form.stories.tsx
  src/components/forms/profile-edit-form.stories.tsx
  src/components/forms/utilities/form-field.stories.tsx
  src/components/forms/utilities/list-item-manager.stories.tsx
  src/components/forms/utilities/toggle-field.stories.tsx
  src/components/infra/error-boundary.stories.tsx
  src/components/infra/performance-optimizer.stories.tsx
  src/components/infra/pwa-install-tracker.stories.tsx
  src/components/infra/unified-tracker.stories.tsx
  src/components/layout/footer.stories.tsx
  src/components/layout/navigation.stories.tsx
  src/components/layout/sidebar/unified-sidebar.stories.tsx
Labels: none

fix: validation system rewrites
  scripts/validation/validate.ts
  scripts/validation/validators/content-validator-wrapper.ts
  scripts/validation/validators/content-validator.ts
  scripts/validation/validators/llmstxt-validator-wrapper.ts
  scripts/validation/validators/llmstxt-validator.ts
  scripts/validation/validators/metadata-validator-wrapper.ts
  scripts/validation/validators/metadata-validator.ts
  scripts/validation/validators/seo-validator-wrapper.ts
  scripts/validation/validators/seo-validator.ts
  scripts/validation/validators/title-validator-wrapper.ts
  scripts/validation/validators/title-validator.ts
Labels: none
