Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

feat: Add skills category and integrate into content validation
  .github/workflows/content-validation.yml
  CHANGELOG.md
  scripts/validate-llmstxt.ts
  src/app/sitemap.ts
  src/config/announcements.ts
  src/config/navigation.ts
  src/lib/analytics/event-mapper.ts
  src/lib/build/url-generator.ts
  src/lib/security/patterns.ts
  src/lib/security/validators.ts
  src/lib/validation/content-validator.ts
Labels: security, github-actions

feat: Add skills category to config recommender and SEO
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/lib/config/seo-config.ts
  src/lib/schemas/content/content-types.ts
Labels: none

chore: linting + formatting
  src/app/[category]/[slug]/page.tsx
  src/app/api/[contentType]/route.ts
  src/app/llms.txt/route.ts
  src/app/sitemap.ts
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/trending/page.tsx
  src/lib/config/build-category-config.ts
  src/lib/schemas/component.schema.ts
  src/lib/schemas/content/content-item-union.schema.ts
  src/lib/security/validators.ts
  src/lib/services/digest.service.ts
  src/lib/structured-data/schema-types.ts
  src/lib/validation/content-validator.ts
Labels: security

feat: Add new skills for data, docs, and APIs
  content/skills/audio-transcription-summarization.json
  content/skills/cli-data-viz-quickstart.json
  content/skills/csv-excel-data-wrangler.json
  content/skills/docx-report-generator.json
  content/skills/image-ocr-table-extraction.json
  content/skills/json-schema-validation-transformation.json
  content/skills/log-parsing-incident-timeline.json
  content/skills/markdown-knowledge-base-composer.json
  content/skills/rest-api-client-harness.json
  content/skills/website-crawler-summarizer.json
Labels: content-submission

feat: Add skills category to OG image generation and config
  scripts/generate-og-images.ts
  src/lib/config/category-config.ts
Labels: none

Refactor: Consolidate category configuration into unified registry
  scripts/build-content.ts
  scripts/generate-static-apis.ts
  scripts/validate-content.ts
  src/lib/analytics/event-mapper.ts
  src/lib/build/category-processor.ts
  src/lib/config/build-category-config.ts
  src/lib/config/category-config.ts
  src/lib/config/content-type-configs.tsx
  src/lib/config/seo-config.ts
  src/lib/content/content-loaders.ts
  src/lib/content/lazy-content-loaders.ts
  src/lib/related-content/service.ts
  src/lib/schemas/api/static-api-response.schema.ts
  src/lib/security/validators.ts
  src/lib/seo/metadata-registry.ts
  src/lib/seo/schema-metadata-adapter.ts
  src/lib/ui-constants.ts
  tests/unit/lib/seo/metadata-registry.test.ts
Labels: security

Refactor: Use dynamic category IDs and improve metadata generation
  src/lib/services/featured.service.ts
  tests/unit/lib/seo/metadata-generator.test.ts
Labels: none

Add skills content type and templates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/submit_skill.yml
  .github/pull_request_template.md
  templates/content/skills-template-simple.json
Labels: content-submission

Update directory counts and add skills section
  README.md
Labels: none

Audit and plan category integration overhaul (#104)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/submit_skill.yml
  .github/pull_request_template.md
  README.md
  scripts/build-content.ts
  scripts/generate-static-apis.ts
  scripts/validate-content.ts
  src/lib/analytics/event-mapper.ts
  src/lib/build/category-processor.ts
  src/lib/config/build-category-config.ts
  src/lib/config/category-config.ts
  src/lib/config/content-type-configs.tsx
  src/lib/config/seo-config.ts
  src/lib/content/content-loaders.ts
  src/lib/content/lazy-content-loaders.ts
  src/lib/related-content/service.ts
  src/lib/schemas/api/static-api-response.schema.ts
  src/lib/security/validators.ts
  src/lib/seo/metadata-registry.ts
  src/lib/seo/schema-metadata-adapter.ts
  src/lib/services/featured.service.ts
  src/lib/ui-constants.ts
  templates/content/skills-template-simple.json
  tests/unit/lib/seo/metadata-generator.test.ts
  tests/unit/lib/seo/metadata-registry.test.ts
Labels: content-submission, security

Research new skills content ideas (#103)
  content/skills/audio-transcription-summarization.json
  content/skills/cli-data-viz-quickstart.json
  content/skills/csv-excel-data-wrangler.json
  content/skills/docx-report-generator.json
  content/skills/image-ocr-table-extraction.json
  content/skills/json-schema-validation-transformation.json
  content/skills/log-parsing-incident-timeline.json
  content/skills/markdown-knowledge-base-composer.json
  content/skills/rest-api-client-harness.json
  content/skills/website-crawler-summarizer.json
  scripts/generate-og-images.ts
  src/lib/config/category-config.ts
Labels: content-submission

Checkpoint before follow-up message
  src/lib/llms-txt/content-builder.ts
  tests/unit/hooks/use-local-storage.test.tsx
Labels: none

Checkpoint before follow-up message (#105)
  src/lib/llms-txt/content-builder.ts
  tests/unit/hooks/use-local-storage.test.tsx
Labels: none

Potential fix for code scanning alert no. 108: Superfluous trailing arguments
  tests/unit/hooks/use-local-storage.test.tsx
Labels: none

Potential fix for code scanning alert no. 111: Superfluous trailing arguments
  tests/unit/hooks/use-local-storage.test.tsx
Labels: none

Potential fix for code scanning alert no. 107: Superfluous trailing arguments
  tests/unit/hooks/use-local-storage.test.tsx
Labels: none

chore: linting + formatting
  content/skills/audio-transcription-summarization.json
  content/skills/cli-data-viz-quickstart.json
  content/skills/csv-excel-data-wrangler.json
  content/skills/docx-report-generator.json
  content/skills/image-ocr-table-extraction.json
  content/skills/json-schema-validation-transformation.json
  content/skills/log-parsing-incident-timeline.json
  content/skills/markdown-knowledge-base-composer.json
  content/skills/rest-api-client-harness.json
  content/skills/website-crawler-summarizer.json
  scripts/generate-og-images.ts
  scripts/validate-content.ts
  src/lib/analytics/event-mapper.ts
  src/lib/build/category-processor.ts
  src/lib/config/category-config.ts
  src/lib/config/content-type-configs.tsx
  src/lib/config/seo-config.ts
  src/lib/content/content-loaders.ts
  src/lib/security/validators.ts
  src/lib/ui-constants.ts
Labels: content-submission, security

Potential fix for code scanning alert no. 117: Superfluous trailing arguments
  tests/unit/hooks/use-local-storage.test.tsx
Labels: none

feat: Build content, generate OpenAPI and API docs
  build-output.txt
Labels: none

Auto-commit pending changes before rebase - PR synchronize
  src/components/content-list-server.tsx
  src/components/content-search-client.tsx
  src/components/layout/theme-toggle.tsx
  src/components/submit/examples-array-input.tsx
  src/lib/icons.tsx
  src/lib/ui-constants.ts
Labels: none

Refactor: Remove Zod, use TypeScript types for optimization
  src/components/layout/sidebar/unified-sidebar.tsx
  src/components/shared/mdx-components.tsx
  src/components/ui/chart.tsx
Labels: none

Remove unused email templates and related files
  src/components/features/content/collection-card.tsx
  src/emails/templates/job-posted-confirmation.tsx
  src/emails/templates/payment-receipt.tsx
  src/hooks/use-badge-notifications.ts
  src/lib/actions/user.actions.ts
  src/lib/events/domain-events.ts
  src/lib/events/event-bus.ts
  src/lib/events/handlers/email-event-handlers.ts
  src/lib/events/handlers/submission-event-handlers.ts
  src/lib/repositories/badge.repository.ts
  src/lib/schemas/badge.schema.ts
  src/lib/schemas/primitives/seo-primitives.ts
  tests/mocks/browser.ts
  tests/utils/async-helpers.ts
  tests/utils/form-helpers.tsx
  tests/utils/storage-helpers.ts
Labels: security

chore: linting + formatting
  src/components/content-list-server.tsx
  src/lib/actions/user.actions.ts
  src/lib/ui-constants.ts
Labels: security

Analyze and optimize bundle sizes (#108)
  build-output.txt
  src/components/content-list-server.tsx
  src/components/content-search-client.tsx
  src/components/features/content/collection-card.tsx
  src/components/layout/sidebar/unified-sidebar.tsx
  src/components/layout/theme-toggle.tsx
  src/components/shared/mdx-components.tsx
  src/components/submit/examples-array-input.tsx
  src/components/ui/chart.tsx
  src/emails/templates/job-posted-confirmation.tsx
  src/emails/templates/payment-receipt.tsx
  src/hooks/use-badge-notifications.ts
  src/lib/actions/user.actions.ts
  src/lib/events/domain-events.ts
  src/lib/events/event-bus.ts
  src/lib/events/handlers/email-event-handlers.ts
  src/lib/events/handlers/submission-event-handlers.ts
  src/lib/icons.tsx
  src/lib/repositories/badge.repository.ts
  src/lib/schemas/badge.schema.ts
  src/lib/schemas/primitives/seo-primitives.ts
  src/lib/ui-constants.ts
  tests/mocks/browser.ts
  tests/utils/async-helpers.ts
  tests/utils/form-helpers.tsx
  tests/utils/storage-helpers.ts
Labels: security

Potential fix for code scanning alert no. 119: Superfluous trailing arguments
  tests/unit/hooks/use-local-storage.test.tsx
Labels: none

Refactor: Update author and content for skills
  content/skills/audio-transcription-summarization.json
  content/skills/cli-data-viz-quickstart.json
  content/skills/csv-excel-data-wrangler.json
  content/skills/docx-report-generator.json
  content/skills/image-ocr-table-extraction.json
  content/skills/json-schema-validation-transformation.json
  content/skills/log-parsing-incident-timeline.json
  content/skills/markdown-knowledge-base-composer.json
  content/skills/rest-api-client-harness.json
  content/skills/website-crawler-summarizer.json
  src/app/globals.css
  src/components/features/content/config-card.tsx
  src/components/ui/config-badge.tsx
Labels: content-submission

Refactor: Add subcategory field to guides and update schema
  src/app/guides/page.tsx
  src/lib/schemas/components/content-item.schema.ts
  src/lib/utils/content.utils.ts
Labels: none

Refactor: Update author and content for skills (#109)
  content/skills/audio-transcription-summarization.json
  content/skills/cli-data-viz-quickstart.json
  content/skills/csv-excel-data-wrangler.json
  content/skills/docx-report-generator.json
  content/skills/image-ocr-table-extraction.json
  content/skills/json-schema-validation-transformation.json
  content/skills/log-parsing-incident-timeline.json
  content/skills/markdown-knowledge-base-composer.json
  content/skills/rest-api-client-harness.json
  content/skills/website-crawler-summarizer.json
  src/app/globals.css
  src/components/features/content/config-card.tsx
  src/components/ui/config-badge.tsx
Labels: content-submission

Refactor: Add subcategory field to guides and update schema (#110)
  src/app/guides/page.tsx
  src/lib/schemas/components/content-item.schema.ts
  src/lib/utils/content.utils.ts
Labels: none

Refactor: Improve content item schema and URL generation
  src/lib/schemas/components/content-item.schema.ts
  src/lib/utils/content.utils.ts
Labels: none

Fix: Allow undefined subcategory in getContentItemUrl
  src/lib/utils/content.utils.ts
Labels: none

Refactor: Centralize revalidation times and improve schema validation
  src/app/[category]/page.tsx
  src/app/page.tsx
  src/app/sitemap.ts
  src/lib/config/rate-limits.config.ts
  src/lib/schemas/content/job.schema.ts
  src/lib/schemas/env.schema.ts
  src/lib/schemas/profile.schema.ts
Labels: none

Checkpoint before follow-up message
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/page.tsx
  src/app/changelog/rss.xml/route.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/page.tsx
Labels: none

Refactor: Centralize revalidation times and handle nullables
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/board/page.tsx
  src/app/companies/page.tsx
  src/app/llms.txt/route.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/lib/actions/business.actions.ts
  src/lib/actions/user.actions.ts
Labels: security

Fix build failure due to type mismatch (#111)
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/board/page.tsx
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/page.tsx
  src/app/changelog/rss.xml/route.ts
  src/app/companies/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/page.tsx
  src/app/llms.txt/route.ts
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/lib/actions/business.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/config/rate-limits.config.ts
  src/lib/schemas/components/content-item.schema.ts
  src/lib/schemas/content/job.schema.ts
  src/lib/schemas/env.schema.ts
  src/lib/schemas/profile.schema.ts
  src/lib/utils/content.utils.ts
Labels: security

feat: Add Skills category integration
  CHANGELOG.md
Labels: none

feat: Add Skills category integration (#112)
  CHANGELOG.md
Labels: none

chore: package updates, linting + formatting
  package-lock.json
  package.json
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/board/page.tsx
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/rss.xml/route.ts
  src/app/companies/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/page.tsx
  src/app/llms.txt/route.ts
  src/app/sitemap.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/components/features/profile/profile-edit-form.tsx
  src/components/jobs/job-form.tsx
  src/lib/actions/business.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/schemas/profile.schema.ts
Labels: security, dependencies

fix: broken opengraph generation system
  src/app/api/og/route.ts
  src/lib/seo/metadata-generator.ts
Labels: none

fix: vercel build errors
  src/app/account/activity/page.tsx
  src/app/account/bookmarks/page.tsx
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/jobs/[id]/edit/page.tsx
  src/app/account/jobs/new/page.tsx
  src/app/account/jobs/page.tsx
  src/app/account/library/new/page.tsx
  src/app/account/library/page.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/account/sponsorships/page.tsx
  src/app/account/submissions/page.tsx
  src/app/auth/auth-code-error/page.tsx
  src/app/board/new/page.tsx
  src/app/board/page.tsx
  src/app/community/page.tsx
  src/app/companies/page.tsx
  src/app/for-you/page.tsx
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/partner/page.tsx
  src/app/submit/layout.tsx
  src/app/submit/page.tsx
  src/app/trending/page.tsx
Labels: none
