Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

fix: vercel build issue
  next.config.mjs
Labels: none

fix: vercel build warnings
  package.json
  src/app/tools/config-recommender/llms.txt/route.ts
  src/middleware.ts
Labels: security, dependencies

fix: build error
  src/middleware.ts
Labels: security

fix: vercel build error
  public/sitemap.xml
  src/middleware.ts
Labels: security

fix: grid display issues
  src/components/shared/masonry-grid.tsx
Labels: none

fix: preview card displays
  src/components/shared/masonry-grid.tsx
Labels: none

feat(navigation): add user menu, improve accessibility, and integrate missing pages
  CHANGELOG.md
  src/components/layout/navigation.tsx
  src/components/layout/theme-toggle.tsx
  src/components/layout/user-menu.tsx
Labels: none

fix: design tweaks
  src/app/globals.css
  src/components/layout/navigation.tsx
  src/components/layout/theme-toggle.tsx
  src/components/layout/user-menu.tsx
Labels: none

feat: minor design tweaks
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
  src/components/shared/masonry-grid.tsx
Labels: none

feat: add Magic UI components with enhanced animations and accessibility
  CHANGELOG.md
  src/app/globals.css
  src/app/page.tsx
  src/components/features/home/featured-sections.tsx
  src/components/features/home/index.tsx
  src/components/layout/footer.tsx
  src/components/layout/github-stars-button.tsx
  src/components/ui/command.tsx
  src/components/ui/magic/bento-grid.tsx
  src/components/ui/magic/border-beam.tsx
  src/components/ui/magic/grid-pattern.tsx
  src/components/ui/magic/marquee.tsx
  src/components/ui/magic/meteors.tsx
  src/components/ui/magic/number-ticker.tsx
  src/components/ui/magic/ripple.tsx
  src/components/ui/magic/shimmer-button.tsx
  src/hooks/use-intersection-observer.ts
Labels: none

feat: Add Magic UI components and enhance navigation with auth integration
  package-lock.json
  package.json
  public/sitemap.xml
  src/app/globals.css
  src/app/page.tsx
  src/components/features/home/index.tsx
  src/components/layout/footer.tsx
  src/components/layout/github-stars-button.tsx
  src/components/layout/navigation.tsx
  src/components/layout/user-menu.tsx
  src/components/ui/magic/bento-grid.tsx
  src/components/ui/magic/border-beam.tsx
  src/components/ui/magic/grid-pattern.tsx
  src/components/ui/magic/marquee.tsx
  src/components/ui/magic/meteors.tsx
  src/components/ui/magic/number-ticker.tsx
  src/components/ui/magic/ripple.tsx
  src/components/ui/magic/shimmer-button.tsx
  src/hooks/use-intersection-observer.ts
  src/lib/actions/bookmark-actions.ts
Labels: security, dependencies

fix: design updates
  src/app/globals.css
  src/app/page.tsx
  src/components/layout/github-stars-button.tsx
  src/components/layout/navigation.tsx
  src/components/ui/magic/text-roll.tsx
Labels: none

fix: hero text
  src/app/page.tsx
Labels: none

fix: hero section spacing
  src/app/page.tsx
Labels: none

fix: hero animation
  src/app/page.tsx
Labels: none

fix: meteor animation
  src/app/globals.css
  src/app/page.tsx
Labels: none

fix: meteors animation
  src/app/page.tsx
  src/components/layout/navigation.tsx
  src/components/ui/magic/meteors.tsx
Labels: none

feat: add hero section animations and enhance search UI
  CHANGELOG.md
  src/app/globals.css
  src/app/page.tsx
  src/components/features/home/index.tsx
  src/components/features/search/unified-search.tsx
  src/components/ui/magic/meteors.tsx
  src/components/ui/magic/rolling-text.tsx
  src/components/ui/magic/text-roll.tsx
  src/lib/supabase/client.ts
Labels: none

feat: navigation overhaul with ⌘K command palette and announcement system
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  public/sitemap.xml
  src/app/layout.tsx
  src/components/layout/announcement-banner.tsx
  src/components/layout/navigation-command-menu.tsx
  src/components/layout/navigation.tsx
  src/components/ui/__tests__/announcement.test.tsx
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/announcement.tsx
  src/components/ui/new-indicator.tsx
  src/config/__tests__/announcements.test.ts
  src/config/__tests__/navigation.test.ts
  src/config/announcements.ts
  src/config/navigation.ts
  src/hooks/__tests__/use-announcement-dismissal.test.ts
  src/hooks/use-announcement-dismissal.ts
  src/lib/content/__tests__/shiki-singleton.test.ts
  src/lib/content/mdx-config.ts
  src/lib/content/shiki-singleton.ts
  src/lib/content/syntax-highlighting.ts
  src/lib/utils/__tests__/cn.test.ts
  tests/setup.tsx
  tests/utils/test-utils.tsx
  tsconfig.json
  vitest.config.ts
Labels: dependencies

feat: navbar updates
  .vercelignore
  src/components/layout/announcement-banner.tsx
  src/components/layout/navigation.tsx
  src/components/shared/footer-newsletter-bar.tsx
  src/components/shared/infinite-scroll-container.tsx
  src/lib/services/featured-loader.service.ts
Labels: none

feat: add Circle Blur animation to theme toggle with View Transitions API
  CHANGELOG.md
  src/app/globals.css
  src/components/layout/theme-toggle.tsx
  src/hooks/use-view-transition.ts
  src/types/view-transitions.d.ts
Labels: none

test: add comprehensive test coverage for hooks and services + fix homepage issues
  .gitignore
  package.json
  public/sitemap.xml
  scripts/generate-sitemap.ts
  src/app/globals.css
  src/components/layout/theme-toggle.tsx
  src/components/shared/infinite-scroll-container.tsx
  src/hooks/__tests__/use-copy-to-clipboard.test.ts
  src/hooks/__tests__/use-infinite-scroll.test.tsx
  src/hooks/__tests__/use-intersection-observer.test.tsx
  src/hooks/__tests__/use-local-storage.test.tsx
  src/hooks/__tests__/use-view-transition.test.ts
  src/lib/build/__tests__/sitemap-parity.test.ts
  src/lib/services/__tests__/featured-calculator.service.test.ts
  src/lib/services/__tests__/featured-loader.service.test.ts
  src/lib/services/featured-loader.service.ts
Labels: dependencies

fix: build errors
  src/app/page.tsx
Labels: none

fix: preview card display issues
  src/app/collections/page.tsx
  src/app/companies/page.tsx
  src/app/guides/page.tsx
  src/components/analytics/metrics-display.tsx
  src/components/features/content/collection-card.tsx
  src/components/features/content/config-card.tsx
  src/components/features/home/tabs-section.tsx
  src/components/personalization/for-you-feed-client.tsx
  src/components/personalization/similar-configs-section.tsx
  src/components/shared/infinite-scroll-container.tsx
  src/components/shared/lazy-infinite-scroll.tsx
  src/components/smart-related-content/index.tsx
  src/lib/ui-constants.ts
Labels: none

fix: preview card consolidations
  src/components/features/home/featured-sections.tsx
  src/components/features/home/featured-this-week.tsx
  src/components/features/home/tabs-section.tsx
  src/components/shared/lazy-config-card.tsx
Labels: none

fix: cron job consolidation
  src/app/api/cron/calculate-affinities/route.ts
  src/app/api/cron/calculate-similarities/route.ts
  src/app/api/cron/calculate-weekly-featured/route.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/expire-jobs/route.ts
  src/app/api/cron/process-email-sequences/route.ts
  src/app/api/cron/send-weekly-digest/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/components/features/home/featured-this-week.tsx
  vercel.json
Labels: none

fix: consolidate content.utils.ts
  src/lib/utils/content.utils.ts
  src/lib/utils/filename-generator.ts
  src/lib/utils/guide-helpers.ts
  src/lib/utils/transformers.ts
  src/lib/utils/url-helpers.ts
Labels: none

fix: additional consolidations
  src/app/[category]/[slug]/page.tsx
  src/app/account/jobs/[id]/analytics/page.tsx
  src/app/account/jobs/page.tsx
  src/app/api/cron/weekly-tasks/route.ts
  src/app/board/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/app/page.tsx
  src/components/category-guides-page.tsx
  src/components/enhanced-guides-page.tsx
  src/components/features/content/collection-card.tsx
  src/components/features/content/config-card.tsx
  src/components/features/reviews/review-section.tsx
  src/components/shared/bookmark-button.tsx
  src/components/shared/card-copy-action.tsx
  src/components/shared/job-card.tsx
  src/components/shared/structured-data.tsx
  src/components/smart-related-content/carousel.tsx
  src/components/structured-data/unified-structured-data.tsx
  src/components/tools/recommender/results-display.tsx
  src/components/unified-detail-page/detail-metadata.tsx
  src/components/unified-detail-page/sections/configuration-section.tsx
  src/components/unified-detail-page/sections/content-section.tsx
  src/components/unified-detail-page/sidebar/detail-sidebar.tsx
  src/lib/actions/analytics.actions.ts
  src/lib/config/content-type-configs.tsx
  src/lib/content/lazy-content-loaders.ts
  src/lib/redis/cache.ts
  src/lib/redis/client.ts
  src/lib/related-content/service.ts
  src/lib/schemas/component.schema.ts
  src/lib/services/featured.service.ts
  src/lib/utils/browser.utils.ts
  src/lib/utils/clipboard-utils.ts
  src/lib/utils/data.utils.ts
  src/lib/utils/date.utils.ts
  src/lib/utils/github-issue-url.ts
  src/lib/utils/integration.utils.ts
Labels: security

fix: cache consolidation
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/api/[contentType]/route.ts
  src/app/api/all-configurations.json/route.ts
  src/app/api/cache/warm/route.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/guides/trending/route.ts
  src/app/api/og/route.ts
  src/app/collections/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/page.tsx
  src/app/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/components/layout/sidebar/unified-sidebar.tsx
  src/hooks/use-search.ts
  src/lib/actions/analytics.actions.ts
  src/lib/actions/markdown-actions.ts
  src/lib/actions/safe-action.ts
  src/lib/actions/track-view.ts
  src/lib/cache.ts
  src/lib/cache/cache-warmer.ts
  src/lib/cache/search-cache.ts
  src/lib/changelog/loader.ts
  src/lib/content/content-loaders.ts
  src/lib/rate-limiter.ts
  src/lib/redis.ts
  src/lib/redis/cache.ts
  src/lib/redis/client.ts
  src/lib/related-content/cache-invalidation.ts
  src/lib/services/digest.service.ts
  src/lib/services/email-sequence.service.ts
  src/lib/services/featured.service.ts
  src/lib/services/view-count.service.ts
  src/lib/services/webhook.service.ts
  src/lib/trending/calculator.ts
Labels: security

fix: batch optimizations
  src/app/account/activity/page.tsx
  src/app/api/all-configurations.json/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/collections/[slug]/page.tsx
  src/app/llms.txt/route.ts
  src/app/page.tsx
  src/app/submit/page.tsx
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/trending/page.tsx
  src/components/template/code-group-server.tsx
  src/components/template/step-guide.tsx
  src/components/unified-detail-page/sections/configuration-section.tsx
  src/lib/actions/analytics.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/build/category-processor.ts
  src/lib/cache.ts
  src/lib/content/shiki-singleton.ts
  src/lib/di/service-factory.ts
  src/lib/events/event-bus.ts
  src/lib/security/validators.ts
  src/lib/services/digest.service.ts
  src/lib/services/featured.service.ts
  src/lib/services/resend.service.ts
  src/lib/trending/calculator.ts
  src/lib/utils/batch.utils.ts
  src/lib/utils/integration.utils.ts
  src/middleware.ts
Labels: security

fix: vercel build issues
  scripts/build-content.ts
  src/lib/services/view-count.service.ts
Labels: none

fix: github actions workflow syntax issue
  .github/workflows/seo-validation.yml
Labels: github-actions

fix: optimizations/consolidations
  next.config.mjs
  package-lock.json
  package.json
  src/components/category-guides-page.tsx
  src/components/enhanced-guides-page.tsx
  src/components/features/home/featured-this-week.tsx
  src/components/features/home/lazy-homepage-sections.tsx
  src/components/features/profile/badge-display.tsx
  src/components/features/reviews/review-section.tsx
  src/components/personalization/similar-configs-section.tsx
  src/lib/di/service-container.ts
  src/lib/di/service-factory.ts
  src/lib/error-handler.ts
  src/lib/seo/ai-optimization.ts
  src/lib/seo/metadata-registry.ts
  src/lib/services/factory.ts
  src/lib/services/registry.ts
  src/lib/utils/data.utils.ts
Labels: dependencies

fix: Phase 6 SEO validation alignment and Vercel build
  next.config.mjs
Labels: none

fix: SEO overhaul + testing updates
  .github/workflows/seo-validation.yml
  next.config.mjs
  src/app/api-docs/layout.tsx
  src/lib/build/category-processor.ts
  src/lib/config/seo-config.ts
  src/lib/content/content-loaders.ts
  src/lib/seo/metadata-generator.ts
  src/lib/seo/metadata-registry.ts
  src/lib/seo/title-builder.ts
  tests/e2e/seo/metadata.spec.ts
  tests/unit/lib/seo/metadata-generator.test.ts
  tests/unit/lib/seo/metadata-registry.test.ts
  tests/unit/lib/seo/title-builder.test.ts
Labels: github-actions

fix: Regenerate package-lock.json to resolve Vercel build error
  package-lock.json
Labels: dependencies

chore: Update dependencies and fix TypeScript compatibility
  CHANGELOG.md
  biome.json
  package-lock.json
  package.json
  src/components/features/reviews/rating-histogram.tsx
  src/components/ui/chart.tsx
Labels: dependencies

fix: outdated deps, broken CI/CD
  .github/workflows/security.yml
  scripts/validate-seo.ts
Labels: security, github-actions

fix: broken/outdated tests
  .github/workflows/ci.yml
  .github/workflows/seo-validation.yml
  config/tools/lefthook.yml
  package-lock.json
  src/lib/seo/metadata-generator.ts
  src/lib/seo/metadata-registry.ts
  tests/integration/database/bookmark-actions.test.ts
  tests/integration/database/collection-actions.test.ts
  tests/integration/database/review-actions.test.ts
  tests/unit/lib/redis/copy-counts.test.ts
  tests/unit/lib/seo/metadata-generator.test.ts
  tests/unit/lib/services/featured-calculator.service.test.ts
  tests/unit/lib/services/featured.service.test.ts
  tests/unit/security/rate-limiter.test.ts
  tests/unit/security/xss-prevention.test.ts
Labels: dependencies, github-actions

fix: enriched content display issues
  src/app/guides/page.tsx
  src/app/page.tsx
Labels: none

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
