Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

feat: Skip middleware for static assets
  src/middleware.ts
Labels: security

Checkpoint before follow-up message
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  .github/workflows/validation.yml
Labels: github-actions

Checkpoint before follow-up message
  .github/workflows/bundle-analysis.yml
  .github/workflows/dead-code-detection.yml
  .github/workflows/security.yml
Labels: security, github-actions

Checkpoint before follow-up message
  src/components/content/read-progress.tsx
Labels: none

Checkpoint before follow-up message
  src/app/[category]/[slug]/page.tsx
  src/app/changelog/[slug]/page.tsx
  src/app/guides/[category]/[slug]/page.tsx
  src/components/content/read-progress.stories.tsx
Labels: none

feat: Add subtle animations to copy buttons and hooks
  src/components/content/production-code-block.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/domain/unified-button.tsx
  src/hooks/use-copy-to-clipboard.ts
Labels: none

Refactor: Consolidate loading components into a factory
  src/app/[category]/[slug]/loading.tsx
  src/app/agents/loading.tsx
  src/app/board/loading.tsx
  src/app/collections/loading.tsx
  src/app/commands/loading.tsx
  src/app/community/loading.tsx
  src/app/companies/loading.tsx
  src/app/guides/[category]/[slug]/loading.tsx
  src/app/guides/[category]/loading.tsx
  src/app/guides/loading.tsx
  src/app/hooks/loading.tsx
  src/app/mcp/loading.tsx
  src/app/partner/loading.tsx
  src/app/rules/loading.tsx
  src/app/search/loading.tsx
  src/app/skills/loading.tsx
  src/app/statuslines/loading.tsx
  src/lib/components/loading-factory.tsx
Labels: none

Refactor: Add Sparkles icon to loading state in UnifiedButton
  src/components/domain/unified-button.tsx
Labels: none

feat: Implement hover prefetching for faster navigation
  src/components/layout/navigation.tsx
  src/components/shared/prefetch-link.tsx
  src/hooks/use-prefetch-on-hover.ts
Labels: none

Refactor: Remove unused ConfigGridSkeleton import
  src/lib/components/loading-factory.tsx
Labels: none

feat: Add scroll animations and progress indicators
  src/app/guides/[category]/[slug]/page.tsx
  src/app/page.tsx
  src/components/features/home/hero-section.tsx
  src/components/shared/scroll-reveal.tsx
  src/components/shared/section-progress.tsx
  src/hooks/use-scroll-animation.ts
Labels: none

Fix: Conditionally pass kind to prefetch
  src/hooks/use-prefetch-on-hover.ts
Labels: none

Refactor: Improve scroll animations and hero section
  src/components/features/home/hero-section.tsx
  src/components/shared/prefetch-link.tsx
  src/components/shared/scroll-reveal.tsx
  src/components/shared/section-progress.tsx
  src/hooks/use-scroll-animation.ts
Labels: none

Refactor: Wrap guide content in SectionProgress component
  src/app/guides/[category]/[slug]/page.tsx
Labels: none

feat: Add View Transitions API styles
  src/app/view-transitions.css
Labels: none

Refactor: Remove unused dynamic import and add view transition
  src/app/page.tsx
  src/components/layout/navigation.tsx
Labels: none

Refactor: Add micro-interactions and polish to UI
  src/app/micro-interactions.css
  src/app/page.tsx
  src/components/domain/unified-badge.tsx
  src/components/features/home/hero-section.tsx
  src/components/primitives/button.tsx
  src/components/primitives/input.tsx
  src/components/shared/scroll-reveal.tsx
  src/hooks/use-prefetch-on-hover.ts
  src/lib/components/loading-factory.tsx
Labels: none

feat: Optimize CI by detecting relevant file changes
  .github/workflows/ci.yml
  .github/workflows/dead-code-detection.yml
  .github/workflows/lighthouse.yml
  .github/workflows/security.yml
  .github/workflows/validation.yml
Labels: security, github-actions

Refactor: Replace Shiki with Starry Night for syntax highlighting
  package-lock.json
  package.json
  public/service-worker.js
  src/app/layout.tsx
  src/app/starry-night.css
  src/app/view-transitions.css
  src/lib/content/mdx-config.ts
  src/lib/content/shiki-singleton.ts
  src/lib/content/starry-night-singleton.ts
  src/lib/content/syntax-highlighting-starry.ts
  src/lib/content/syntax-highlighting.ts
Labels: dependencies

Refactor: Extract changes detection to reusable workflow
  .github/workflows/build-reusable.yml
  .github/workflows/bundle-analysis.yml
  .github/workflows/changes-filter.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/validation.yml
Labels: security, github-actions

feat: Improve build artifact caching and download logic
  .github/workflows/build-reusable.yml
  .github/workflows/bundle-analysis.yml
  .github/workflows/security.yml
Labels: security, github-actions

Analyze github actions workflow optimization (#125)
  .github/workflows/build-reusable.yml
  .github/workflows/bundle-analysis.yml
  .github/workflows/changes-filter.yml
  .github/workflows/ci.yml
  .github/workflows/dead-code-detection.yml
  .github/workflows/lighthouse.yml
  .github/workflows/security.yml
  .github/workflows/validation.yml
Labels: security, github-actions

chore: update dependencies + linting/formatting
  package-lock.json
  src/app/guides/[category]/[slug]/page.tsx
  src/app/hooks/loading.tsx
  src/app/micro-interactions.css
  src/app/starry-night.css
  src/app/view-transitions.css
  src/components/content/read-progress.stories.tsx
  src/components/content/read-progress.tsx
  src/components/domain/unified-badge.tsx
  src/components/domain/unified-button.tsx
  src/components/features/home/hero-section.tsx
  src/components/layout/navigation.tsx
  src/components/primitives/button.tsx
  src/components/shared/prefetch-link.tsx
  src/components/shared/scroll-reveal.tsx
  src/components/shared/section-progress.tsx
  src/hooks/use-prefetch-on-hover.ts
  src/hooks/use-scroll-animation.ts
  src/lib/cache.server.ts
  src/lib/components/loading-factory.tsx
  src/lib/content/starry-night-singleton.ts
  src/lib/seo/validation-schemas.ts
Labels: dependencies

feat: Migrate to static generation and optimize caching
  IMPLEMENTATION-SUMMARY.md
  next.config.mjs
  package.json
  scripts/build/generate-llms-txt.ts
  scripts/build/generate-static-api.ts
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/[category]/page.tsx
  src/app/api-docs/llms.txt/route.ts
  src/app/api/stats/batch/route.ts
  src/app/board/page.tsx
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/[slug]/page.tsx
  src/app/changelog/atom.xml/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/page.tsx
  src/app/changelog/rss.xml/route.ts
  src/app/companies/page.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/[category]/[slug]/page.tsx
  src/app/guides/llms.txt/route.ts
  src/app/guides/page.tsx
  src/app/llms.txt/route.ts
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/app/tools/config-recommender/results/[id]/page.tsx
  src/app/trending/page.tsx
  src/hooks/use-view-counts.ts
Labels: dependencies

Checkpoint before follow-up message
  src/lib/llms-txt/markdown-to-plain.ts
Labels: none

Refactor: Use he.decode for HTML entity decoding
  src/lib/llms-txt/markdown-to-plain.ts
Labels: none

Refactor: Simplify static generation scripts
  scripts/build/generate-llms-txt.ts
  scripts/build/generate-static-api.ts
Labels: none

Checkpoint before follow-up message
  scripts/build/generate-llms-txt.ts
Labels: none

Checkpoint before follow-up message
  scripts/build/generate-llms-txt.ts
  scripts/build/generate-static-api.ts
Labels: none

Remove unused statsRedis import
  src/app/[category]/page.tsx
Labels: none

feat: Fetch view and copy counts with useViewCounts hook
  src/components/domain/config-card.tsx
Labels: none

Checkpoint before follow-up message
  src/app/api/stats/batch/route.ts
Labels: none

Remove all-configurations.json endpoint (static + dynamic)
  public/api/agents.json
  public/api/all-configurations.json
  public/api/collections.json
  public/api/commands.json
  public/api/hooks.json
  public/api/mcp.json
  public/api/rules.json
  public/api/skills.json
  public/api/statuslines.json
  public/openapi.json
  scripts/build/generate-static-api.ts
  src/app/api/all-configurations.json/route.ts
  src/components/infra/performance-optimizer.tsx
  src/lib/constants.ts
  src/lib/middleware/rate-limit-rules.ts
  src/lib/openapi/registry.ts
  src/lib/schemas/middleware.schema.ts
  tests/integration/api/content-api.test.ts
  tests/mocks/handlers/content-handlers.ts
  tests/unit/security/rate-limit-rules.test.ts
Labels: none

Fix analytics tracking + remove static API generation
  package.json
  public/api/agents.json
  public/api/collections.json
  public/api/commands.json
  public/api/hooks.json
  public/api/mcp.json
  public/api/rules.json
  public/api/skills.json
  public/api/statuslines.json
  scripts/build/generate-static-api.ts
  src/lib/actions/track-view.ts
  src/lib/cache.server.ts
  src/lib/services/analytics-queue.server.ts
Labels: security, dependencies

Remove outdated IMPLEMENTATION-SUMMARY.md
  IMPLEMENTATION-SUMMARY.md
Labels: none

Refactor: Consolidate llms.txt routes into a single handler
  scripts/test-llmstxt-migration.ts
  src/app/[[...segments]]/llms.txt/route.ts
Labels: none

Refactor: Remove Vercel cron jobs and use GitHub Actions
  .github/workflows/daily-maintenance.yml
  .github/workflows/weekly-tasks.yml
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/api-docs/llms.txt/route.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/changelog/loading.tsx
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/app/loading.tsx
  src/app/tools/config-recommender/llms.txt/route.ts
  src/middleware.ts
  vercel.json
Labels: security, github-actions

Refactor: Move cron jobs to Vercel config
  .github/workflows/daily-maintenance.yml
  .github/workflows/weekly-tasks.yml
  vercel.json
Labels: github-actions

feat: Optimize static API generation with conditional builds
  next.config.mjs
  package.json
  scripts/build/generate-static-api-conditional.ts
  scripts/build/generate-static-api.ts
  vercel.json
Labels: dependencies

Checkpoint before follow-up message
  config/tools/playwright.config.ts
  scripts/build/generate-static-api-conditional.ts
  scripts/build/generate-static-api.ts
  scripts/test-llmstxt-migration.ts
  src/app/[[...segments]]/llms.txt/route.ts
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/api-docs/llms.txt/route.ts
  src/app/api/cron/daily-maintenance/route.ts
  src/app/api/cron/weekly-tasks/route.ts
  src/app/api/stats/batch/route.ts
  src/app/changelog/[slug]/llms.txt/route.ts
  src/app/changelog/llms.txt/route.ts
  src/app/guides/[category]/[slug]/llms.txt/route.ts
  src/app/guides/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/app/tools/config-recommender/llms.txt/route.ts
  src/hooks/use-prefetch-on-hover.ts
  src/hooks/use-view-counts.ts
  src/lib/cache.server.ts
  src/lib/schemas/middleware.schema.ts
  src/middleware.ts
Labels: security

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'
