Repository JSONbored/claudepro-directory, changes with the labels that .github/labeler.yml gives for each.
All labels: content-submission, security, dependencies, github-actions

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels pull requests based on changed files
#
# Simplified to use only essential, non-overlapping labels
# Previous version had 20+ labels causing excessive duplication

# ========================================
# COMMUNITY CONTRIBUTIONS
# ========================================

# Any community content submission (agents, mcp, commands, rules, hooks, statuslines, collections)
content-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'content/**/*.json'
      - 'templates/content/**'

# ========================================
# TECHNICAL CHANGES
# ========================================

# Security-related changes (middleware, security libs, auth)
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/middleware.ts'
      - 'src/lib/security/**'
      - 'src/lib/actions/**'
      - '.github/workflows/security.yml'

# Dependency updates (package.json, lockfile)
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation only (README, CHANGELOG, docs/, guides/)
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
      - 'content/guides/**/*.mdx'
    - all-globs-to-all-files:
      - '!src/**'
      - '!config/**'
      - '!scripts/**'
      - '!.github/workflows/**'

# GitHub Actions workflows and automation
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/labeler.yml'

chore: update database types + schemas
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
Labels: none

feat: various database performance optimizations
  src/app/[category]/[slug]/page.tsx
  src/app/page.tsx
  src/app/sugar-high.css
  src/app/u/[slug]/page.tsx
  src/components/features/board/board-list-client.tsx
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/stores/notification-store.ts
  src/types/database.types.ts
Labels: none

fix: database optimizations
  next-env.d.ts
  src/app/accessibility/page.tsx
  src/app/account/library/[slug]/edit/page.tsx
  src/app/account/library/[slug]/page.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/app/account/sponsorships/[id]/analytics/page.tsx
  src/app/board/page.tsx
  src/app/community/directory/page.tsx
  src/app/community/page.tsx
  src/app/consulting/page.tsx
  src/app/contact/page.tsx
  src/app/cookies/page.tsx
  src/app/help/page.tsx
  src/app/jobs/page.tsx
  src/app/partner/page.tsx
  src/app/privacy/page.tsx
  src/app/search/page.tsx
  src/app/submit/page.tsx
  src/app/terms/page.tsx
  src/app/trending/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/features/reputation/reputation-breakdown.tsx
  src/components/layout/navigation-command-menu.tsx
  src/components/layout/sidebar/get-sidebar-data.ts
  src/components/layout/sidebar/unified-sidebar.tsx
  src/lib/actions/user.actions.ts
  src/lib/config/category-config.ts
  src/lib/content/supabase-content-loader.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
Labels: security

fix: ISR anonclient issues
  src/app/[category]/[slug]/page.tsx
  src/app/board/page.tsx
  src/app/embed/[category]/[slug]/page.tsx
  src/app/gallery/[category]/page.tsx
  src/app/gallery/page.tsx
  src/app/jobs/page.tsx
  src/app/trending/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/app/u/[slug]/page.tsx
  src/lib/content/supabase-content-loader.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
Labels: none

fix: remove logger from ISR pages/routes
  next-env.d.ts
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/gallery/page.tsx
  src/app/jobs/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/trending/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/layout/announcement-banner-server.tsx
  src/components/layout/layout-content.tsx
  src/components/layout/sidebar/get-sidebar-data.ts
  src/lib/content/supabase-content-loader.ts
  src/lib/seo/metadata-generator.ts
Labels: none

fix: remove CSP nonce
  src/components/shared/structured-data.tsx
  src/components/shared/umami-script.tsx
Labels: none

fix: restore logger
  next-env.d.ts
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/gallery/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
  src/app/trending/page.tsx
  src/app/u/[slug]/page.tsx
  src/lib/content/supabase-content-loader.ts
  src/lib/seo/metadata-generator.ts
Labels: none

fix: logger issue
  next-env.d.ts
  src/lib/supabase/server-anon.ts
Labels: none

feat: screenshot codeblock feature
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/[category]/[slug]/page.tsx
  src/app/sugar-high.css
  src/components/content/json-section-renderer.tsx
  src/components/content/production-code-block.tsx
  src/components/content/unified-detail-page/index.tsx
  src/lib/content/supabase-content-loader.ts
  src/lib/content/syntax-highlighting.ts
  src/lib/supabase/server-anon.ts
  src/lib/utils/screenshot.utils.ts
Labels: dependencies

fix: build + performance
  src/app/page.tsx
  src/components/content/smart-related-content/related-content-client.tsx
  src/lib/schemas/component.schema.ts
  src/lib/utils/content.utils.ts
  turbo.json
Labels: none

feat: extensive logging updates
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/api/revalidate/route.ts
  src/app/page.tsx
  src/lib/actions/content.actions.ts
  src/lib/actions/newsletter-signup.ts
  src/lib/actions/reputation.actions.ts
  src/lib/actions/safe-action.ts
  src/lib/actions/user.actions.ts
Labels: security

fix: database-first migrations
  src/app/[category]/llms.txt/route.ts
  src/components/content/checklist.tsx
  src/components/content/step-guide.tsx
  src/components/content/unified-content-block.tsx
  src/components/content/unified-detail-page/sidebar/category-navigation-card.tsx
  src/components/domain/unified-content-box.tsx
  src/components/features/analytics/metrics-display.tsx
  src/components/template/comparison-table.tsx
  src/components/tools/troubleshooting/diagnostic-flow.tsx
  src/components/tools/troubleshooting/error-table.tsx
  src/lib/actions/content.actions.ts
  src/lib/build/category-processor.server.ts
  src/lib/changelog/parser.ts
  src/lib/content/content-sorting.ts
  src/lib/content/markdown-utils.ts
  src/lib/llms-txt/generator.ts
  src/lib/related-content/service.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/schemas/markdown.schema.ts
  src/lib/utils/content.utils.ts
  src/types/database.types.ts
  turbo.json
Labels: security

fix: various database-first optimizations
  src/app/account/jobs/page.tsx
  src/app/page.tsx
  src/components/content-list-server.tsx
  src/components/content-search-client.tsx
  src/components/content/json-section-renderer.tsx
  src/components/content/step-guide.tsx
  src/components/content/unified-content-block.tsx
  src/components/domain/unified-content-box.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/features/home/index.tsx
  src/components/features/search/unified-search.tsx
  src/components/forms/content-type-field-renderer.tsx
  src/components/layout/navigation-command-menu.tsx
  src/components/layout/navigation.tsx
  src/components/shared/trending-content.tsx
  src/components/template/comparison-table.tsx
  src/components/tools/troubleshooting/error-table.tsx
  src/hooks/use-newsletter.ts
  src/lib/actions/analytics.actions.ts
  src/lib/actions/badges.actions.ts
  src/lib/actions/business.actions.ts
  src/lib/actions/content.actions.ts
  src/lib/actions/reputation.actions.ts
  src/lib/actions/user.actions.ts
  src/lib/forms/submission-form-config.ts
  src/lib/forms/types.ts
  src/lib/icons.tsx
  src/lib/schemas/component.schema.ts
  src/lib/schemas/content-filter.schema.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/schemas/primitives.ts
  src/lib/schemas/shared.schema.ts
  src/types/database.types.ts
Labels: security

feat: migrate /submit templates/functionality -> database
  src/components/forms/submit-form-client.tsx
  src/components/forms/template-selector.tsx
  src/lib/config/templates/agents.json
  src/lib/config/templates/commands.json
  src/lib/config/templates/hooks.json
  src/lib/config/templates/index.ts
  src/lib/config/templates/mcp.json
  src/lib/config/templates/rules.json
  src/lib/config/templates/skills.json
  src/lib/config/templates/statuslines.json
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
Labels: none

fix: further consolodation
  src/lib/llms-txt/content-builder.ts
  src/lib/services/resend.server.ts
  supabase/functions/email-handler/index.ts
Labels: none

chore: dead code elimination
  config/build/tsconfig.json
  next.config.mjs
  package.json
  pnpm-workspace.yaml
  src/components/layout/navigation.tsx
  src/hooks/use-newsletter.ts
  src/lib/auth/auth-helpers.ts
  src/lib/content/markdown-utils.ts
  src/lib/middleware/cron-auth.server.ts
  src/lib/schemas/factories/client-input-schema.factory.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/schemas/primitives/api-cache-primitives.ts
  src/lib/schemas/primitives/content-enums.ts
  src/lib/schemas/primitives/cursor-pagination.schema.ts
  src/lib/security/error-sanitizer.ts
  src/lib/seo/route-scanner.ts
  src/lib/seo/schema-metadata-adapter.ts
  src/lib/services/email-sequence.server.ts
  src/lib/supabase/client.mock.ts
  src/lib/utils/data.utils.ts
  src/lib/utils/integration.utils.ts
  src/lib/utils/slug.utils.ts
  src/lib/validation/content-validator.ts
  src/types/database.types.ts
  turbo.json
Labels: security, dependencies

feat: cleanup github issue templates, consolidate into single template
  .github/ISSUE_TEMPLATE/submit_agent.yml
  .github/ISSUE_TEMPLATE/submit_collection.yml
  .github/ISSUE_TEMPLATE/submit_command.yml
  .github/ISSUE_TEMPLATE/submit_content.yml
  .github/ISSUE_TEMPLATE/submit_hook.yml
  .github/ISSUE_TEMPLATE/submit_mcp.yml
  .github/ISSUE_TEMPLATE/submit_rule.yml
  .github/ISSUE_TEMPLATE/submit_skill.yml
  .github/ISSUE_TEMPLATE/submit_statusline.yml
  templates/content/agents-template-simple.json
  templates/content/agents-template.json
  templates/content/collections-template-simple.json
  templates/content/collections-template.json
  templates/content/commands-template-simple.json
  templates/content/commands-template.json
  templates/content/hooks-template-simple.json
  templates/content/hooks-template.json
  templates/content/mcp-template-simple.json
  templates/content/mcp-template.json
  templates/content/rules-template-simple.json
  templates/content/rules-template.json
  templates/content/skills-template-simple.json
  templates/content/skills-template.json
  templates/content/statuslines-template-simple.json
  templates/content/statuslines-template.json
  templates/service-worker.template.js
Labels: content-submission

chore: refactor + update gh workflows, issue templates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/database_backend.yml
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/ui_ux_improvement.yml
  .github/actions/setup-node-deps/action.yml
  .github/pull_request_template.md
  .github/workflows/build-reusable.yml
  .github/workflows/bundle-analysis.yml
  .github/workflows/cache-maintenance.yml
  .github/workflows/changelog-automation.yml
  .github/workflows/changes-filter.yml
  .github/workflows/dead-code-detection.yml
  .github/workflows/pr-content-extraction.yml
  .github/workflows/security.yml
  config/tools/lighthouserc.cjs
  next-env.d.ts
Labels: security, github-actions

chore: fix + cleanups
  biome.json
  next-env.d.ts
  package.json
  scripts/build/backup-database.ts
  scripts/build/generate-readme.ts
  scripts/build/generate-service-worker.ts
  scripts/build/sync-database-schema.ts
  scripts/build/templates/service-worker.template.js
  scripts/github-actions/check-quality-gates.sh
Labels: dependencies

perf: optimizations + cleanup of dead code / comments
  src/app/[category]/[slug]/llms.txt/route.ts
  src/app/[category]/llms.txt/route.ts
  src/app/llms.txt/route.ts
  src/app/submit/page.tsx
  src/components/content/step-guide.tsx
  src/components/content/unified-detail-page/index.tsx
  src/components/shared/code-block-server.tsx
  src/lib/actions/business.actions.ts
  src/lib/content/syntax-highlighting.ts
  src/lib/error-handler.ts
  src/lib/error-handler/client.ts
  src/lib/logger.ts
  src/lib/schemas/error.schema.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/schemas/logger.schema.ts
  src/lib/schemas/middleware.schema.ts
  src/lib/utils/batch.utils.ts
  src/middleware.ts
  src/types/database.types.ts
Labels: security

perf: additional consolidations + bug fixes
  src/app/(auth)/auth/callback/route.ts
  src/app/page.tsx
  src/components/content/unified-content-section.tsx
  src/lib/constants/animations.ts
  src/lib/constants/routes.ts
  src/lib/schemas/content-filter.schema.ts
  src/lib/schemas/transforms/data-normalization.schema.ts
Labels: none

fix: additional cleanups/consolidations
  src/components/content/unified-content-section.tsx
  src/components/infra/unified-tracker.tsx
  src/lib/actions/user.actions.ts
  src/lib/config/seo-config.ts
  src/lib/constants/cache.ts
  src/lib/schemas/component.schema.ts
  src/lib/schemas/env.schema.mock.ts
  src/lib/schemas/personalization.schema.ts
  src/lib/schemas/shared.schema.ts
  src/lib/structured-data/schema-types.ts
  src/lib/types/content-type-config.ts
  src/lib/utils/content.utils.ts
Labels: security

feat: add supabase edge function for view + copy tracking
  src/lib/analytics/client.ts
  supabase/functions/analytics/index.ts
Labels: none

fix: coderabbit issues for github workflows
  .github/actions/setup-node-deps/action.yml
  .github/workflows/cache-maintenance.yml
  .github/workflows/pr-content-extraction.yml
  .github/workflows/security.yml
Labels: security, github-actions

fix: workflow issues
  .github/actions/setup-node-deps/action.yml
  .github/workflows/pr-content-extraction.yml
  .github/workflows/security.yml
  src/app/submit/page.tsx
Labels: security, github-actions

fix: final coderabbit fixes
  .github/actions/setup-node-deps/action.yml
  .github/workflows/pr-content-extraction.yml
  config/content/discovery/run-discovery.ts
  config/content/discovery/trend-detection.ts
  config/content/workflow-helpers.ts
Labels: github-actions

fix: simplify github actions + fix auth bug
  .github/workflows/build-reusable.yml
  .github/workflows/security.yml
  scripts/utils/env.ts
  src/components/domain/unified-button.tsx
Labels: security, github-actions

fix: codeQL fixes
  src/lib/content/syntax-highlighting.ts
  src/lib/llms-txt/markdown-to-plain.ts
  src/lib/transformers/skill-to-md.ts
  supabase/functions/analytics/index.ts
Labels: none

fix: security workflow
  .github/workflows/security.yml
Labels: security, github-actions

fix(auth): resolve viewport scrolling on login pages
  package.json
  pnpm-lock.yaml
  src/app/(auth)/layout.tsx
  src/app/layout.tsx
  src/components/layout/layout-content.tsx
Labels: dependencies

fix: email handler edge functions tweaks
  supabase/functions/_shared/layouts/base-layout.tsx
  supabase/functions/_shared/utils/response.ts
  supabase/functions/email-handler/index.ts
Labels: none

feat: update auth sign-in design
  next-env.d.ts
  src/app/(auth)/login/page.tsx
  src/components/auth/auth-brand-panel.tsx
  src/components/auth/auth-form-panel.tsx
  src/components/auth/auth-mobile-header.tsx
  src/components/auth/oauth-provider-button.tsx
  src/components/auth/split-auth-layout.tsx
  src/components/layout/layout-content.tsx
  src/lib/icons.tsx
Labels: none

fix: edge function tweaks
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/features/home/index.tsx
  src/components/layout/layout-content.tsx
  src/hooks/use-newsletter.ts
  supabase/functions/_shared/database.types.ts
  supabase/functions/_shared/utils/response.ts
  supabase/functions/analytics/index.ts
  supabase/functions/email-handler/index.ts
Labels: none

fix: coderabbit qualms + script hashing system
  .gitignore
  .schema-dump-hash
  package.json
  scripts/admin/create-content.ts
  scripts/admin/review-submissions.ts
  scripts/build/backup-database.ts
  scripts/build/generate-category-config.ts
  scripts/build/generate-service-worker.ts
  scripts/build/generate-skill-packages.ts
  scripts/build/sync-database-schema.ts
  scripts/utils/build-cache-cli.ts
  scripts/utils/build-cache.ts
  scripts/utils/hash-cache.ts
  src/app/api/gallery/route.ts
  src/app/api/status/route.ts
  src/components/features/gallery/gallery-masonry-grid.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/lib/content/supabase-content-loader.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
  supabase/functions/email-handler/index.ts
  supabase/functions/gallery/index.ts
  supabase/functions/status/index.ts
  turbo.json
Labels: dependencies

fix: coderabbit gripes
  public/service-worker.js
  scripts/utils/build-cache-cli.ts
  scripts/utils/build-cache.ts
  src/app/page.tsx
  src/components/domain/unified-card-grid.tsx
  src/components/features/gallery/gallery-masonry-grid.tsx
  src/components/features/growth/unified-newsletter-capture.tsx
  src/components/features/home/index.tsx
  src/components/features/home/tabs-section.tsx
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/types/database.types.ts
  supabase/functions/content-paginated/index.ts
  supabase/functions/email-handler/index.ts
  supabase/functions/gallery/index.ts
  supabase/functions/status/index.ts
  turbo.json
Labels: none

fix: remove dead code + CORS issues
  src/lib/utils/data.utils.ts
  src/lib/utils/embed.utils.ts
  supabase/functions/content-paginated/index.ts
Labels: none

fix: read progress + coderabbit gripes w/ edge functions
  src/components/content/read-progress.tsx
  src/components/domain/unified-card-grid.tsx
  src/components/shared/scroll-reveal.tsx
  src/components/shared/section-progress.tsx
  src/hooks/use-scroll-animation.ts
  supabase/functions/content-paginated/index.ts
  supabase/functions/email-handler/index.ts
  supabase/functions/status/index.ts
Labels: none

fix: homepage issues
  src/components/features/home/index.tsx
  supabase/functions/content-paginated/index.ts
Labels: none

fix: homepage "All" section scroll
  src/components/domain/unified-card-grid.tsx
  src/components/features/home/index.tsx
  src/components/features/home/tabs-section.tsx
  supabase/functions/content-paginated/index.ts
  supabase/functions/email-handler/index.ts
Labels: none

refactor: remove badge + reputation system
  .gitignore
  next.config.mjs
  src/app/[category]/[slug]/page.tsx
  src/app/account/activity/page.tsx
  src/app/account/page.tsx
  src/app/account/settings/page.tsx
  src/app/for-you/page.tsx
  src/app/page.tsx
  src/app/u/[slug]/collections/[collectionSlug]/page.tsx
  src/app/u/[slug]/page.tsx
  src/components/content/production-code-block.tsx
  src/components/content/read-progress.tsx
  src/components/content/unified-detail-page/detail-header-actions.tsx
  src/components/domain/config-card.tsx
  src/components/domain/profile-card.tsx
  src/components/domain/unified-button.tsx
  src/components/features/badges/badge-grid.tsx
  src/components/features/badges/badge-notification.tsx
  src/components/features/personalization/for-you-feed-client.tsx
  src/components/features/reputation/activity-timeline.tsx
  src/components/features/reputation/reputation-breakdown.tsx
  src/components/features/search/unified-search.tsx
  src/components/features/user-activity/activity-timeline.tsx
  src/components/infra/unified-tracker.tsx
  src/components/tools/recommender/quiz-form.tsx
  src/lib/actions/badges.actions.ts
  src/lib/actions/reputation.actions.ts
  src/lib/analytics/client.ts
  src/lib/edge/client.ts
  src/lib/schemas/generated/db-schemas.d.ts
  src/lib/schemas/generated/db-schemas.ts
  src/lib/search/server-search.ts
  src/lib/utils/content.utils.ts
  src/lib/utils/embed.utils.ts
  src/lib/utils/share.utils.ts
  src/types/database.types.ts
  supabase/functions/email-handler/index.ts
Labels: security
