Repository JSONbored/claudepro-directory, pull requests merged in 2025-10, with the labels that each got.

#38 chore: fix README badges
  CHANGELOG.md
  README.md
  public/sitemap.xml
  src/app/(seo)/compare/[slug]/page.tsx
  src/app/(seo)/guides/[...slug]/page.tsx
  src/app/(seo)/guides/page.tsx
  src/app/[category]/[slug]/page.tsx
  src/app/[category]/page.tsx
  src/app/api/[contentType]/route.ts
  src/app/api/all-configurations.json/route.ts
  src/app/api/guides/trending/route.ts
  src/app/collections/[slug]/page.tsx
  src/app/collections/page.tsx
  src/app/community/page.tsx
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/jobs/[slug]/page.tsx
  src/app/jobs/page.tsx
  src/app/page.tsx
  src/app/partner/page.tsx
  src/app/trending/page.tsx
  src/components/layout/navigation.tsx
  src/components/shared/umami-script.tsx
  src/middleware.ts
Labels: documentation

#39 fix: restore Umami analytics with proper async rendering and defer strategy
  .github/actions/setup-node-deps/action.yml
  .github/labeler.yml
  .github/workflows/bundle-analysis.yml
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/security.yml
  CHANGELOG.md
  config/tools/lighthouserc.json
  src/app/layout.tsx
  src/components/shared/umami-script.tsx
Labels: bug, documentation, security, performance, github-actions, ui, config

#30 [MCP] Add Reddit MCP Buddy - Reddit browsing and analysis server
  content/mcp/reddit-mcp-buddy.json
Labels: community-mcp

#44 feat: newsletter integration with Resend + fix homepage infinite scroll
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/features/home/index.tsx
  src/components/features/home/tabs-section.tsx
  src/components/shared/footer-newsletter-bar.tsx
  src/components/shared/infinite-scroll-container.tsx
  src/components/shared/newsletter-form.tsx
  src/lib/actions/newsletter-signup.ts
  src/lib/schemas/env.schema.ts
  src/lib/schemas/newsletter.schema.ts
  src/lib/services/resend.service.ts
Labels: documentation, dependencies, security
